---
import Verticalgrid from "../assets/VerticalGrid.astro";
---

<section aria-labelledby="Featurethree" id="Featurethree " class="relative">
  <Verticalgrid />
  <div
    class="max-w-7xl px-8 md:px-12 lg:px-32 mx-auto py-32 relative space-y-24 lg:py-56">
    <div class="max-w-2xl">
      <div>
        <span
          class="text-transparent bg-clip-text font-medium tracking-widest bg-gradient-to-r from-cyan-400 via-teal-500 to-indigo-500 text-xs uppercase"
          >integrations</span
        >
        <p class="text-3xl mt-8 font-normal text-white">
          Dozens of apps. Endless possibilities.
        </p>
        <p class="mt-4 text-slate-400 max-w-xl">
          Enhance your Navy experience with a wide variety of add-ons and
          integrations. From everyday essentials to powerful pro workflows.
        </p>
      </div>
    </div>
    <ul
      class="grid grid-cols-2 gap-6 mt-12 list-none lg:grid-cols-4 lg:gap-x-12 lg:gap-y-32 lg:mt-24"
      role="list">
      <li>
        <div>
          <img src="/integrations/stripe.svg" alt="" />
          <p class="text-lg font-medium mt-4 text-white lg:text-xl">Stripe</p>
        </div>
        <div class="mt-2 text-sm text-slate-400">
          A payment processing platform for online businesses.
          <p class="mt-4">
            <a
              href="/integrations-details"
              class="text-sm leading-6 text-sky-400 hover:text-white"
              >Read more <span aria-hidden="true">&rarr;</span></a
            >
          </p>
        </div>
      </li>
      <li>
        <div>
          <img src="/integrations/shopify.svg" alt="" />
          <p class="text-lg font-medium mt-4 text-white lg:text-xl">Shopify</p>
        </div>
        <div class="mt-2 text-sm text-slate-400">
          An e-commerce platform for online stores.
          <p class="mt-4">
            <a
              href="/integrations-details"
              class="text-sm leading-6 text-sky-400 hover:text-white"
              >Read more <span aria-hidden="true">&rarr;</span></a
            >
          </p>
        </div>
      </li>
      <li>
        <div>
          <img src="/integrations/paypal.svg" alt="" />
          <p class="text-lg font-medium mt-4 text-white lg:text-xl">PayPal</p>
        </div>
        <div class="mt-2 text-sm text-slate-400">
          An online payment system for sending and receiving money.
          <p class="mt-4">
            <a
              href="/integrations-details"
              class="text-sm leading-6 text-sky-400 hover:text-white"
              >Read more <span aria-hidden="true">&rarr;</span></a
            >
          </p>
        </div>
      </li>
      <li>
        <div>
          <img src="/integrations/yandex_kassa.svg" alt="" />
          <p class="text-lg font-medium mt-4 text-white lg:text-xl">
            Yandex Kassa
          </p>
        </div>
        <div class="mt-2 text-sm text-slate-400">
          A payment gateway service for online transactions in Russia.
          <p class="mt-4">
            <a
              href="/integrations-details"
              class="text-sm leading-6 text-sky-400 hover:text-white"
              >Read more <span aria-hidden="true">&rarr;</span></a
            >
          </p>
        </div>
      </li>
      <li>
        <div>
          <img src="/integrations/alfa_bank.svg" alt="" />
          <p class="text-lg font-medium mt-4 text-white lg:text-xl">
            Alfa Bank
          </p>
        </div>
        <div class="mt-2 text-sm text-slate-400">
          A commercial bank in Russia offering financial services and so on.
          <p class="mt-4">
            <a
              href="/integrations-details"
              class="text-sm leading-6 text-sky-400 hover:text-white"
              >Read more <span aria-hidden="true">&rarr;</span></a
            >
          </p>
        </div>
      </li>
      <li>
        <div>
          <img src="/integrations/mastercard.svg" alt="" />
          <p class="text-lg font-medium mt-4 text-white lg:text-xl">
            Mastercard
          </p>
        </div>
        <div class="mt-2 text-sm text-slate-400">
          A global payment technology company providing financial services
          <p class="mt-4">
            <a
              href="/integrations-details"
              class="text-sm leading-6 text-sky-400 hover:text-white"
              >Read more <span aria-hidden="true">&rarr;</span></a
            >
          </p>
        </div>
      </li>
      <li>
        <div>
          <img src="/integrations/webmoney.svg" alt="" />
          <p class="text-lg font-medium mt-4 text-white lg:text-xl">Webmoney</p>
        </div>
        <div class="mt-2 text-sm text-slate-400">
          An online payment system for conducting secure transactions over the
          internet.
          <p class="mt-4">
            <a
              href="/integrations-details"
              class="text-sm leading-6 text-sky-400 hover:text-white"
              >Read more <span aria-hidden="true">&rarr;</span></a
            >
          </p>
        </div>
      </li>
      <li>
        <div>
          <img src="/integrations/world_pay.svg" alt="" />
          <p class="text-lg font-medium mt-4 text-white lg:text-xl">
            World Pay
          </p>
        </div>
        <div class="mt-2 text-sm text-slate-400">
          A payment processing company for businesses of all sizes, they matter.
          <p class="mt-4">
            <a
              href="/integrations-details"
              class="text-sm leading-6 text-sky-400 hover:text-white"
              >Read more <span aria-hidden="true">&rarr;</span></a
            >
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
