---
import Blurgradienttop from "../assets/Blurgradienttop.astro";
---

<section aria-labelledby="Featurethree" id="Featurethree " class="relative">
  <Blurgradienttop />
  <div class="max-w-7xl px-8 md:px-12 lg:px-32 mx-auto py-32 relative lg:py-56">
    <div class="max-w-2xl">
      <div>
        <span
          class="text-transparent bg-clip-text font-medium tracking-widest bg-gradient-to-r from-cyan-400 via-teal-500 to-indigo-500 text-xs uppercase"
          >Help Center</span
        >
        <p class="text-3xl mt-8 font-normal text-white">Settings & Billing</p>
      </div>
    </div>
    <ul
      class="grid grid-cols-1 gap-6 mt-12 list-none lg:grid-cols-3 lg:gap-12 lg:mt-24"
      role="list">
      <li>
        <div>
          <p class="text-lg font-medium text-white lg:text-xl">
            Workspace Administration
          </p>
        </div>
        <div class="mt-2 text-base text-slate-400">
          <ul class="list-disc">
            <li>
              <a
                href="/help-details"
                class="text-sky-400 hover:text-white duration-200"
                >How to access admin insights
              </a>
            </li><li>
              <a
                href="/help-details"
                class="text-sky-400 hover:text-white duration-200"
                >How to invite Creator Lite members on Business
              </a>
            </li><li>
              <a
                href="/help-details"
                class="text-sky-400 hover:text-white duration-200"
                >How to make it easy for your team to join your Workspace
              </a>
            </li><li>
              <a
                href="/help-details"
                class="text-sky-400 hover:text-white duration-200"
                >How to use 's privacy settings
              </a>
            </li><li>
              <a
                href="/help-details"
                class="text-sky-400 hover:text-white duration-200"
                >How to transfer Admins when an Admin has left your organization
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <div>
          <p class="text-lg font-medium text-white lg:text-xl">
            Account Settings
          </p>
        </div>
        <div class="mt-2 text-base text-slate-400">
          <ul class="list-disc">
            <li>
              <a
                href="/help-details"
                class="text-sky-400 hover:text-white duration-200"
                >How to change your account email
              </a>
            </li><li>
              <a
                href="/help-details"
                class="text-sky-400 hover:text-white duration-200"
                >How to leave a Workspace
              </a>
            </li><li>
              <a
                href="/help-details"
                class="text-sky-400 hover:text-white duration-200"
                >How to delete your account
              </a>
            </li><li>
              <a
                href="/help-details"
                class="text-sky-400 hover:text-white duration-200"
                >How to edit your personal account settings
              </a>
            </li><li>
              <a
                href="/help-details"
                class="text-sky-400 hover:text-white duration-200"
                >How to transfer Admins when an Admin has left your organization
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <div>
          <p class="text-lg font-medium text-white lg:text-xl">
            Billing & Payment
          </p>
        </div>
        <div class="mt-2 text-base text-slate-400">
          <ul class="list-disc">
            <li>
              <a
                href="/help-details"
                class="text-sky-400 hover:text-white duration-200"
                >’s Billing Policy (Business Plans)
              </a>
            </li><li>
              <a
                href="/help-details"
                class="text-sky-400 hover:text-white duration-200"
                >Where to find invoice and update your billing information
              </a>
            </li><li>
              <a
                href="/help-details"
                class="text-sky-400 hover:text-white duration-200"
                >How to manage your team's billing
              </a>
            </li><li>
              <a
                href="/help-details"
                class="text-sky-400 hover:text-white duration-200">
                Billing FAQ
              </a>
            </li><li>
              <a
                href="/help-details"
                class="text-sky-400 hover:text-white duration-200"
                >How to downgrade / cancel your plan
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
