---
import Verticalgrid from "../assets/VerticalGrid.astro";
import Blurgradientleft from "../assets/Blurgradientleft.astro";
---

<section aria-labelledby="hero" id="hero " class="relative">
  <Verticalgrid />
  <section>
    <Blurgradientleft />
    <div
      class="relative items-center w-full px-5 py-32 mx-auto md:px-12 lg:px-16 max-w-7xl lg:pb-16 lg:pt-56">
      <div class="max-w-5xl mx-auto">
        <div class="text-left md:text-center">
          <div class="max-w-xl lg:items-end gap-6 lg:gap-12 mx-auto">
            <div>
              <span
                class="text-transparent bg-clip-text font-medium tracking-widest bg-gradient-to-r from-cyan-400 via-teal-500 to-indigo-500 text-xs uppercase"
                >Tuist</span
              ><p class="text-3xl mt-8 font-normal text-white">
                A Swifty toolchain to build better Apple apps faster
              </p>
            </div>
          </div>
          <div
            class="flex flex-col gap-3 sm:flex-row lg:items-center justify-center lg:justify-center mt-12">
            <div class="flex flex-col sm:flex-row">
              <a
                class="inline-flex items-center justify-center w-full px-6 py-3 text-center text-white hover:to-indigo-400 duration-200 bg-gradient-to-r from-sky-400 to-indigo-500 font-medium hover:bg-white/5 rounded-xl hover:text-white focus:outline-none focus-visible:outline-black focus-visible:ring-black"
                href="/overview"
                >Get started
              </a>
            </div>
            <div class="flex flex-col sm:flex-row">
              <a
                class="inline-flex items-center justify-center px-6 py-3 font-normal text-white bg-white/5 rounded-xl group focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 hover:bg-transparent duration-200 border-2 border-white/10 active:bg-cyan-50 active:text-white focus-visible:outline-cyan-50 hover:border-white hover:text-white"
                href="https://lexingtonthemes.lemonsqueezy.com/checkout/buy/cad98266-24b3-47fd-99a6-e65ad9af37f6"
                >Users &nbsp; &nbsp; &rarr;
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
