---
import Blurgradientleft from "../assets/Blurgradientleft.astro";
import Verticalgrid from "../assets/VerticalGrid.astro";
---

<section aria-labelledby="hero" id="hero " class="relative">
  <Verticalgrid />
  <section>
    <Blurgradientleft />
    <div
      class="relative items-center w-full px-5 py-12 mx-auto md:px-12 lg:px-16 max-w-7xl lg:pb-32 lg:pt-56">
      <div class="max-w-5xl mx-auto">
        <div class="grid grid-cold-1 xl:grid-cols-2 gap-12 items-end">
          <div class="max-w-xl lg:items-end gap-6 lg:gap-12">
            <div>
              <div class="lg:inline-flex items-center gap-3">
                <p
                  class="bg-gradient-to-r from-cyan-400 via-cyan-500 to-indigo-500 text-transparent bg-clip-text lg:pl-4 lg:border-l border-white mt-3 lg:mt-0">
                  Tuist
                </p>
              </div>
              <p class="text-2xl mt-12 font-normal tracking-tight text-white">
                Your missing <span
                  class="lg:block">
                  Apple platform team.</span
                >
              </p>
            </div>
          </div>
          <div
            class="flex flex-col gap-3 sm:flex-row lg:items-center xl:justify-end">
            <div class="flex">
              <a
                class="inline-flex items-center justify-center w-full px-6 py-3 text-center text-white hover:to-indigo-400 duration-200 bg-gradient-to-r from-sky-400 to-indigo-500 font-medium hover:bg-white/5 rounded-xl hover:text-white focus:outline-none focus-visible:outline-black focus-visible:ring-black"
                href="/overview"
                >See all pages &nbsp; &nbsp; &rarr;
              </a>
            </div>
            <div class="text-left">
              <p class="text-white/70 text-sm">
                <span class="block">50+ Ready made demo pages</span>
                <span class="block">100+ sections</span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div
        class="relative items-center w-full mx-auto max-w-7xl mt-12 lg:p-10 lg:rounded-5xl lg:border border-white/10"
        style="">
        <img
          class="w-full bg-neutral-300 rounded-xl lg:rounded-3xl object-cover shadow-2xl shadow-black/80"
          src="https://linear.app/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fhero%404x.15e3a396.jpg&w=3840&q=75"
          alt=""
        />
      </div>
    </div>
  </section>
</section>
