---
import Blurgradientleft from "../assets/Blurgradientleft.astro";
import Verticalgrid from "../assets/VerticalGrid.astro";
---

<section
  aria-labelledby="cta"
  id="cta "
  class="relative border-t border-white/5 overflow-hidden">
  <Verticalgrid />
  <Blurgradientleft />
  <div class="max-w-7xl px-8 md:px-12 lg:px-32 mx-auto py-12 lg:py-24 relative">
    <div
      class="grid grid-cols-1 gap-6 lg:grid-cols-2 lg:gap-24 border border-white/5 bg-vulcan-900/50 rounded-3xl overflow-hidden p-4 lg:p-20">
      <div
        class="relative items-center gap-12 m-auto lg:inline-flex md:order-first">
        <div class="max-w-xl text-center lg:text-left">
          <div>
            <div class="lg:inline-flex items-center gap-3">
              <p
                class="bg-gradient-to-r from-cyan-400 via-cyan-500 to-indigo-500 text-transparent bg-clip-text lg:pl-4 lg:border-l border-white mt-3 lg:mt-0">
                Powered by AI research
              </p>
            </div>
            <p
              class="sm:text-2xl xl:text-4xl mt-12 font-normal tracking-tight text-white">
              Track your daily progress, highlights, and improvements
            </p>
            <div
              class="flex flex-col sm:flex-row mt-12 justify-center lg:justify-start">
              <a
                href="/signup"
                class="inline-flex items-center justify-center px-6 py-3 text-center text-white hover:to-indigo-400 duration-200 bg-gradient-to-r from-sky-400 to-indigo-500 font-medium hover:bg-white/5 rounded-xl hover:text-white focus:outline-none focus-visible:outline-black focus-visible:ring-black">
                Get started now &nbsp;&nbsp; &rarr;
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="order-first hidden lg:block w-full mt-0 relative">
        <img
          class="object-cover lg:absolute object-center w-full mx-auto lg:ml-auto shadow-2xl"
          alt="hero"
          src="/assets/card3.svg"
        />
      </div>
    </div>
  </div>
</section>
