<section aria-labelledby="cta" id="cta ">
  <div class="max-w-7xl px-8 md:px-12 lg:px-32 mx-auto py-12 relative">
    <div class="relative items-center">
      <div class="lg:inline-flex lg:items-center justify-between w-full">
        <div class="max-w-xl">
          <p class="text-4xl font-normal tracking-tight text-white">
            You belong among the elite
          </p>
        </div>
        <div class="flex flex-col sm:flex-row mt-12 lg:mt-0 lg:ml-auto">
          <a
            href="/signup"
            class="inline-flex items-center justify-center px-6 py-3 text-center text-white hover:to-indigo-400 duration-200 bg-gradient-to-r from-sky-400 to-indigo-500 font-medium hover:bg-white/5 rounded-xl hover:text-white focus:outline-none focus-visible:outline-black focus-visible:ring-black">
            Sign up for free &nbsp;&nbsp; &rarr;
          </a>
        </div>l
      </div>
    </div>
  </div>
</section>
