<section>
  <div class="max-w-7xl px-8 md:px-12 lg:px-32 mx-auto py-32 lg:pt-56">
    <div class="relative max-w-3xl">
      <span
        class="text-transparent bg-clip-text font-medium tracking-widest bg-gradient-to-r from-cyan-400 via-cyan-500 to-indigo-500 text-xs uppercase"
        >LAST UPDATED OCTOBER 23, 2023</span
      >
      <p class="text-3xl mt-8 font-normal text-white">
        About Tuist GmbH
      </p>
    </div>
  </div>
</section>

<section class="relative">
  <div class="max-w-7xl px-8 md:px-12 lg:px-32 mx-auto pb-12 md:py-12 relative">
    <div class="grid grid-cols-1 gap-10 xl:gap-24">
      <div
        class="prose prose-strong:text-white prose-blockquote:border-l-white prose-a:text-cyan-500 hover:prose-a:text-white prose-headings:font-normal prose-headings:text-white prose-li:marker:text-cyan-500 text-slate-400 prose-code:text-white prose-blockquote:text-white/70 max-w-max"
      >
        <h2>About the company</h2>
        <p>
          After 7 years building a solution that strikes the right balance
          between cost and utility for maintaining and evolving Xcode projects,
          Tuist, in 2023 we formed a company in Germany, <a
            href="https://www.firminform.de/unternehmen/Tuist-GmbH-Berlin"
            >Tuist GmbH</a
          >, to fund the development of Tuist through a set of complementary
          products and services, one of which is <a href="/cloud">Tuist Cloud</a
          >.
        </p>

        <p>
          Our <b>mission</b> is to help organizations scale the development of apps
          with Apple's tooling by providing a unified and accessible toolchain.
        </p>

        <p>
          Built on open principles, Tuist GmbH is committed to offering flexible
          solutions that seamlessly integrate with the whole mobile ecosystem,
          while fostering a welcoming community for our users to grow and
          succeed through open collaboration, governance, and transparency.
        </p>

        <p>
          The company is registered in Finanzamt für Körperschaften III, 12099 Berlin:
          <ul>
            <li>Tax ID: 37/565/51255</li>
            <li>VAT ID: DE365569867</li>
          </ul>
        </p>

        <h2>Our leadership</h2>

        <div class="flex flex-col md:flex-row gap-x-10">
          <div class="flex flex-col items-center">
            <img width="200" class="rounded-full" src="https://2.gravatar.com/avatar/7a08cc9a74120401f8b8eafd68a9afe64300878c76736f545cd978cf5c21bb22?size=512"/>
            <h3 class="mt-0">Pedro Piñera</h3>
            <p>CEO and Co-Founder</p>
            <div class="flex flex-row gap-x-2">
              <a href="https://x.com/pepicrft">
                <svg class="fill-white w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z"/></svg>
              </a>
              <a href="https://www.linkedin.com/in/pedro-pi%C3%B1era-buendia-9765a9125/">
                <svg class="fill-white w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z"/></svg>
              </a>
              <a href="https://mastodon.social/@pepicrft">
                <svg class="fill-white w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M433 179.1c0-97.2-63.7-125.7-63.7-125.7-62.5-28.7-228.6-28.4-290.5 0 0 0-63.7 28.5-63.7 125.7 0 115.7-6.6 259.4 105.6 289.1 40.5 10.7 75.3 13 103.3 11.4 50.8-2.8 79.3-18.1 79.3-18.1l-1.7-36.9s-36.3 11.4-77.1 10.1c-40.4-1.4-83-4.4-89.6-54a102.5 102.5 0 0 1 -.9-13.9c85.6 20.9 158.7 9.1 178.8 6.7 56.1-6.7 105-41.3 111.2-72.9 9.8-49.8 9-121.5 9-121.5zm-75.1 125.2h-46.6v-114.2c0-49.7-64-51.6-64 6.9v62.5h-46.3V197c0-58.5-64-56.6-64-6.9v114.2H90.2c0-122.1-5.2-147.9 18.4-175 25.9-28.9 79.8-30.8 103.8 6.1l11.6 19.5 11.6-19.5c24.1-37.1 78.1-34.8 103.8-6.1 23.7 27.3 18.4 53 18.4 175z"/></svg>
              </a>
            </div>
          </div>
          <div class="flex flex-col items-center">
            <img width="200" class="rounded-full" src="https://1.gravatar.com/avatar/1d02d0e1c1b7cbac71b31251560ea8d019426277940597991eb4df2c8e0907a2?size=512"/>
            <h3 class="mt-0">Marek Fořt</h3>
            <p>CTO and Co-Founder</p>
            <div class="flex flex-row gap-x-2">
              <a href="https://twitter.com/marekfort">
                <svg class="fill-white w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z"/></svg>
              </a>
              <a href="https://www.linkedin.com/in/marek-f-71853b89/">
                <svg class="fill-white w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z"/></svg>
              </a>
              <a href="https://mastodon.online/@marekfort">
                <svg class="fill-white w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M433 179.1c0-97.2-63.7-125.7-63.7-125.7-62.5-28.7-228.6-28.4-290.5 0 0 0-63.7 28.5-63.7 125.7 0 115.7-6.6 259.4 105.6 289.1 40.5 10.7 75.3 13 103.3 11.4 50.8-2.8 79.3-18.1 79.3-18.1l-1.7-36.9s-36.3 11.4-77.1 10.1c-40.4-1.4-83-4.4-89.6-54a102.5 102.5 0 0 1 -.9-13.9c85.6 20.9 158.7 9.1 178.8 6.7 56.1-6.7 105-41.3 111.2-72.9 9.8-49.8 9-121.5 9-121.5zm-75.1 125.2h-46.6v-114.2c0-49.7-64-51.6-64 6.9v62.5h-46.3V197c0-58.5-64-56.6-64-6.9v114.2H90.2c0-122.1-5.2-147.9 18.4-175 25.9-28.9 79.8-30.8 103.8 6.1l11.6 19.5 11.6-19.5c24.1-37.1 78.1-34.8 103.8-6.1 23.7 27.3 18.4 53 18.4 175z"/></svg>
              </a>
            </div>
          </div>
        </div>


        <h2>Tax certificates</h2>
        <p>
          The following certificates are available for download:
        </p>
        <ul>
          <li>
            <a href="/documents/W-8BEN-E.pdf">W-8BEN-E certificate</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
