---
import {useTranslations, getLangFromUrl} from "../../i18n/utils"

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---
<section
  aria-labelledby="faq"
  id="faq-section"
  class="relative scroll-mt-24 border-y border-white/5">
  <div class="max-w-7xl px-8 md:px-12 lg:px-32 mx-auto py-12 lg:py-24 relative">
    <section
      class="grid grid-cols-1 items-baseline gap-y-10 gap-x-6 lg:grid-cols-3">
      <div class="md:pr-12">
        <span
          class="text-transparent bg-clip-text font-medium tracking-widest bg-gradient-to-r from-cyan-400 via-cyan-500 to-indigo-500 text-xs uppercase"
          >{t('home.faq.subtitle')}</span
        >
        <p class="text-2xl md:text-3xl mt-8 font-normal text-white">
          {t('home.faq.title')}
        </p>
        <p class="max-w-2xl mt-4 text-sm text-slate-400">
          {t('home.faq.description')}
        </p>
      </div>
      <div class="col-span-2">
        <div x-data="{ active: false }" class="mx-auto w-full space-y-4">
          <div class="space-y-3 divide-y divide-white/5">
            <div class="font-semibold text-white">Tuist</div>

            <div
              class=""
              x-data="{
          id: 1,
          get expanded() {
              return this.active === this.id
          },
          set expanded(value) {
              this.active = value ? this.id : null
          },
      }"
              role="region">
              <h2>
                <button
                  x-on:click="expanded = !expanded"
                  :aria-expanded="expanded"
                  class="flex w-full items-center justify-between tracking-wide text-sm text-slate-400 focus:text-cyan-400 py-3 text-left"
                  aria-expanded="false">
                  <span>{t('home.faq.tuist.question-1')}</span>
                  <span
                    x-show="expanded"
                    aria-hidden="true"
                    class="ml-4"
                    style="display: none;"
                    >−
                  </span>
                  <span x-show="!expanded" aria-hidden="true" class="ml-4"
                    >+
                  </span>
                </button>
              </h2>

              <div x-show="expanded" x-collapse="" style="display: none;">
                <div class="text-sm text-slate-400 pt-5">
                  {t('home.faq.tuist.answer-1')}
                </div>
              </div>
            </div>

            <div
              x-data="{
        id: 2,
        get expanded() {
            return this.active === this.id
        },
        set expanded(value) {
            this.active = value ? this.id : null
        },
    }"
              role="region">
              <h2>
                <button
                  x-on:click="expanded = !expanded"
                  :aria-expanded="expanded"
                  class="flex w-full items-center justify-between tracking-wide text-sm text-slate-400 focus:text-cyan-400 py-3 text-left"
                  aria-expanded="false">
                  <span>{t('home.faq.tuist.question-2')}</span>
                  <span
                    x-show="expanded"
                    aria-hidden="true"
                    class="ml-4"
                    style="display: none;"
                    >−
                  </span>
                  <span x-show="!expanded" aria-hidden="true" class="ml-4"
                    >+
                  </span>
                </button>
              </h2>

              <div x-show="expanded" x-collapse="" style="display: none;">
                <div class="text-sm text-slate-400 pt-5">
                  {t('home.faq.tuist.answer-2')}
                </div>
              </div>
            </div>
            <div
              x-data="{
        id: 3,
        get expanded() {
            return this.active === this.id
        },
        set expanded(value) {
            this.active = value ? this.id : null
        },
    }"
              role="region">
              <h2>
                <button
                  x-on:click="expanded = !expanded"
                  :aria-expanded="expanded"
                  class="flex w-full items-center justify-between tracking-wide text-sm text-slate-400 focus:text-cyan-400 py-3 text-left"
                  aria-expanded="false">
                  <span>{t('home.faq.tuist.question-3')}</span>
                  <span
                    x-show="expanded"
                    aria-hidden="true"
                    class="ml-4"
                    style="display: none;"
                    >−
                  </span>
                  <span x-show="!expanded" aria-hidden="true" class="ml-4"
                    >+
                  </span>
                </button>
              </h2>

              <div x-show="expanded" x-collapse="" style="display: none;">
                <div class="text-sm text-slate-400 pt-5">
                  {t('home.faq.tuist.answer-3')}
                </div>
              </div>
            </div>

            <div class="font-semibold text-white pt-12">Tuist Cloud</div>
            <div
              x-data="{
        id: 4,
        get expanded() {
            return this.active === this.id
        },
        set expanded(value) {
            this.active = value ? this.id : null
        },
    }"
              role="region">
              <h2>
                <button
                  x-on:click="expanded = !expanded"
                  :aria-expanded="expanded"
                  class="flex w-full items-center justify-between tracking-wide text-sm text-slate-400 focus:text-cyan-400 py-3 text-left"
                  aria-expanded="false">
                  <span>{t('home.faq.cloud.question-1')}</span>
                  <span
                    x-show="expanded"
                    aria-hidden="true"
                    class="ml-4"
                    style="display: none;"
                    >−
                  </span>
                  <span x-show="!expanded" aria-hidden="true" class="ml-4"
                    >+
                  </span>
                </button>
              </h2>

              <div x-show="expanded" x-collapse="" style="display: none;">
                <div class="text-sm text-slate-400 pt-5">
                  {t('home.faq.cloud.answer-1')}
                </div>
              </div>
            </div>
            <div
              x-data="{
        id: 5,
        get expanded() {
            return this.active === this.id
        },
        set expanded(value) {
            this.active = value ? this.id : null
        },
    }"
              role="region">
              <h2>
                <button
                  x-on:click="expanded = !expanded"
                  :aria-expanded="expanded"
                  class="flex w-full items-center justify-between tracking-wide text-sm text-slate-400 focus:text-cyan-400 py-3 text-left"
                  aria-expanded="false">
                  <span>{t('home.faq.cloud.question-2')}</span>
                  <span
                    x-show="expanded"
                    aria-hidden="true"
                    class="ml-4"
                    style="display: none;"
                    >−
                  </span>
                  <span x-show="!expanded" aria-hidden="true" class="ml-4"
                    >+
                  </span>
                </button>
              </h2>

              <div x-show="expanded" x-collapse="" style="display: none;">
                <div class="text-sm text-slate-400 pt-5">
                  {t('home.faq.cloud.answer-2')}
                </div>
              </div>
            </div>
            <div
              x-data="{
        id: 6,
        get expanded() {
            return this.active === this.id
        },
        set expanded(value) {
            this.active = value ? this.id : null
        },
    }"
              role="region">
              <h2>
                <button
                  x-on:click="expanded = !expanded"
                  :aria-expanded="expanded"
                  class="flex w-full items-center justify-between tracking-wide text-sm text-slate-400 focus:text-cyan-400 py-3 text-left"
                  aria-expanded="false">
                  <span>{t('home.faq.cloud.question-3')}</span>
                  <span
                    x-show="expanded"
                    aria-hidden="true"
                    class="ml-4"
                    style="display: none;"
                    >−
                  </span>
                  <span x-show="!expanded" aria-hidden="true" class="ml-4"
                    >+
                  </span>
                </button>
              </h2>

              <div x-show="expanded" x-collapse="" style="display: none;">
                <div class="text-sm text-slate-400 pt-5">
                  {t('home.faq.cloud.answer-3')}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>
