<section
  aria-labelledby="faq"
  id="faq-section"
  class="relative scroll-mt-24 border-y border-white/5">
  <div class="max-w-7xl px-8 md:px-12 lg:px-32 mx-auto py-12 lg:py-24 relative">
    <section
      class="grid grid-cols-1 items-baseline gap-y-10 gap-x-6 lg:grid-cols-3">
      <div class="md:pr-12">
        <span
          class="text-transparent bg-clip-text font-medium tracking-widest bg-gradient-to-r from-cyan-400 via-cyan-500 to-indigo-500 text-xs uppercase"
          >FAQS</span
        >
        <p class="text-3xl mt-8 font-normal text-white">
          Fully automated, fully supported
        </p>
        <p class="max-w-2xl mt-4 text-sm text-slate-400">
          Join the vibrant Tuist community of passionate users, contributors, and maintainers who are ready to support you every step of the way on your journey.
        </p>
      </div>
      <div class="col-span-2">
        <div x-data="{ active: false }" class="mx-auto w-full space-y-4">
          <div class="space-y-3 divide-y divide-white/5">
            <div class="font-semibold text-white">Project generation</div>

            <div
              class=""
              x-data="{
          id: 1,
          get expanded() {
              return this.active === this.id
          },
          set expanded(value) {
              this.active = value ? this.id : null
          },
      }"
              role="region">
              <h2>
                <button
                  x-on:click="expanded = !expanded"
                  :aria-expanded="expanded"
                  class="flex w-full items-center justify-between tracking-wide text-sm text-slate-400 focus:text-cyan-400 py-3 text-left"
                  aria-expanded="false">
                  <span>Can I automate the migration?</span>
                  <span
                    x-show="expanded"
                    aria-hidden="true"
                    class="ml-4"
                    style="display: none;"
                    >−
                  </span>
                  <span x-show="!expanded" aria-hidden="true" class="ml-4"
                    >+
                  </span>
                </button>
              </h2>

              <div x-show="expanded" x-collapse="" style="display: none;">
                <div class="text-sm text-slate-400 pt-5">
                  While we offer tools to assist in the migration process, automating it reliably can be challenging due to Xcode projects' implicit configurations resolved at build-time. Therefore, we recommend a manual approach, which presents a valuable opportunity to clean up your project and achieve greater consistency.
                </div>
              </div>
            </div>

            <div
              x-data="{
        id: 2,
        get expanded() {
            return this.active === this.id
        },
        set expanded(value) {
            this.active = value ? this.id : null
        },
    }"
              role="region">
              <h2>
                <button
                  x-on:click="expanded = !expanded"
                  :aria-expanded="expanded"
                  class="flex w-full items-center justify-between tracking-wide text-sm text-slate-400 focus:text-cyan-400 py-3 text-left"
                  aria-expanded="false">
                  <span>How does it compare to other generation tools?</span>
                  <span
                    x-show="expanded"
                    aria-hidden="true"
                    class="ml-4"
                    style="display: none;"
                    >−
                  </span>
                  <span x-show="!expanded" aria-hidden="true" class="ml-4"
                    >+
                  </span>
                </button>
              </h2>

              <div x-show="expanded" x-collapse="" style="display: none;">
                <div class="text-sm text-slate-400 pt-5">
                  Unlike other project generation tools, Tuist goes beyond simply generating projects. We view project generation as a means to an end, leveraging the project information to validate, optimize, and automate workflows. With our Swift-based solution, teams are spared the burden of building and maintaining their own tooling upon project generation, ensuring a streamlined and efficient development process.
                </div>
              </div>
            </div>
            <div
              x-data="{
        id: 3,
        get expanded() {
            return this.active === this.id
        },
        set expanded(value) {
            this.active = value ? this.id : null
        },
    }"
              role="region">
              <h2>
                <button
                  x-on:click="expanded = !expanded"
                  :aria-expanded="expanded"
                  class="flex w-full items-center justify-between tracking-wide text-sm text-slate-400 focus:text-cyan-400 py-3 text-left"
                  aria-expanded="false">
                  <span>How strong is the dependency on Tuist?</span>
                  <span
                    x-show="expanded"
                    aria-hidden="true"
                    class="ml-4"
                    style="display: none;"
                    >−
                  </span>
                  <span x-show="!expanded" aria-hidden="true" class="ml-4"
                    >+
                  </span>
                </button>
              </h2>

              <div x-show="expanded" x-collapse="" style="display: none;">
                <div class="text-sm text-slate-400 pt-5">
                  It's weak. The generated projects don't include any references to Tuist. If you ever decide to move away from Tuist or if we discontinue maintaining the tool, you can simply add the generated Xcode project to your Git repository, and you're good to go. Making it easier for users to transition away from Tuist is a design principle we adhere to.
                </div>
              </div>
            </div>

            <div class="font-semibold text-white pt-12">Cache</div>
            <div
              x-data="{
        id: 4,
        get expanded() {
            return this.active === this.id
        },
        set expanded(value) {
            this.active = value ? this.id : null
        },
    }"
              role="region">
              <h2>
                <button
                  x-on:click="expanded = !expanded"
                  :aria-expanded="expanded"
                  class="flex w-full items-center justify-between tracking-wide text-sm text-slate-400 focus:text-cyan-400 py-3 text-left"
                  aria-expanded="false">
                  <span>What do I need for caching to work?</span>
                  <span
                    x-show="expanded"
                    aria-hidden="true"
                    class="ml-4"
                    style="display: none;"
                    >−
                  </span>
                  <span x-show="!expanded" aria-hidden="true" class="ml-4"
                    >+
                  </span>
                </button>
              </h2>

              <div x-show="expanded" x-collapse="" style="display: none;">
                <div class="text-sm text-slate-400 pt-5">
                  To enable caching, you'll need to define your projects with Tuist and ensure that the configuration is explicit. If there are any implicit configurations that Tuist is not aware of, such as build-time linking, the build artifacts won't be cached. Additionally, there may be certain project scenarios that are not handled seamlessly. However, we are more than willing to collaborate with you to iterate and find solutions to make them work effectively.
                </div>
              </div>
            </div>
            <div
              x-data="{
        id: 5,
        get expanded() {
            return this.active === this.id
        },
        set expanded(value) {
            this.active = value ? this.id : null
        },
    }"
              role="region">
              <h2>
                <button
                  x-on:click="expanded = !expanded"
                  :aria-expanded="expanded"
                  class="flex w-full items-center justify-between tracking-wide text-sm text-slate-400 focus:text-cyan-400 py-3 text-left"
                  aria-expanded="false">
                  <span>How does it work?</span>
                  <span
                    x-show="expanded"
                    aria-hidden="true"
                    class="ml-4"
                    style="display: none;"
                    >−
                  </span>
                  <span x-show="!expanded" aria-hidden="true" class="ml-4"
                    >+
                  </span>
                </button>
              </h2>

              <div x-show="expanded" x-collapse="" style="display: none;">
                <div class="text-sm text-slate-400 pt-5">
                  The process involves generating a fingerprint for each target in the project targets graph, which takes into account their metadata, dependencies on files and other targets. This fingerprint serves as an indicator of whether any changes have occurred and if the target needs to be recompiled. During the generation phase, we check the cache for targets using their fingerprint. If pre-existing binaries are found, we utilize them instead of generating new targets with the corresponding source files.
                </div>
              </div>
            </div>
            <div
              x-data="{
        id: 6,
        get expanded() {
            return this.active === this.id
        },
        set expanded(value) {
            this.active = value ? this.id : null
        },
    }"
              role="region">
              <h2>
                <button
                  x-on:click="expanded = !expanded"
                  :aria-expanded="expanded"
                  class="flex w-full items-center justify-between tracking-wide text-sm text-slate-400 focus:text-cyan-400 py-3 text-left"
                  aria-expanded="false">
                  <span>Can I share the cache across environments?</span>
                  <span
                    x-show="expanded"
                    aria-hidden="true"
                    class="ml-4"
                    style="display: none;"
                    >−
                  </span>
                  <span x-show="!expanded" aria-hidden="true" class="ml-4"
                    >+
                  </span>
                </button>
              </h2>

              <div x-show="expanded" x-collapse="" style="display: none;">
                <div class="text-sm text-slate-400 pt-5">
                  Absolutely! To achieve this, you'll require a server that adheres to a predefined contract. You have the option to devise your own solution or leverage Tuist Cloud, which not only enables cache sharing but also offers additional useful features for building apps at scale.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>
