<section
  aria-labelledby="faq"
  id="faq-section"
  class="relative scroll-mt-24 border-y border-white/5">
  <div class="max-w-7xl px-8 md:px-12 lg:px-32 mx-auto py-12 lg:py-24 relative">
    <section
      class="grid grid-cols-1 items-baseline gap-y-10 gap-x-6 lg:grid-cols-3">
      <div class="md:pr-12">
        <span
          class="text-transparent bg-clip-text font-medium tracking-widest bg-gradient-to-r from-cyan-400 via-cyan-500 to-indigo-500 text-xs uppercase"
          >FAQS</span
        >
        <p class="text-3xl mt-8 font-normal text-white">
          Fully automated, fully supported
        </p>
        <p class="max-w-2xl mt-4 text-sm text-slate-400">
          Join the vibrant Tuist community of passionate users, contributors, and maintainers who are ready to support you every step of the way on your journey.
        </p>
      </div>
      <div class="col-span-2">
        <div x-data="{ active: false }" class="mx-auto w-full space-y-4">
          <div class="space-y-3 divide-y divide-white/5">
            <div class="font-semibold text-white">Project generation</div>

            <div
              class=""
              x-data="{
          id: 1,
          get expanded() {
              return this.active === this.id
          },
          set expanded(value) {
              this.active = value ? this.id : null
          },
      }"
              role="region">
              <h2>
                <button
                  x-on:click="expanded = !expanded"
                  :aria-expanded="expanded"
                  class="flex w-full items-center justify-between tracking-wide text-sm text-slate-400 focus:text-cyan-400 py-3 text-left"
                  aria-expanded="false">
                  <span>Can I automate the migration?</span>
                  <span
                    x-show="expanded"
                    aria-hidden="true"
                    class="ml-4"
                    style="display: none;"
                    >−
                  </span>
                  <span x-show="!expanded" aria-hidden="true" class="ml-4"
                    >+
                  </span>
                </button>
              </h2>

              <div x-show="expanded" x-collapse="" style="display: none;">
                <div class="text-sm text-slate-400 pt-5">
                  While we offer tools to assist in the migration process, automating it reliably can be challenging due to Xcode projects' implicit configurations resolved at build-time. Therefore, we recommend a manual approach, which presents a valuable opportunity to clean up your project and achieve greater consistency.
                </div>
              </div>
            </div>

            <div
              x-data="{
        id: 2,
        get expanded() {
            return this.active === this.id
        },
        set expanded(value) {
            this.active = value ? this.id : null
        },
    }"
              role="region">
              <h2>
                <button
                  x-on:click="expanded = !expanded"
                  :aria-expanded="expanded"
                  class="flex w-full items-center justify-between tracking-wide text-sm text-slate-400 focus:text-cyan-400 py-3 text-left"
                  aria-expanded="false">
                  <span>How does it compare to other generation tools?</span>
                  <span
                    x-show="expanded"
                    aria-hidden="true"
                    class="ml-4"
                    style="display: none;"
                    >−
                  </span>
                  <span x-show="!expanded" aria-hidden="true" class="ml-4"
                    >+
                  </span>
                </button>
              </h2>

              <div x-show="expanded" x-collapse="" style="display: none;">
                <div class="text-sm text-slate-400 pt-5">
                  Unlike other project generation tools, Tuist goes beyond simply generating projects. We view project generation as a means to an end, leveraging the project information to validate, optimize, and automate workflows. With our Swift-based solution, teams are spared the burden of building and maintaining their own tooling upon project generation, ensuring a streamlined and efficient development process.
                </div>
              </div>
            </div>
            <div
              x-data="{
        id: 3,
        get expanded() {
            return this.active === this.id
        },
        set expanded(value) {
            this.active = value ? this.id : null
        },
    }"
              role="region">
              <h2>
                <button
                  x-on:click="expanded = !expanded"
                  :aria-expanded="expanded"
                  class="flex w-full items-center justify-between tracking-wide text-sm text-slate-400 focus:text-cyan-400 py-3 text-left"
                  aria-expanded="false">
                  <span>What does "free updates" mean?</span>
                  <span
                    x-show="expanded"
                    aria-hidden="true"
                    class="ml-4"
                    style="display: none;"
                    >−
                  </span>
                  <span x-show="!expanded" aria-hidden="true" class="ml-4"
                    >+
                  </span>
                </button>
              </h2>

              <div x-show="expanded" x-collapse="" style="display: none;">
                <div class="text-sm text-slate-400 pt-5">
                  When you purchase any Lexington product, any improvements to
                  that product will always be free for anyone who owns that
                  product.
                </div>
                <div class="text-sm text-slate-400 pt-5">
                  <strong>Individual templates:</strong> When you buy an individual
                  template, any improvements we make to that template will be available
                  to you as part of your original purchase.
                </div>
                <div class="text-sm text-slate-400 pt-5">
                  So if a bug gets fixed or upgrade the template to use the
                  latest version of Astro, Alpinejs or Tailwind CSS you can
                  download an updated version of the template free of charge.
                </div>
                <div class="text-sm text-slate-400 pt-5">
                  Any new templates released are considered separate products,
                  and can be purchased separately or you can also buy the <a
                    href="#"
                    class="text-cyan-500 hover:text-white">Bundle.</a
                  > whic includes all templates.
                </div>
                <div class="text-sm text-slate-400 pt-5">
                  <strong>Lexington bundle:</strong> When you purchase the Lexington
                  Bunlde license, you get access to every site template available
                  today, plus any new templates or component packages released in
                  the future at no additional cost.
                </div>
                <div class="text-sm text-slate-400 pt-5">
                  This means that if a brand new social media website template
                  or new component package is added to Lexington Bundle ( all
                  templates are inclued in the Bundle ), access to those
                  products are included in your original purchase, with no
                  upgrade cost.
                </div>
              </div>
            </div>

            <div class="font-semibold text-white pt-12">Compatibility</div>
            <div
              x-data="{
        id: 4,
        get expanded() {
            return this.active === this.id
        },
        set expanded(value) {
            this.active = value ? this.id : null
        },
    }"
              role="region">
              <h2>
                <button
                  x-on:click="expanded = !expanded"
                  :aria-expanded="expanded"
                  class="flex w-full items-center justify-between tracking-wide text-sm text-slate-400 focus:text-cyan-400 py-3 text-left"
                  aria-expanded="false">
                  <span>Are design files included?</span>
                  <span
                    x-show="expanded"
                    aria-hidden="true"
                    class="ml-4"
                    style="display: none;"
                    >−
                  </span>
                  <span x-show="!expanded" aria-hidden="true" class="ml-4"
                    >+
                  </span>
                </button>
              </h2>

              <div x-show="expanded" x-collapse="" style="display: none;">
                <div class="text-sm text-slate-400 pt-5">
                  No, design assets for tools like Figma, Sketch, Penpot or
                  Adobe XD are not included.
                </div>

                <div class="text-sm text-slate-400 pt-5">
                  I do not offer or produce design files as part of my own
                  design and development process, so building these extra
                  resources means I can't spend as much time creating new
                  templates in code which is where I believes I can provide the
                  most value.
                </div>
              </div>
            </div>
            <div
              x-data="{
        id: 5,
        get expanded() {
            return this.active === this.id
        },
        set expanded(value) {
            this.active = value ? this.id : null
        },
    }"
              role="region">
              <h2>
                <button
                  x-on:click="expanded = !expanded"
                  :aria-expanded="expanded"
                  class="flex w-full items-center justify-between tracking-wide text-sm text-slate-400 focus:text-cyan-400 py-3 text-left"
                  aria-expanded="false">
                  <span>What JS framework is used?</span>
                  <span
                    x-show="expanded"
                    aria-hidden="true"
                    class="ml-4"
                    style="display: none;"
                    >−
                  </span>
                  <span x-show="!expanded" aria-hidden="true" class="ml-4"
                    >+
                  </span>
                </button>
              </h2>

              <div x-show="expanded" x-collapse="" style="display: none;">
                <div class="text-sm text-slate-400 pt-5">
                  I am not using any Framework, all the templates are built
                  using Astro.Build but some of the components are built using
                  Alpine.js. I am using Alpinejs on toggles, tabs, sliders,
                  pricing table toggles, hamburguer menus,...
                </div>

                <div class="text-sm text-slate-400 pt-5">
                  I belive that to make the templates less opinionated, I would
                  leave the customer to choose the stack they want now that you
                  can add any framework on Astro anytime.
                </div>
              </div>
            </div>
            <div
              x-data="{
        id: 6,
        get expanded() {
            return this.active === this.id
        },
        set expanded(value) {
            this.active = value ? this.id : null
        },
    }"
              role="region">
              <h2>
                <button
                  x-on:click="expanded = !expanded"
                  :aria-expanded="expanded"
                  class="flex w-full items-center justify-between tracking-wide text-sm text-slate-400 focus:text-cyan-400 py-3 text-left"
                  aria-expanded="false">
                  <span>What version of the techs are you using?</span>
                  <span
                    x-show="expanded"
                    aria-hidden="true"
                    class="ml-4"
                    style="display: none;"
                    >−
                  </span>
                  <span x-show="!expanded" aria-hidden="true" class="ml-4"
                    >+
                  </span>
                </button>
              </h2>

              <div x-show="expanded" x-collapse="" style="display: none;">
                <div class="text-sm text-slate-400 pt-5">
                  The templates are always going to be updated to the last
                  versions available if this ones have breaking changes.
                </div>
              </div>
            </div>
            <div
              x-data="{
        id: 7,
        get expanded() {
            return this.active === this.id
        },
        set expanded(value) {
            this.active = value ? this.id : null
        },
    }"
              role="region">
              <h2>
                <button
                  x-on:click="expanded = !expanded"
                  :aria-expanded="expanded"
                  class="flex w-full items-center justify-between tracking-wide text-sm text-slate-400 focus:text-cyan-400 py-3 text-left"
                  aria-expanded="false">
                  <span>What browsers are supported?</span>
                  <span
                    x-show="expanded"
                    aria-hidden="true"
                    class="ml-4"
                    style="display: none;"
                    >−
                  </span>
                  <span x-show="!expanded" aria-hidden="true" class="ml-4"
                    >+
                  </span>
                </button>
              </h2>

              <div x-show="expanded" x-collapse="" style="display: none;">
                <div class="text-sm text-slate-400 pt-5">
                  The templates in Lexington are designed to work in the latest,
                  stable releases of all major browsers, including Chrome,
                  Firefox, Safari, Arc and Edge.
                </div>
              </div>
            </div>

            <div class="font-semibold text-white pt-12">Licensing</div>
            <div
              x-data="{
        id: 8,
        get expanded() {
            return this.active === this.id
        },
        set expanded(value) {
            this.active = value ? this.id : null
        },
    }"
              role="region">
              <h2>
                <button
                  x-on:click="expanded = !expanded"
                  :aria-expanded="expanded"
                  class="flex w-full items-center justify-between tracking-wide text-sm text-slate-400 focus:text-cyan-400 py-3 text-left"
                  aria-expanded="false">
                  <span>How do your licenses work?</span>
                  <span
                    x-show="expanded"
                    aria-hidden="true"
                    class="ml-4"
                    style="display: none;"
                    >−
                  </span>
                  <span x-show="!expanded" aria-hidden="true" class="ml-4"
                    >+
                  </span>
                </button>
              </h2>

              <div x-show="expanded" x-collapse="" style="display: none;">
                <div class="text-sm text-slate-400 pt-5">
                  Read about the licenses <a
                    href="https://lexingtonthemes.com/license.html"
                    class="text-cyan-500 hover:text-white">right here.</a
                  > to se all the demo pages and sections on the live version,
                </div>
              </div>
            </div>

            <div class="font-semibold text-white pt-12">Support</div>
            <div
              x-data="{
        id: 9,
        get expanded() {
            return this.active === this.id
        },
        set expanded(value) {
            this.active = value ? this.id : null
        },
    }"
              role="region">
              <h2>
                <button
                  x-on:click="expanded = !expanded"
                  :aria-expanded="expanded"
                  class="flex w-full items-center justify-between tracking-wide text-sm text-slate-400 focus:text-cyan-400 py-3 text-left"
                  aria-expanded="false">
                  <span> Please email us at</span>
                  <span
                    x-show="expanded"
                    aria-hidden="true"
                    class="ml-4"
                    style="display: none;"
                    >−
                  </span>
                  <span x-show="!expanded" aria-hidden="true" class="ml-4"
                    >+
                  </span>
                </button>
              </h2>

              <div x-show="expanded" x-collapse="" style="display: none;">
                <div class="text-sm text-slate-400 pt-5">
                  <a
                    href="mailto:michael@andreuzza.com"
                    class="text-cyan-500 hover:text-white">right here.</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>
