<section
  aria-labelledby="faq"
  id="faq-section"
  class="relative scroll-mt-24 border-y border-white/5">
  <div class="max-w-7xl px-8 md:px-12 lg:px-32 mx-auto py-12 lg:py-24 relative">
    <div>
      <div class="max-w-xl">
        <div class="w-full">
          <span
            class="text-transparent bg-clip-text font-medium tracking-widest bg-gradient-to-r from-cyan-400 via-cyan-500 to-indigo-500 text-xs uppercase"
            >Faq</span
          >
          <h2 class="text-3xl mt-8 font-normal text-white">
            Supporting Tuist long-term
          </h2>
          <div class="max-w-lg mt-3">
            <p class="text-lg text-slate-400">
              Tuist Cloud is our solution to ensure that people are dedicated full-time to Tuist and to guarantee continued support for organizations.
            </p>
          </div>
        </div>
      </div>
      <div class="mt-12 space-y-12 divide-y-2 divide-white/5">
        <div class="grid grid-cols-1 gap-4 pt-4 lg:grid-cols-3 lg:pt-12">
          <div class="flex flex-col flex-shrink-0 mb-6 lg:pr-12 md:mb-0">
            <span class="text-lg text-white">
              How do you tell Tuist and Tuist Cloud apart?
            </span>
          </div>
          <div class="lg:col-span-2">
            <p class="text-sm text-slate-400">
              Well, think of Tuist as the basic superhero, and Tuist Cloud as that superhero with a jetpack! 🚀 Tuist has features that crave a server's touch for things like holding onto memories (state persistence) or flaunting a server-side GUI – like the cool trick of build sharing. As organizations grow and spawn platform teams to boost developer mojo, that's where Tuist Pro really flies into action!
            </p>
          </div>
        </div>
        <div class="grid grid-cols-1 gap-4 pt-4 lg:grid-cols-3 lg:pt-12">
          <div class="flex flex-col flex-shrink-0 mb-6 lg:pr-12 md:mb-0">
            <span class="text-lg text-white">
              Can I give Tuist Cloud a whirl with my project before committing?
            </span>
          </div>
          <div class="space-y-4 lg:col-span-2">
            <p class="text-sm text-slate-400">
              Of course! We want to make sure Tuist Cloud and your project are a match made in digital heaven before you part with your hard-earned coins. <a href="mailto:enterprise@tuist.io?subject=Interested in testing Tuist Cloud">Drop us an email</a>, and we'll set up a trial – no strings (or codes) attached! 🎉
            </p>
          </div>
        </div>
        <div class="grid grid-cols-1 gap-4 pt-4 lg:grid-cols-3 lg:pt-12">
          <div class="flex flex-col flex-shrink-0 mb-6 lg:pr-12 md:mb-0">
            <span class="text-lg text-white">
              Planning to add more features to the suite?
            </span>
          </div>
          <div class="lg:col-span-2">
            <p class="text-sm text-slate-400">
              Why, are you peeking into our crystal ball? 🔮 We're bursting with ideas but were time-crunched as this was our passion project during off-hours. But guess what? Once we dive into Tuist and Tuist Cloud full-time, we'll zoom ahead, offer stellar support, and launch features previously stuck in our dream vault. Our goal? To either be the trusty sidekick for platform teams or morph into the platform team for those flying solo. 🚀
            </p>
          </div>
        </div>
        <div class="grid grid-cols-1 gap-4 pt-4 lg:grid-cols-3 lg:pt-12">
          <div class="flex flex-col flex-shrink-0 mb-6 lg:pr-12 md:mb-0">
            <span class="text-lg text-white">
              Will you support me with any new challenges I encounter?
            </span>
          </div>
          <div class="lg:col-span-2">
            <p class="text-sm text-slate-400">
              We're all ears for your challenges! Because, let's be honest, Apple often leaves us on 'read' with these issues. Many are stuck in a loop of reinventing or, worse, adopting a web of complexity. Join us in saying, 'Not today, complexity!' and let's bring simplicity to the masses!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
