<section>
    <div class="max-w-7xl px-8 md:px-12 lg:px-32 mx-auto py-32 lg:pt-56">
      <div class="relative max-w-3xl">
        <span
          class="text-transparent bg-clip-text font-medium tracking-widest bg-gradient-to-r from-cyan-400 via-cyan-500 to-indigo-500 text-xs uppercase"
          >LAST UPDATED FEBRUARY 14, 2024</span
        >
        <p class="text-3xl mt-8 font-normal text-white">
          Longevity Manifesto
        </p>
      </div>
    </div>
  </section>
  
  <section class="relative">
    <div class="max-w-7xl px-8 md:px-12 lg:px-32 mx-auto pb-12 md:py-12 relative">
      <div class="grid grid-cols-1 gap-10 xl:gap-24">
        <div
          class="prose prose-strong:text-white prose-blockquote:border-l-white prose-a:text-cyan-500 hover:prose-a:text-white prose-headings:font-normal prose-headings:text-white prose-li:marker:text-cyan-500 text-slate-400 prose-code:text-white prose-blockquote:text-white/70 max-w-max"
        >
          <h3>Software made for eternity</h3>

          <p>
           <b>Tuist was built for the future of Xcode development.</b> We believe that code is abundant and should be owned by both everyone and no one.
          </p>

          <p>
            Tuist GmbH, a technology startup from Berlin, Jessnerstrasse 27A 10247, is the sole owner of the Tuist trademark, and provides core contributors for Tuist. Tuist is MIT-Licensed, but Tuist Cloud is closed source and proprietary to secure the funding for Tuist.
          </p>

          <p>
            With many active contributors, more than hundreds companies using Tuist, a sponsorships program, and a growing community, we are confident that Tuist will be around for a long time.
          </p>

          <p>
            However, in the unlikely event of Tuist GmbH discontinuing to support the Tuist repositories, we'll re-license Tuist Cloud with a permissive license and transfer ownership of the repositories to the top contributors at that given time.
          </p>

          <p>
            As long as Xcode projects exist, developers will continue to create exciting projects and prosper.             
          </p>

          <p>
            We’ll make sure they can build them, forever.
          </p>

          <p>
            Pedro and Marek
          </p>  
        </div>
      </div>
    </div>
  </section>
  