<section class="relative overflow-x-hidden">
  <svg
    class="absolute blur-3xl right-0 top-0 opacity-80"
    width="50%"
    height="100%"
    viewBox="0 0 400 400"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g clip-path="url(#clip0_17_60)">
      <g filter="url(#filter0_f_17_60)">
        <path d="M128.6 0H0V322.2L332.5 211.5L128.6 0Z" fill="#4D07E3"></path>
        <path d="M0 322.2V400H240H320L332.5 211.5L0 322.2Z" fill="#4C00FF"
        ></path>
        <path d="M320 400H400V78.75L332.5 211.5L320 400Z" fill="#B5BFF1"></path>
        <path d="M400 0H128.6L332.5 211.5L400 78.75V0Z" fill="#7fcef3"></path>
      </g>
    </g>
    <defs>
      <filter
        id="filter0_f_17_60"
        x="-159.933"
        y="-159.933"
        width="719.867"
        height="719.867"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
      >
        <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
        <feBlend
          mode="normal"
          in="SourceGraphic"
          in2="BackgroundImageFix"
          result="shape"></feBlend>
        <feGaussianBlur
          stdDeviation="79.9667"
          result="effect1_foregroundBlur_17_60"></feGaussianBlur>
      </filter>
    </defs>
  </svg>
  <div class="max-w-7xl px-8 md:px-12 relative lg:px-32 mx-auto py-32 lg:pt-56">
    <div class="max-w-3xl">
      <span
        class="text-transparent bg-clip-text font-medium tracking-widest bg-gradient-to-r from-cyan-400 via-cyan-500 to-indigo-500 text-xs uppercase"
        >LAST UPDATED OCTOBER 23, 2023</span
      >
      <p class="text-3xl mt-8 font-normal text-white">Tuist Cloud Terms of service</p>
    </div>
  </div>
</section>
<section class="border-t border-white/10 relative">
  <div class="max-w-7xl px-8 md:px-12 lg:px-32 mx-auto py-12 relative">
    <div
      class="prose prose-blockquote:border-l-white prose-a:text-cyan-500 hover:prose-a:text-white prose-headings:font-normal prose-headings:text-white prose-li:marker:text-cyan-500 text-slate-400 prose-code:text-white prose-blockquote:text-white/70"
    >
      <p>
        These Terms of Service govern your use of the application located at <a
          href="https://cloud.tuist.io">https://cloud.tuist.io</a
        > and any related services provided by Tuist.
      </p>
      <p>
        By accessing <a href="https://cloud.tuist.io">https://cloud.tuist.io</a
        >, you agree to abide by these Terms of Service and to comply with all
        applicable laws and regulations. If you do not agree with these Terms of
        Service, you are prohibited from using or accessing this application or
        using any other services provided by Tuist.
      </p>
      <p>
        We, Tuist, reserve the right to review and amend any of these Terms of
        Service at our sole discretion. Upon doing so, we will update this page.
        Any changes to these Terms of Service will take effect immediately from
        the date of publication.
      </p>
      <p>These Terms of Service were last updated on 26 August 2023.</p>
      <h3 id="limitations-of-use">Limitations of Use</h3>
      <p>
        By using this application, you warrant on behalf of yourself, your users,
        and other parties you represent that you will not:
      </p>
      <ul>
        <li>
          modify, copy, prepare derivative works of, decompile, or reverse
          engineer any materials and software contained on this application;
        </li>
        <li>
          remove any copyright or other proprietary notations from any materials
          and software on this application;
        </li>
        <li>
          transfer the materials to another person or &quot;mirror&quot; the
          materials on any other server;
        </li>
        <li>
          knowingly or negligently use this application or any of its associated
          services in a way that abuses or disrupts our networks or any other
          service Tuist provides;
        </li>
        <li>
          use this application or its associated services to transmit or publish any
          harassing, indecent, obscene, fraudulent, or unlawful material;
        </li>
        <li>
          use this application or its associated services in violation of any
          applicable laws or regulations;
        </li>
        <li>
          use this application in conjunction with sending unauthorized advertising
          or spam;
        </li>
        <li>
          harvest, collect, or gather user data without the user’s consent; or
        </li>
        <li>
          use this application or its associated services in such a way that may
          infringe the privacy, intellectual property rights, or other rights of
          third parties.
        </li>
      </ul>
      <h3 id="intellectual-property">Intellectual Property</h3>
      <p>
        The intellectual property in the materials contained in this application are
        owned by or licensed to Tuist and are protected by applicable copyright
        and trademark law. We grant our users permission to download one copy of
        the materials for personal, non-commercial transitory use.
      </p>
      <p>
        This constitutes the grant of a license, not a transfer of title. This
        license shall automatically terminate if you violate any of these
        restrictions or the Terms of Service, and may be terminated by Tuist at
        any time.
      </p>
      <h3 id="liability">Liability</h3>
      <p>
        Our application and the materials on our application are provided on an &#39;as
        is&#39; basis. To the extent permitted by law, Tuist makes no
        warranties, expressed or implied, and hereby disclaims and negates all
        other warranties including, without limitation, implied warranties or
        conditions of merchantability, fitness for a particular purpose, or
        non-infringement of intellectual property, or other violation of rights.
      </p>
      <p>
        In no event shall Tuist or its suppliers be liable for any consequential
        loss suffered or incurred by you or any third party arising from the use
        or inability to use this application or the materials on this application, even
        if Tuist or an authorized representative has been notified, orally or in
        writing, of the possibility of such damage.
      </p>
      <p>
        In the context of this agreement, &quot;consequential loss&quot;
        includes any consequential loss, indirect loss, real or anticipated loss
        of profit, loss of benefit, loss of revenue, loss of business, loss of
        goodwill, loss of opportunity, loss of savings, loss of reputation, loss
        of use and/or loss or corruption of data, whether under statute,
        contract, equity, tort (including negligence), indemnity or otherwise.
      </p>
      <p>
        Because some jurisdictions do not allow limitations on implied
        warranties, or limitations of liability for consequential or incidental
        damages, these limitations may not apply to you.
      </p>
      <h3 id="accuracy-of-materials">Accuracy of Materials</h3>
      <p>
        The materials appearing on our application are not comprehensive and are for
        general information purposes only. Tuist does not warrant or make any
        representations concerning the accuracy, likely results, or reliability
        of the use of the materials on this application, or otherwise relating to
        such materials or on any resources linked to this application.
      </p>
      <h3 id="links">Links</h3>
      <p>
        Tuist has not reviewed all of the sites linked to its application and is not
        responsible for the contents of any such linked site. The inclusion of
        any link does not imply endorsement, approval or control by Tuist of the
        site. Use of any such linked site is at your own risk and we strongly
        advise you make your own investigations with respect to the suitability
        of those sites.
      </p>
      <h3 id="right-to-terminate">Right to Terminate</h3>
      <p>
        We may suspend or terminate your right to use our application and terminate
        these Terms of Service immediately upon written notice to you for any
        breach of these Terms of Service.
      </p>
      <h3 id="severance">Severance</h3>
      <p>
        Any term of these Terms of Service which is wholly or partially void or
        unenforceable is severed to the extent that it is void or unenforceable.
        The validity of the remainder of these Terms of Service is not affected.
      </p>
      <h3 id="governing-law">Governing Law</h3>
      <p>
        These Terms of Service are governed by and construed in accordance with
        the laws of Germany. You irrevocably submit to the exclusive
        jurisdiction of the courts in that State or location.
      </p>
    </div>
  </div>
</section>
