<section class="relative overflow-x-hidden">
  <svg
    class="absolute blur-3xl right-0 top-0 opacity-80"
    width="50%"
    height="100%"
    viewBox="0 0 400 400"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g clip-path="url(#clip0_17_60)">
      <g filter="url(#filter0_f_17_60)">
        <path d="M128.6 0H0V322.2L332.5 211.5L128.6 0Z" fill="#4D07E3"></path>
        <path d="M0 322.2V400H240H320L332.5 211.5L0 322.2Z" fill="#4C00FF"
        ></path>
        <path d="M320 400H400V78.75L332.5 211.5L320 400Z" fill="#B5BFF1"></path>
        <path d="M400 0H128.6L332.5 211.5L400 78.75V0Z" fill="#7fcef3"></path>
      </g>
    </g>
    <defs>
      <filter
        id="filter0_f_17_60"
        x="-159.933"
        y="-159.933"
        width="719.867"
        height="719.867"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
      >
        <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
        <feBlend
          mode="normal"
          in="SourceGraphic"
          in2="BackgroundImageFix"
          result="shape"></feBlend>
        <feGaussianBlur
          stdDeviation="79.9667"
          result="effect1_foregroundBlur_17_60"></feGaussianBlur>
      </filter>
    </defs>
  </svg>
  <div class="max-w-7xl px-8 md:px-12 relative lg:px-32 mx-auto py-32 lg:pt-56">
    <div class="max-w-3xl">
      <span
        class="text-transparent bg-clip-text font-medium tracking-widest bg-gradient-to-r from-cyan-400 via-cyan-500 to-indigo-500 text-xs uppercase"
        >LAST UPDATED JULY 25, 2024</span
      >
      <p class="text-3xl mt-8 font-normal text-white">Trademark guidelines</p>
    </div>
  </div>
</section>
<section class="relative">
  <div class="max-w-7xl px-8 md:px-12 lg:px-32 mx-auto pb-12 md:py-12 relative">
    <div class="grid grid-cols-1 gap-10 xl:gap-24">
      <div
        class="prose prose-strong:text-white prose-blockquote:border-l-white prose-a:text-cyan-500 hover:prose-a:text-white prose-headings:font-normal prose-headings:text-white prose-li:marker:text-cyan-500 text-slate-400 prose-code:text-white prose-blockquote:text-white/70 max-w-max"
      >
        <p>
          Below is our trademark policy inspired by <a href="https://dagger.io/trademark-guidelines">Dagger's</a>. We want to make our policy easily
          accessible, so we have created some FAQs to help steer you in the
          right direction.
        </p>
        <p>Please take a moment to read the policy in its entirety.</p>
        <p>
          If you have any questions or doubts about your project using our
          trademark, please contact us at legal@tuist.io. We are happy to help
          provide more guidance for your use case.
        </p>
        <h2>Trademark FAQs</h2>
        <h4>
          I have a repo on GitHub that is related to Tuist. Can I have Tuist in
          the name?
        </h4>
        <p>
          Yes, as follows. To avoid confusion in the community, your repo must
          clearly show that it is not directly related to Tuist. We ask that you
          use the following naming convention: "[YourProjectName]-for-Tuist".
        </p>
        <h4>
          I am a package manager. Am I allowed to package and distribute Tuist?
          Am I allowed to create my own package named Tuist?
        </h4>
        <p>
          Note: "Tuist" is a registered trademark, including all casings such as
          "tuist" or "TUIST."
        </p>
        <p>
          You are not permitted to build from the source code and produce a
          package with a name that contains "Tuist" without express written
          permission. If granted permission, you must follow approved build
          methods. Packaging separate components, such as the Tuist XcodeProj,
          under the name "Tuist" is also not allowed.
        </p>
        <p>
          You may distribute and refer to the unaltered binaries obtained
          directly from Tuist as "tuist" (lowercase) provided that the version
          and platform (OS and architecture) are correct and clearly indicated.
          You must also use the published checksums (e.g.
          https://github.com/tuist/tuist/releases/download/version
          /SHASUMS512.txt) in your installation or packaging process to ensure
          binary integrity.
        </p>

        <p>
          Alternatively, your installer may download and install the unaltered
          binaries directly from Tuist at the time of installation, as long as
          the version and platform are clear, and checksums are verified.
        </p>
        <p>
          If you are packaging other software related to Tuist, and want to
          include "Tuist" in the name, then the answer is the same as for the
          GitHub repo question above.
        </p>
        <p>
          <strong
            >If I fork the Tuist repo, can I continue to call it Tuist?</strong
          >
        </p>
        <p>
          Sometimes. In the case of a fork on GitHub, the default name of the
          repository will be Tuist, but if you modify Tuist code for purposes
          other than bug fixes followed by pull requests to Tuist, then we ask
          that you rename the repository to avoid confusing users into thinking
          that your modified code comes from Tuist. Concerning references to
          Tuist within your code, the "use of the marks in open source code"
          conditions are met automatically by virtue of the GitHub interface
          making it clear that the fork is a modified version and where to find
          the original. Finally, if you fork Tuist to create a commercially
          competitive solution, and/or modify Tuist code in a manner that
          becomes incompatible with and/or creates security vulnerabilities as
          compared to original Tuist, then Tuist may require you to change the
          name of your repository to avoid consumer confusion.
        </p>
        <h4>
          Can you give me some ideas of an acceptable name for a Tuist-related
          repo?
        </h4>
        <p>
          We suggest following this naming convention:
          “INSERTYOURPROJECTNAME-for-Tuist. If you want to use a different
          naming convention, please make sure that you understand the "use to
          indicate compatibility section" of our trademark policy.
        </p>
        <p>
          If you have doubts about the name you’d like to use, please contact us
          at legal@tuist.io. We are happy to help advise you on a name that
          works for both parties.
        </p>
        <h2>Tuist Trademark Policy</h2>
        <p>
          TUIST, GMBH RESERVES THE RIGHT TO CHANGE THESE GUIDELINES AT ANY TIME.
          YOU SHOULD PERIODICALLY CHECK THESE GUIDELINES TO BE SURE THAT YOU ARE
          IN COMPLIANCE.
        </p>
        <p>
          The requirements set forth in these Guidelines are general. Authorized
          partners and licensees may be subject to additional restrictions that
          are not set forth in these Guidelines. If you are a partner or a
          licensee of Tuist, please consult your agreement for specific
          requirements applicable to your use of our Marks. In the event of a
          conflict between the applicable agreement and these Guidelines, the
          terms of the agreement will control.
        </p>
        <h5>The Marks</h5>
        <p>
          Our Marks consist of the following registered, unregistered and/or
          pending trademarks, service marks and logos which are subject to
          change without notice: Tuist; Tuist logo; and other designs, logos
          or marks which may be referred to in your specific license agreement
          or otherwise.
        </p>
        <h5>“Fair Use” Of Trademarks</h5>
        <p>
          You may make limited fair use of our Marks in naming or referring to
          our products, services or technology, provided you follow these
          Guidelines. For instance, a company may refer to the trademarks of
          competing products in marketing its own products. As an example,
          Burger King might choose to state in advertisements that “Burger
          King® french fries were preferred over McDonald’s® french fries in a
          taste test.” Although McDonald’s® is a trademark of McDonald’s
          Corporation, Burger King could mention it in its marketing in this
          fashion so long as the statement is truthful and not misleading, does
          not imply an improper association with or sponsorship by McDonald’s
          and otherwise complies with applicable laws.
        </p>
        <p>
          A key element in evaluating whether the use of someone else’s
          trademark is acceptable is whether the use is likely to cause
          confusion in the marketplace as to the source or sponsorship of a
          product. Burger King’s use of “McDonald’s®” in the statement above is
          not likely to lead consumers to believe that Burger King® french
          fries are a product of McDonald’s or that Burger King® french fries
          emanate from or are sponsored or approved by McDonald’s Corporation.
        </p>
        <h5>Prohibited Trademark Uses</h5>
        <p>
          Tuist does not permit using any of our Marks in the following manner:
          as part of your own trademark; in a manner likely to cause confusion
          between products, services or technology of Tuist and those of
          another entity; in a manner that inaccurately implies that Tuist
          sponsors or endorses or otherwise is affiliated with your own
          activities, products, services or technology; in a manner that
          disparages Tuist or its products, services or technology; in
          connection with products, services or activities which, in our
          judgment, may diminish goodwill in our Marks; in connection with any
          unlawful activities or to encourage unlawful activities.
        </p>
        <h5>Use To Indicate Compatibility</h5>
        <p>
          Third-party products may use the Marks to indicate compatibility or
          interoperability with our platform in a limited manner and provided
          that all such statements are factually true and do not imply that
          Tuist has endorsed the subject of the statement. For example, the
          product designation “abc for Tuist is permissible. The claims “xxx
          is compatible with Tuist, “xxx can run your Tuist configurations",
          are permissible if they are factually true. Users should remember that
          false advertising or misleading claims can subject an entity to
          liability. Any indication of compatibility may only use the wording
          “Tuist” and may not use any trademark of Tuist consisting of a
          design, image, or logo.
        </p>
        <h5>Do Not Use As Nouns</h5>
        <p>
          Third-party products may not use the Marks as a common noun. For
          example “xxx is the best available tuist cache.
        </p>
        <h5>Do Not Use Plural Or Possessive Form</h5>
        <p>
          A trademark is not a noun, so a plural form should not be used. For
          example, proper use will be “Tuist software” instead of “Tuist’s”.
          Similarly, the possessive form should not be used. For example, proper
          use will be “features of Tuist technology” instead of “Tuist’s
          features”.
        </p>
        <h5>Do Not Create Composite Marks</h5>
        <p>
          Our Marks must not appear to be part of any other marks (whether words
          or logos) or part of any other words that are used informally. Our
          Marks may not be used in any variations or as a design feature on your
          product, packaging, web page or promotional materials without
          obtaining prior written approval. Subject to the foregoing
          restrictions, if our Marks are used in connection with your mark, the
          use must be in a manner that distinguishes your mark from our Marks.
          Variations of our Marks may confuse consumers as to the source of the
          goods or services bearing the altered mark, and such use may infringe
          our trademark rights and be actionable under applicable laws.
        </p>
        <h5>Use Of The Marks In Open Source Code</h5>
        <p>
          Generally, the use of the Marks anywhere in the source code, user
          interface, documentation, repository name, logo, other file,
          advertising material, or other component of a redistributed work or
          derivative work is explicitly prohibited.
        </p>
        <p>
          As a special case, individuals sharing experimental modifications of
          Tuist for the purpose of education, research or experimentation, or
          for the purpose of contributing to Tuist itself, may redistribute a
          modified release without stripping it of all trademark material.
          However, the modified version must make it clear that 1) the user is
          using an unofficial modification of tuist, 2) the purpose of the
          modified version is education, research or experimentation, or
          contributing to Tuist itself, and 3) indicates where users can find
          an official release (tuist.io). For example, in the case of a fork on
          GitHub, these conditions are met automatically by virtue of
        </p>
      </div>
    </div>
  </div>
</section>
