<section>
  <div class="max-w-7xl px-8 md:px-12 lg:px-32 mx-auto py-32 flex flex-col items-center">
    <div class="lg:pr-12 mb-20 text-center">
      <div>
        <span
          class="text-transparent bg-clip-text font-medium tracking-widest bg-gradient-to-r from-cyan-400 via-cyan-500 to-indigo-500 text-xs uppercase"
          >pricing</span
        >
        <h2 class="text-2xl mt-8 font-normal text-white">
          Always know what you’ll pay
        </h2>
      </div>
    </div>

    <div
      class="grid items-start grid-cols-1 gap-12 lg:gap-3 mx-auto lg:grid-cols-2">

      <section
      class="flex flex-col rounded-3xl p-[0.060rem] shadow-2xl shadow-vulcan-900 bg-gradient-to-b from-slate-800 via-indigo-500/5">
      <div class="bg-vulcan-900 px-6 sm:px-8 lg:py-8 rounded-3xl h-full">
        <h3 class="mt-5 text-xl text-white">
          <span class="text-3xl">Free</span> — Personal
        </h3>
        <p class="mt-2 text-base text-slate-400">Helping individual developers, small teams, and open source projects view, debug, analyze, and speed up their builds.</p>

        <ul
          role="list"
          class="flex flex-col order-last mt-10 text-sm text-slate-200 gap-y-3">
          <li class="flex items-center">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6 opacity-70">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
              ></path>
            </svg>

            <span class="ml-4">10 GB of cache transfer</span>
          </li>
          <li class="flex items-center">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6 opacity-70">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
              ></path>
            </svg>
            <span class="ml-4">Community Support</span>
          </li>
          <li class="flex items-center">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6 opacity-70">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
              ></path>
            </svg>
            <span class="ml-4">Basic analytics</span>
          </li>
        </ul>
        <a
          class="inline-flex items-center justify-center w-full px-6 py-3 text-center text-white duration-200 bg-vulcan-800 font-medium hover:bg-white/5 rounded-xl hover:text-white focus:outline-none focus-visible:outline-black focus-visible:ring-black mt-8"
          aria-label="Wannabe tier"
          href="https://docs.tuist.io/documentation/tuist/tuist-cloud-get-started">Get Started</a
        >
      </div>
    </section>
      <section
        class="flex flex-col p-[0.060rem] shadow-2xl rounded-3xl bg-gradient-to-b from-indigo-500 via-indigo-500/5">
        <div class="bg-vulcan-900 px-6 sm:px-8 lg:py-8 rounded-3xl h-full">
          <h3 class="mt-5 text-xl text-white">
            <span class="text-3xl">Enterprise</span> — Paid
          </h3>
          <p class="mt-2 text-base text-slate-400">
            Empowering companies with custom Tuist solutions tailored to the unique requirements of their business.
          </p>
          <ul
            role="list"
            class="flex flex-col order-last mt-10 text-sm text-white gap-y-3">
            <li class="flex items-center">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6 opacity-70">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                ></path>
              </svg>
              <span class="ml-4">Tuist-hosted and Self-hosted</span>
            </li>
            <li class="flex items-center">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6 opacity-70">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                ></path>
              </svg>
              <span class="ml-4">Integration with other services</span>
            </li>
            <li class="flex items-center">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6 opacity-70">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                ></path>
              </svg>
              <span class="ml-4">Support engineering via Slack Connect</span>
            </li>
            <li class="flex items-center">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6 opacity-70">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                ></path>
              </svg>
              <span class="ml-4">Advanced analytics</span>
            </li>
            <li class="flex items-center">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6 opacity-70">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                ></path>
              </svg>
              <span class="ml-4">Single-Sign-On (SSO)</span>
            </li>
            <li class="flex items-center">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6 opacity-70">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                ></path>
              </svg>
              <span class="ml-4">Custom legal (add-on)</span>
            </li>
          </ul>
          <a
            class="inline-flex items-center justify-center w-full px-6 py-3 text-center text-white hover:to-indigo-400 duration-200 bg-gradient-to-r from-sky-400 to-indigo-500 font-medium rounded-xl hover:text-white focus:outline-none focus-visible:outline-black focus-visible:ring-black mt-8"
            aria-label="Indie hacker tier"
            href="https://docs.tuist.io/documentation/tuist/tuist-cloud-get-started">Get Started</a
          >
        </div>
      </section>
    </div>
  </div>
</section>
