---
import Verticalgrid from "../assets/Verticalgrid.astro";
import Blurgradientleft from "../assets/Blurgradientleft.astro";
---

<section
  aria-labelledby="pricing-seven"
  id="pricing-seven"
  class="relative border-t border-white/5 overflow-hidden">
  <div class="hidden lg:block"><Verticalgrid /><Blurgradientleft /></div>
  <div class="max-w-7xl px-8 md:px-12 lg:px-32 mx-auto py-12 lg:py-24 relative">
    <div class="text-center">
      <span
        class="text-transparent bg-clip-text font-medium tracking-widest bg-gradient-to-r from-cyan-400 via-cyan-500 to-indigo-500 text-xs uppercase"
        >pricing 7</span
      >
      <h2 class="text-3xl mt-8 font-normal text-white">
        Always know what you’ll pay,
        <span class="lg:block"> semitransparent pricing for some</span>
      </h2>
    </div>
  </div>
  <div class="pb-24 lg:pb-32">
    <!-- Here starts the mobile pricing table -->
    <div class="block lg:hidden">
      <div class="mx-auto mt-8">
        <div
          class="flex flex-col max-w-xl p-8 mx-auto mb-8 border-0 shadow-sm text-white">
          <div class="text-lg font-medium leading-6 text-white">
            Starter
            <span
              class="inline-flex float-right items-center px-3 py-0.5 rounded-md text-sm font-medium text-white border-white border">
              -20%
            </span>
          </div>
          <div class="pr-2 mt-4 mb-2 text-sm font-normal text-slate-400">
            Hobby-20% For individuals
          </div>
          <div>
            <div class="flex mt-4 mb-6">
              <div class="flex-shrink-0 text-6xl font-bold text-white">$16</div>
              <div class="mt-auto ml-2 text-sm font-normal text-white">
                per user
                <br />
                per month
              </div>
            </div>
          </div>
          <div class="mt-4"></div>
          <li class="flex py-2 text-sm text-slate-400">
            <svg
              class="flex-shrink-0 w-5 h-5 text-cyan-500"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal">
              3
              <a href="#"> Analytics</a>
            </span>
          </li><li class="flex py-2 text-sm text-slate-400">
            <svg
              class="flex-shrink-0 w-5 h-5 text-cyan-500"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal">
              5
              <a href="#">Accounts</a>
            </span>
          </li><li class="flex py-2 text-sm text-slate-400">
            <svg
              class="flex-shrink-0 w-5 h-5 text-cyan-500"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal">
              2
              <a href="#"> Integrations</a>
            </span>
          </li><li class="flex py-2 text-sm text-slate-400">
            <svg
              class="flex-shrink-0 w-5 h-5 text-cyan-500"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal">
              -
              <a href="#"> Programs</a>
            </span>
          </li><table class="w-full">
            <caption class="py-3 text-sm font-normal text-left text-white">
              Product features
            </caption>
            <thead>
              <tr>
                <th class="sr-only" scope="col">Feature</th>
                <th class="sr-only" scope="col">Included</th>
              </tr>
            </thead>
            <tbody class="divide-y divide-slate-800"> </tbody>
          </table>
          <li class="flex py-2 text-sm text-slate-400">
            <svg
              class="flex-shrink-0 w-5 h-5 text-cyan-500"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal"> Slack community</span>
          </li><li class="flex py-2 text-sm text-slate-400">
            <svg
              class="flex-shrink-0 w-5 h-5 text-cyan-500"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal"> Response SLA: 3 days</span>
          </li><table class="w-full">
            <caption class="py-3 text-sm font-normal text-left text-white">
              Support and implementation
            </caption>
            <thead>
              <tr>
                <th class="sr-only" scope="col">Feature</th>
                <th class="sr-only" scope="col">Included</th>
              </tr>
            </thead>
            <tbody class="divide-y divide-slate-800"> </tbody>
          </table>
          <li class="flex py-2 text-sm text-slate-400">
            <svg
              class="flex-shrink-0 w-5 h-5 text-cyan-500"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal">
              Unlimited
              <a
                href="https://help.Deployments.io/en/articles/5996599-what-is-a-user-in-Deployments-io#h_9a37c5759a">
                Viewers
              </a>
            </span>
          </li><li class="flex py-2 text-sm text-slate-400">
            <svg
              class="flex-shrink-0 w-5 h-5 text-cyan-500"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal"> Minimum term: Month-to-month</span>
          </li><li class="flex py-2 text-sm text-slate-400">
            <svg
              class="flex-shrink-0 w-5 h-5 text-cyan-500"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal"> Pay monthly</span>
          </li><li class="flex py-2 text-sm text-slate-400">
            <svg
              class="flex-shrink-0 w-5 h-5 text-cyan-500"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal"> Pay yearly</span>
          </li><li class="flex py-2 text-sm text-slate-400">
            <svg
              class="flex-shrink-0 w-5 h-5 text-cyan-500"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal"> Pay by credit card</span>
          </li><table class="w-full">
            <caption class="py-3 text-sm font-normal text-left text-white">
              Payment and terms
            </caption>
            <thead>
              <tr>
                <th class="sr-only" scope="col">Feature</th>
                <th class="sr-only" scope="col">Included</th>
              </tr>
            </thead>
            <tbody class="divide-y divide-slate-800"> </tbody>
          </table>
          <div class="w-full py-2 mb-4">
            <button
              class="inline-flex items-center justify-center w-full px-6 py-3 text-center text-white duration-200 bg-vulcan-800 font-medium hover:bg-white/5 rounded-xl hover:text-white focus:outline-none focus-visible:outline-black focus-visible:ring-black mt-8"
              id="billing-plan-get-started-for-free">
              Get started for free
            </button>
          </div>
        </div>
        <div
          class="flex flex-col max-w-xl p-8 mx-auto mb-8 border-0 shadow-sm text-white">
          <div class="text-lg font-medium leading-6 text-cyan-500">Pro</div>
          <div class="pr-2 mt-4 mb-2 text-sm font-normal text-slate-400">
            Hobby-20% For individuals
          </div>
          <div>
            <div class="flex mt-4 mb-6">
              <div class="flex-shrink-0 text-6xl font-bold text-white">$26</div>
              <div class="mt-auto ml-2 text-sm font-normal text-white">
                per user
                <br />
                per month
              </div>
            </div>
          </div>
          <div class="mt-4"></div>
          <li class="flex py-2 text-sm text-slate-400">
            <svg
              class="flex-shrink-0 w-5 h-5 text-cyan-500"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal">
              10
              <a href="#"> Analytics</a>
            </span>
          </li><li class="flex py-2 text-sm text-slate-400">
            <svg
              class="flex-shrink-0 w-5 h-5 text-cyan-500"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal">
              10
              <a href="#">Accounts</a>
            </span>
          </li><li class="flex py-2 text-sm text-slate-400">
            <svg
              class="flex-shrink-0 w-5 h-5 text-cyan-500"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal">
              Unlimited
              <a href="#"> Integrations</a>
            </span>
          </li><li class="flex py-2 text-sm text-slate-400">
            <svg
              class="flex-shrink-0 w-5 h-5 text-cyan-500"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal">
              1
              <a href="#"> Programs</a>
            </span>
          </li><li class="flex py-2 text-sm text-slate-400">
            <svg
              class="flex-shrink-0 w-5 h-5 text-cyan-500"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal">
              <a href="#"> Deployments</a>
            </span>
          </li><li class="flex py-2 text-sm text-slate-400">
            <svg
              class="flex-shrink-0 w-5 h-5 text-cyan-500"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal">
              <a href="#"> Advanced Checkpoints</a>
            </span>
          </li><li class="flex py-2 text-sm text-slate-400">
            <svg
              class="flex-shrink-0 w-5 h-5 text-cyan-500"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal">
              <a href="#"> Private Deploymentss</a>
            </span>
          </li><table class="w-full">
            <caption class="py-3 text-sm font-normal text-left text-white">
              Product features
            </caption>
            <thead>
              <tr>
                <th class="sr-only" scope="col">Feature</th>
                <th class="sr-only" scope="col">Included</th>
              </tr>
            </thead>
            <tbody class="divide-y divide-slate-800"> </tbody>
          </table>
          <li class="flex py-2 text-sm text-slate-400">
            <svg
              class="flex-shrink-0 w-5 h-5 text-cyan-500"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal"> Live chat</span>
          </li><li class="flex py-2 text-sm text-slate-400">
            <svg
              class="flex-shrink-0 w-5 h-5 text-cyan-500"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal"> Response SLA: 1 day</span>
          </li><li class="flex py-2 text-sm text-slate-400">
            <svg
              class="flex-shrink-0 w-5 h-5 text-cyan-500"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal">
              Dedicated Customer Success Manager
            </span>
          </li><li class="flex py-2 text-sm text-slate-400">
            <svg
              class="flex-shrink-0 w-5 h-5 text-cyan-500"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal"> Training calls</span>
          </li><table class="w-full">
            <caption class="py-3 text-sm font-normal text-left text-white">
              Support and implementation
            </caption>
            <thead>
              <tr>
                <th class="sr-only" scope="col">Feature</th>
                <th class="sr-only" scope="col">Included</th>
              </tr>
            </thead>
            <tbody class="divide-y divide-slate-800"> </tbody>
          </table>
          <li class="flex py-2 text-sm text-slate-400">
            <svg
              class="flex-shrink-0 w-5 h-5 text-cyan-500"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal"> 30 Included users</span>
          </li><li class="flex py-2 text-sm text-slate-400">
            <svg
              class="flex-shrink-0 w-5 h-5 text-cyan-500"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal">
              Unlimited
              <a href="#"> Viewers</a>
            </span>
          </li><li class="flex py-2 text-sm text-slate-400">
            <svg
              class="flex-shrink-0 w-5 h-5 text-cyan-500"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal">
              Additional users: $23 per month
            </span>
          </li><li class="flex py-2 text-sm text-slate-400">
            <svg
              class="flex-shrink-0 w-5 h-5 text-cyan-500"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal"> Volume discounts</span>
          </li><li class="flex py-2 text-sm text-slate-400">
            <svg
              class="flex-shrink-0 w-5 h-5 text-cyan-500"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal"> Minimum term: 1 year</span>
          </li><li class="flex py-2 text-sm text-slate-400">
            <svg
              class="flex-shrink-0 w-5 h-5 text-cyan-500"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal"> Pay yearly</span>
          </li><li class="flex py-2 text-sm text-slate-400">
            <svg
              class="flex-shrink-0 w-5 h-5 text-cyan-500"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal"> Pay by credit card</span>
          </li><li class="flex py-2 text-sm text-slate-400">
            <svg
              class="flex-shrink-0 w-5 h-5 text-cyan-500"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal"> Pay by bank transfer</span>
          </li><table class="w-full">
            <caption class="py-3 text-sm font-normal text-left text-white">
              Payment and terms
            </caption>
            <thead>
              <tr>
                <th class="sr-only" scope="col">Feature</th>
                <th class="sr-only" scope="col">Included</th>
              </tr>
            </thead>
            <tbody class="divide-y divide-slate-800"> </tbody>
          </table>
          <div class="w-full py-2 mb-4">
            <button
              class="inline-flex items-center justify-center w-full px-6 py-3 text-center text-white hover:to-indigo-400 duration-200 bg-gradient-to-r from-sky-400 to-indigo-500 font-medium rounded-xl hover:text-white focus:outline-none focus-visible:outline-black focus-visible:ring-black mt-8"
              id="billing-plan-get-in-touch-pro">
              Get in touch
            </button>
          </div>
        </div>
        <div
          class="flex flex-col max-w-xl p-8 mx-auto mb-8 border-0 shadow-sm text-white">
          <div class="text-lg font-medium leading-6 text-white">Enterprise</div>
          <div class="pr-2 mt-4 mb-2 text-sm font-normal text-slate-400">
            Suitable for those that want to grow like a rocket and eat pizza
          </div>
          <div
            class="flex py-2 my-1 mt-8 text-sm font-normal rounded-md text-slate-400">
            <p>Talk to us</p>
          </div>
          <div class="mt-4"></div>
          <li class="flex py-2 text-sm text-slate-400">
            <svg
              class="flex-shrink-0 w-5 h-5 text-cyan-500"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal">
              Unlimited
              <a href="#"> Analytics</a>
            </span>
          </li><li class="flex py-2 text-sm text-slate-400">
            <svg
              class="flex-shrink-0 w-5 h-5 text-cyan-500"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal">
              Unlimited
              <a href="#">Accounts</a>
            </span>
          </li><li class="flex py-2 text-sm text-slate-400">
            <svg
              class="flex-shrink-0 w-5 h-5 text-cyan-500"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal">
              Unlimited
              <a href="#"> Integrations</a>
            </span>
          </li><li class="flex py-2 text-sm text-slate-400">
            <svg
              class="flex-shrink-0 w-5 h-5 text-cyan-500"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal">
              Unlimited
              <a href="#"> Programs</a>
            </span>
          </li><li class="flex py-2 text-sm text-slate-400">
            <svg
              class="flex-shrink-0 w-5 h-5 text-cyan-500"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal">
              <a href="#"> Deployments</a>
            </span>
          </li><li class="flex py-2 text-sm text-slate-400">
            <svg
              class="flex-shrink-0 w-5 h-5 text-cyan-500"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal">
              <a href="#"> Advanced Checkpoints</a>
            </span>
          </li><li class="flex py-2 text-sm text-slate-400">
            <svg
              class="flex-shrink-0 w-5 h-5 text-cyan-500"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal">
              <a href="#"> Private Deploymentss</a>
            </span>
          </li><table class="w-full">
            <caption class="py-3 text-sm font-normal text-left text-white">
              Product features
            </caption>
            <thead>
              <tr>
                <th class="sr-only" scope="col">Feature</th>
                <th class="sr-only" scope="col">Included</th>
              </tr>
            </thead>
            <tbody class="divide-y divide-slate-800"> </tbody>
          </table>
          <li class="flex py-2 text-sm text-slate-400">
            <svg
              class="flex-shrink-0 w-5 h-5 text-cyan-500"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal">
              Dedicated Discord and Premium support
            </span>
          </li><li class="flex py-2 text-sm text-slate-400">
            <svg
              class="flex-shrink-0 w-5 h-5 text-cyan-500"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal"> Response SLA: 3 hours</span>
          </li><li class="flex py-2 text-sm text-slate-400">
            <svg
              class="flex-shrink-0 w-5 h-5 text-cyan-500"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal"> Service Level Agreement</span>
          </li><li class="flex py-2 text-sm text-slate-400">
            <svg
              class="flex-shrink-0 w-5 h-5 text-cyan-500"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal">
              Dedicated Customer Success Manager
            </span>
          </li><li class="flex py-2 text-sm text-slate-400">
            <svg
              class="flex-shrink-0 w-5 h-5 text-cyan-500"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal"> Training calls</span>
          </li><li class="flex py-2 text-sm text-slate-400">
            <svg
              class="flex-shrink-0 w-5 h-5 text-cyan-500"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal">
              Custom implementation sessions
            </span>
          </li><li class="flex py-2 text-sm text-slate-400">
            <svg
              class="flex-shrink-0 w-5 h-5 text-cyan-500"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal">
              Dedicated Slack support channel
            </span>
          </li><li class="flex py-2 text-sm text-slate-400">
            <svg
              class="flex-shrink-0 w-5 h-5 text-cyan-500"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal">
              <a
                href="https://help.Deployments.io/en/articles/5948396-our-pricing-plans#h_4a76f246cc">
                Sandbox Environments
              </a>
            </span>
          </li><table class="w-full">
            <caption class="py-3 text-sm font-normal text-left text-white">
              Support and implementation
            </caption>
            <thead>
              <tr>
                <th class="sr-only" scope="col">Feature</th>
                <th class="sr-only" scope="col">Included</th>
              </tr>
            </thead>
            <tbody class="divide-y divide-slate-800"> </tbody>
          </table>
          <li class="flex py-2 text-sm text-slate-400">
            <svg
              class="flex-shrink-0 w-5 h-5 text-cyan-500"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal"> Master Services Agreement</span>
          </li><li class="flex py-2 text-sm text-slate-400">
            <svg
              class="flex-shrink-0 w-5 h-5 text-cyan-500"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal"> SOC2 Report</span>
          </li><table class="w-full">
            <caption class="py-3 text-sm font-normal text-left text-white">
              Procurement process
            </caption>
            <thead>
              <tr>
                <th class="sr-only" scope="col">Feature</th>
                <th class="sr-only" scope="col">Included</th>
              </tr>
            </thead>
            <tbody class="divide-y divide-slate-800"> </tbody>
          </table>
          <li class="flex py-2 text-sm text-slate-400">
            <svg
              class="flex-shrink-0 w-5 h-5 text-cyan-500"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal"> 100 Included users</span>
          </li><li class="flex py-2 text-sm text-slate-400">
            <svg
              class="flex-shrink-0 w-5 h-5 text-cyan-500"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal">
              Unlimited
              <a
                href="https://help.Deployments.io/en/articles/5996599-what-is-a-user-in-Deployments-io#h_9a37c5759a">
                Viewers
              </a>
            </span>
          </li><li class="flex py-2 text-sm text-slate-400">
            <svg
              class="flex-shrink-0 w-5 h-5 text-cyan-500"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal">
              Additional users: $40 per month
            </span>
          </li><li class="flex py-2 text-sm text-slate-400">
            <svg
              class="flex-shrink-0 w-5 h-5 text-cyan-500"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal"> Volume discounts</span>
          </li><li class="flex py-2 text-sm text-slate-400">
            <svg
              class="flex-shrink-0 w-5 h-5 text-cyan-500"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal"> Minimum term: 1 year</span>
          </li><li class="flex py-2 text-sm text-slate-400">
            <svg
              class="flex-shrink-0 w-5 h-5 text-cyan-500"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal"> Pay yearly</span>
          </li><li class="flex py-2 text-sm text-slate-400">
            <svg
              class="flex-shrink-0 w-5 h-5 text-cyan-500"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal"> Pay by bank transfer</span>
          </li><table class="w-full">
            <caption class="py-3 text-sm font-normal text-left text-white">
              Payment and terms
            </caption>
            <thead>
              <tr>
                <th class="sr-only" scope="col">Feature</th>
                <th class="sr-only" scope="col">Included</th>
              </tr>
            </thead>
            <tbody class="divide-y divide-slate-800"> </tbody>
          </table>
          <div class="w-full py-2 mb-4">
            <button
              class="inline-flex items-center justify-center w-full px-4 py-2 mt-8 text-sm font-semibold text-white bg-slate-500 rounded-xl group focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 hover:bg-slate-400 active:bg-slate-500 focus-visible:outline-white"
              id="billing-plan-get-in-touch-enterprise">
              Get in touch
            </button>
          </div>
        </div>
      </div>
    </div>
    <!---- Here starts the Desktop pricing table -->
    <section class="hidden lg:block relative">
      <div
        class="border border-white/5 rounded-3xl max-w-6xl p-20 bg-vulcan-900 overflow-hidden mx-auto">
        <table class="mx-auto text-white bg-vulcan-900 w-full">
          <thead>
            <tr class="text-left align-top">
              <th class=""></th>
              <th class="w-1/4 px-2">
                <div class="text-lg font-medium leading-6 text-white">
                  Hobby
                  <span
                    class="inline-flex float-right items-center px-3 py-0.5 rounded-md text-sm font-medium text-white border-white border">
                    -20%
                  </span>
                </div>
                <div class="pr-2 mt-4 mb-2">
                  <p class="mt-6 text-sm font-normal text-slate-400">
                    For individuals
                  </p>
                </div>
              </th>
              <th class="w-1/4 px-2">
                <div class="text-lg font-medium leading-6 text-cyan-500">
                  Pro
                </div>
                <div class="pr-2 mt-4 mb-2">
                  <p class="mt-6 text-sm font-normal text-slate-400">
                    For medium businesses
                  </p>
                </div>
              </th>
              <th class="w-1/4 px-2">
                <div class="text-lg font-medium leading-6 text-white">
                  Enterprise
                </div>
                <div class="pr-2 mt-4 mb-2">
                  <p class="mt-6 text-sm font-normal text-slate-400">
                    For organizations
                  </p>
                </div>
              </th>
            </tr>
            <tr class="text-left align-middle">
              <th class=""></th>
              <th class="w-1/4 px-2">
                <div>
                  <div class="flex mt-4 mb-6">
                    <div class="flex-shrink-0 text-6xl font-normal text-white">
                      $16
                    </div>
                    <div class="mt-auto ml-2 text-sm font-normal text-white">
                      per user
                      <br />
                      per month
                    </div>
                  </div>
                </div>
              </th>
              <th class="w-1/4 px-2">
                <div>
                  <div class="flex mt-4 mb-6">
                    <div class="flex-shrink-0 text-6xl font-normal text-white">
                      $20
                    </div>
                    <div class="mt-auto ml-2 text-sm font-normal text-white">
                      per user
                      <br />
                      per month
                    </div>
                  </div>
                </div>
              </th>
              <th class="w-1/4 px-2">
                <div class="flex py-2 my-1 mt-8 text-sm font-normal text-white">
                  <p class="leading-5">Talk to us</p>
                </div>
              </th>
            </tr>
            <tr class="text-left align-top">
              <th class="px-2"></th>
              <th class="w-1/4 px-2">
                <div class="w-full py-2 mb-4">
                  <a
                    class="inline-flex items-center justify-center w-full px-6 py-3 text-center text-white duration-200 bg-vulcan-800 font-medium hover:bg-white/5 rounded-xl hover:text-white focus:outline-none focus-visible:outline-black focus-visible:ring-black mt-8">
                    Get started for free
                  </a>
                </div>
              </th>
              <th class="w-1/4 px-2">
                <div class="w-full py-2 mb-4">
                  <a
                    class="inline-flex items-center justify-center w-full px-6 py-3 text-center text-white hover:to-indigo-400 duration-200 bg-gradient-to-r from-sky-400 to-indigo-500 font-medium rounded-xl hover:text-white focus:outline-none focus-visible:outline-black focus-visible:ring-black mt-8"
                    id="billing-plan-get-in-touch-pro">
                    Get in touch
                  </a>
                </div>
              </th>
              <th class="w-1/4 px-2">
                <div class="w-full py-2 mb-4">
                  <a
                    class="inline-flex items-center justify-center w-full px-6 py-3 text-center text-white duration-200 bg-vulcan-800 font-medium hover:bg-white/5 rounded-xl hover:text-white focus:outline-none focus-visible:outline-black focus-visible:ring-black mt-8"
                    id="billing-plan-get-in-touch-enterprise">
                    Get in touch
                  </a>
                </div>
              </th>
            </tr>
          </thead>
          <tbody class="divide-y divide-white/10">
            <tr>
              <th
                class="py-3 text-base font-medium text-left text-white"
                colspan="4"
                scope="colgroup">
                Product features
              </th>
            </tr>
            <tr>
              <th class="py-3 text-sm font-normal text-left text-slate-400">
                Analytics
                <p class="inline"></p>
              </th>
              <td class="px-2 text-sm font-normal">3</td>
              <td class="px-2 text-sm font-normal">10</td>
              <td class="px-2 text-sm font-normal">Unlimited</td>
            </tr>
            <tr>
              <th class="py-3 text-sm font-normal text-left text-slate-400">
                Accounts
                <p class="inline"></p>
              </th>
              <td class="px-2 text-sm font-normal">5</td>
              <td class="px-2 text-sm font-normal">10</td>
              <td class="px-2 text-sm font-normal">Unlimited</td>
            </tr>
            <tr>
              <th class="py-3 text-sm font-normal text-left text-slate-400">
                Integrations
                <p class="inline"></p>
              </th>
              <td class="px-2 text-sm font-normal">2</td>
              <td class="px-2 text-sm font-normal">Unlimited</td>
              <td class="px-2 text-sm font-normal">Unlimited</td>
            </tr>
            <tr>
              <th class="py-3 text-sm font-normal text-left text-slate-400">
                Programs
                <p class="inline"></p>
              </th>
              <td class="px-2 text-sm font-normal">-</td>
              <td class="px-2 text-sm font-normal">1</td>
              <td class="px-2 text-sm font-normal">Unlimited</td>
            </tr>
            <tr>
              <th class="py-3 text-sm font-normal text-left text-slate-400">
                Deployments
                <p class="inline"></p>
              </th>
              <td class="px-2 text-sm font-normal">
                <div>-</div>
              </td>
              <td class="px-2 text-sm font-normal">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  aria-hidden="true"
                  class="w-5 h-5 text-cyan-500">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 13l4 4L19 7"></path>
                </svg>
              </td>
              <td class="px-2 text-sm font-normal">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  aria-hidden="true"
                  class="w-5 h-5 text-cyan-500">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 13l4 4L19 7"></path>
                </svg>
              </td>
            </tr>
            <tr>
              <th class="py-3 text-sm font-normal text-left text-slate-400">
                Advanced Checkpoints
                <p class="inline"></p>
              </th>
              <td class="px-2 text-sm font-normal">
                <div>-</div>
              </td>
              <td class="px-2 text-sm font-normal">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  aria-hidden="true"
                  class="w-5 h-5 text-cyan-500">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 13l4 4L19 7"></path>
                </svg>
              </td>
              <td class="px-2 text-sm font-normal">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  aria-hidden="true"
                  class="w-5 h-5 text-cyan-500">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 13l4 4L19 7"></path>
                </svg>
              </td>
            </tr>
            <tr>
              <th class="py-3 text-sm font-normal text-left text-slate-400">
                Private Deploymentss
                <p class="inline"></p>
              </th>
              <td class="px-2 text-sm font-normal">
                <div>-</div>
              </td>
              <td class="px-2 text-sm font-normal">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  aria-hidden="true"
                  class="w-5 h-5 text-cyan-500">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 13l4 4L19 7"></path>
                </svg>
              </td>
              <td class="px-2 text-sm font-normal">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  aria-hidden="true"
                  class="w-5 h-5 text-cyan-500">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 13l4 4L19 7"></path>
                </svg>
              </td>
            </tr>
            <tr>
              <th
                class="py-3 text-base font-medium text-left text-white"
                colspan="4"
                scope="colgroup">
                Support and performance
              </th>
            </tr>
            <tr>
              <th class="py-3 text-sm font-normal text-left text-slate-400"
                >Support</th
              >
              <td class="px-2 text-sm font-normal">Discord community</td>
              <td class="px-2 text-sm font-normal">Live chat</td>
              <td class="px-2 text-sm font-normal"> Dedicated Discord</td>
            </tr>
            <tr>
              <th class="py-3 text-sm font-normal text-left text-slate-400">
                SLA
              </th>
              <td class="px-2 text-sm font-normal">4 days</td>
              <td class="px-2 text-sm font-normal">3 day</td>
              <td class="px-2 text-sm font-normal">1 hour</td>
            </tr>
            <tr>
              <th class="py-3 text-sm font-normal text-left text-slate-400">
                Service Agreement
              </th>
              <td class="px-2 text-sm font-normal">
                <div>-</div>
              </td>
              <td class="px-2 text-sm font-normal">
                <div>-</div>
              </td>
              <td class="px-2 text-sm font-normal">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  aria-hidden="true"
                  class="w-5 h-5 text-cyan-500">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 13l4 4L19 7"></path>
                </svg>
              </td>
            </tr>
            <tr>
              <th class="py-3 text-sm font-normal text-left text-slate-400">
                Dedicated Manager
              </th>
              <td class="px-2 text-sm font-normal">
                <div>-</div>
              </td>
              <td class="px-2 text-sm font-normal">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  aria-hidden="true"
                  class="w-5 h-5 text-cyan-500">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 13l4 4L19 7"></path>
                </svg>
              </td>
              <td class="px-2 text-sm font-normal">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  aria-hidden="true"
                  class="w-5 h-5 text-cyan-500">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 13l4 4L19 7"></path>
                </svg>
              </td>
            </tr>
            <tr>
              <th class="py-3 text-sm font-normal text-left text-slate-400">
                Training
              </th>
              <td class="px-2 text-sm font-normal">
                <div>-</div>
              </td>
              <td class="px-2 text-sm font-normal">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  aria-hidden="true"
                  class="w-5 h-5 text-cyan-500">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 13l4 4L19 7"></path>
                </svg>
              </td>
              <td class="px-2 text-sm font-normal">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  aria-hidden="true"
                  class="w-5 h-5 text-cyan-500">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 13l4 4L19 7"></path>
                </svg>
              </td>
            </tr>
            <tr>
              <th class="py-3 text-sm font-normal text-left text-slate-400">
                Custom sessions
              </th>
              <td class="px-2 text-sm font-normal">
                <div>-</div>
              </td>
              <td class="px-2 text-sm font-normal">
                <div>-</div>
              </td>
              <td class="px-2 text-sm font-normal">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  aria-hidden="true"
                  class="w-5 h-5 text-cyan-500">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 13l4 4L19 7"></path>
                </svg>
              </td>
            </tr>
            <tr>
              <th class="py-3 text-sm font-normal text-left text-slate-400">
                Dedicated support channel
              </th>
              <td class="px-2 text-sm font-normal">
                <div>-</div>
              </td>
              <td class="px-2 text-sm font-normal">
                <div>-</div>
              </td>
              <td class="px-2 text-sm font-normal">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  aria-hidden="true"
                  class="w-5 h-5 text-cyan-500">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 13l4 4L19 7"></path>
                </svg>
              </td>
            </tr>
            <tr>
              <th class="py-3 text-sm font-normal text-left text-slate-400">
                Webstorm Environments
                <p class="inline"></p>
              </th>
              <td class="px-2 text-sm font-normal">
                <div>-</div>
              </td>
              <td class="px-2 text-sm font-normal">
                <div>-</div>
              </td>
              <td class="px-2 text-sm font-normal">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  aria-hidden="true"
                  class="w-5 h-5 text-cyan-500">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 13l4 4L19 7"></path>
                </svg>
              </td>
            </tr>

            <tr>
              <th
                class="py-3 text-base font-medium text-left text-white"
                colspan="4"
                scope="colgroup">
                Payment
              </th>
            </tr>
            <tr>
              <th class="py-3 text-sm font-normal text-left text-slate-400">
                Included accounts
              </th>
              <td class="px-2 text-sm font-normal">-</td>
              <td class="px-2 text-sm font-normal">30</td>
              <td class="px-2 text-sm font-normal">100</td>
            </tr>
            <tr>
              <th class="py-3 text-sm font-normal text-left text-slate-400">
                Views
                <p class="inline"></p>
              </th>
              <td class="px-2 text-sm font-normal">Unlimited</td>
              <td class="px-2 text-sm font-normal">Unlimited</td>
              <td class="px-2 text-sm font-normal">Unlimited</td>
            </tr>
            <tr>
              <th class="py-3 text-sm font-normal text-left text-slate-400">
                Additional accounts
              </th>
              <td class="px-2 text-sm font-normal">-</td>
              <td class="px-2 text-sm font-normal">$23 per month</td>
              <td class="px-2 text-sm font-normal">$40 per month</td>
            </tr>
            <tr>
              <th class="py-3 text-sm font-normal text-left text-slate-400">
                Discounts
              </th>
              <td class="px-2 text-sm font-normal">
                <div>-</div>
              </td>
              <td class="px-2 text-sm font-normal">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  aria-hidden="true"
                  class="w-5 h-5 text-cyan-500">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 13l4 4L19 7"></path>
                </svg>
              </td>
              <td class="px-2 text-sm font-normal">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  aria-hidden="true"
                  class="w-5 h-5 text-cyan-500">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 13l4 4L19 7"></path>
                </svg>
              </td>
            </tr>
            <tr>
              <th class="py-3 text-sm font-normal text-left text-slate-400">
                Minimum term
              </th>
              <td class="px-2 text-sm font-normal">Month-to-month</td>
              <td class="px-2 text-sm font-normal">Month-to-month</td>
              <td class="px-2 text-sm font-normal">1 year</td>
            </tr>
            <tr>
              <th class="py-3 text-sm font-normal text-left text-slate-400">
                Pay monthly
              </th>
              <td class="px-2 text-sm font-normal">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  aria-hidden="true"
                  class="w-5 h-5 text-cyan-500">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 13l4 4L19 7"></path>
                </svg>
              </td>
              <td class="px-2 text-sm font-normal">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  aria-hidden="true"
                  class="w-5 h-5 text-cyan-500">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 13l4 4L19 7"></path>
                </svg>
              </td>
              <td class="px-2 text-sm font-normal">
                <div>-</div>
              </td>
            </tr>
            <tr>
              <th class="py-3 text-sm font-normal text-left text-slate-400">
                Pay yearly
              </th>
              <td class="px-2 text-sm font-normal">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  aria-hidden="true"
                  class="w-5 h-5 text-cyan-500">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 13l4 4L19 7"></path>
                </svg>
              </td>
              <td class="px-2 text-sm font-normal">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  aria-hidden="true"
                  class="w-5 h-5 text-cyan-500">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 13l4 4L19 7"></path>
                </svg>
              </td>
              <td class="px-2 text-sm font-normal">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  aria-hidden="true"
                  class="w-5 h-5 text-cyan-500">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 13l4 4L19 7"></path>
                </svg>
              </td>
            </tr>
            <tr>
              <th class="py-3 text-sm font-normal text-left text-slate-400">
                Pay by credit card
              </th>
              <td class="px-2 text-sm font-normal">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  aria-hidden="true"
                  class="w-5 h-5 text-cyan-500">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 13l4 4L19 7"></path>
                </svg>
              </td>
              <td class="px-2 text-sm font-normal">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  aria-hidden="true"
                  class="w-5 h-5 text-cyan-500">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 13l4 4L19 7"></path>
                </svg>
              </td>
              <td class="px-2 text-sm font-normal">
                <div>-</div>
              </td>
            </tr>
            <tr>
              <th class="py-3 text-sm font-normal text-left text-slate-400">
                Pay by bank transfer
              </th>
              <td class="px-2 text-sm font-normal">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  aria-hidden="true"
                  class="w-5 h-5 text-cyan-500">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 13l4 4L19 7"></path>
                </svg>
              </td>
              <td class="px-2 text-sm font-normal">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  aria-hidden="true"
                  class="w-5 h-5 text-cyan-500">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 13l4 4L19 7"></path>
                </svg>
              </td>
              <td class="px-2 text-sm font-normal">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  aria-hidden="true"
                  class="w-5 h-5 text-cyan-500">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 13l4 4L19 7"></path>
                </svg>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
  </div>
</section>
