---
import Verticalgrid from "../assets/VerticalGrid.astro";
---

<section aria-labelledby="Featureten" id="Featureten " class="relative">
  <Verticalgrid />
  <div class="max-w-7xl px-8 md:px-12 lg:px-32 mx-auto py-12 lg:py-24 relative">
    <div class="max-w-2xl mx-auto lg:text-center">
      <div>
        <span
          class="text-transparent bg-clip-text font-medium tracking-widest bg-gradient-to-r from-cyan-400 via-teal-500 to-indigo-500 text-xs uppercase"
          >Features</span
        ><p class="text-3xl mt-8 font-normal text-white">
          Our platform includes multilingual support, allowing your website and
          app to be easily translated into multiple languages
        </p>
      </div>
      <ul
        class="grid grid-cols-1 lg:text-left gap-6 mt-12 sm:grid-cols-3 lg:gap-12"
        role="list">
        <li>
          <div>
            <p
              class="text-2xl font-medium text-transparent bg-clip-text bg-gradient-to-r from-cyan-400 via-teal-500 to-indigo-500 lg:text-4xl">
              90%
            </p>
          </div>
          <div class="mt-2 text-base text-slate-400">Faster turnarounds</div>
        </li>
        <li>
          <div>
            <p
              class="text-2xl font-medium text-transparent bg-clip-text bg-gradient-to-r from-cyan-400 via-teal-500 to-indigo-500 lg:text-4xl">
              34%
            </p>
          </div>
          <div class="mt-2 text-base text-slate-400">
            Fewer revisions to make
          </div>
        </li>
        <li>
          <div>
            <p
              class="text-2xl font-medium text-transparent bg-clip-text bg-gradient-to-r from-cyan-400 via-teal-500 to-indigo-500 lg:text-4xl">
              100%
            </p>
          </div>
          <div class="mt-2 text-base text-slate-400">
            Fewer rounds of reviews
          </div>
        </li>
      </ul>
    </div>
    <div
      class="relative items-center w-full mx-auto max-w-7xl mt-12 lg:p-10 pb-0 lg:pb-0 overflow-hidden lg:rounded-5xl lg:border border-white/10"
      style="">
      <img
        class="w-full bg-neutral-300 rounded-xl -mb-3 lg:rounded-t-3xl object-cover shadow-2xl shadow-black/80"
        src="https://linear.app/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fhero%404x.15e3a396.jpg&w=3840&q=75"
        alt=""
      />
    </div>
    <ul
      class="grid grid-cols-1 sm:grid-cols-2 gap-6 mt-12 list-none lg:grid-cols-3 lg:gap-12 lg:mt-24"
      role="list">
      <li class="gap-3">
        <ul class="list-none" role="list">
          <li>
            <div class="relative py-2 flex items-start">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-5 h-5 text-cyan-400">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                ></path>
              </svg>
              <p class="ml-2 text-sm leading-6 text-slate-400">
                <strong class="font-semibold text-slate-100"
                  >Access real-time financing</strong
                > — anytime.
              </p>
            </div>
          </li>
          <li>
            <div class="relative py-2 flex items-start">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-5 h-5 text-cyan-400">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                ></path>
              </svg>
              <p class="ml-2 text-sm leading-6 text-slate-400">
                <strong class="font-semibold text-slate-100"
                  >Bank-level security
                </strong> — 24/7.
              </p>
            </div>
          </li>
          <li>
            <div class="relative py-2 flex items-start">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-5 h-5 text-cyan-400">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                ></path>
              </svg>
              <p class="ml-2 text-sm leading-6 text-slate-400">
                <strong class="font-semibold text-slate-100"
                  >Built to scale</strong
                > — your company.
              </p>
            </div>
          </li>
        </ul>
      </li>
      <li class="gap-3">
        <ul class="list-none" role="list">
          <li>
            <div class="relative py-2 flex items-start">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-5 h-5 text-cyan-400">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                ></path>
              </svg>
              <p class="ml-2 text-sm leading-6 text-slate-400">
                <strong class="font-semibold text-slate-100"
                  >User-friendly</strong
                > — anytime.
              </p>
            </div>
          </li>
          <li>
            <div class="relative py-2 flex items-start">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-5 h-5 text-cyan-400">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                ></path>
              </svg>
              <p class="ml-2 text-sm leading-6 text-slate-400">
                <strong class="font-semibold text-slate-100"
                  >Customizable
                </strong> — 24/7.
              </p>
            </div>
          </li>
          <li>
            <div class="relative py-2 flex items-start">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-5 h-5 text-cyan-400">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                ></path>
              </svg>
              <p class="ml-2 text-sm leading-6 text-slate-400">
                <strong class="font-semibold text-slate-100"
                  >Scheduled Orders
                </strong> — your company.
              </p>
            </div>
          </li>
        </ul>
      </li>
      <li class="gap-3">
        <ul class="list-none" role="list">
          <li>
            <div class="relative py-2 flex items-start">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-5 h-5 text-cyan-400">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                ></path>
              </svg>
              <p class="ml-2 text-sm leading-6 text-slate-400">
                <strong class="font-semibold text-slate-100"
                  >Allergen Filtering
                </strong> — anytime.
              </p>
            </div>
          </li>
          <li>
            <div class="relative py-2 flex items-start">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-5 h-5 text-cyan-400">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                ></path>
              </svg>
              <p class="ml-2 text-sm leading-6 text-slate-400">
                <strong class="font-semibold text-slate-100"
                  >Multilingual support
                </strong> — 24/7.
              </p>
            </div>
          </li>
          <li>
            <div class="relative py-2 flex items-start">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-5 h-5 text-cyan-400">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                ></path>
              </svg>
              <p class="ml-2 text-sm leading-6 text-slate-400">
                <strong class="font-semibold text-slate-100"
                  >Multiple languages</strong
                > — your company.
              </p>
            </div>
          </li>
        </ul>
      </li>
      <li class="gap-3">
        <ul class="list-none" role="list">
          <li>
            <div class="relative py-2 flex items-start">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-5 h-5 text-cyan-400">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                ></path>
              </svg>
              <p class="ml-2 text-sm leading-6 text-slate-400">
                <strong class="font-semibold text-slate-100"
                  >User-focused</strong
                > — anytime.
              </p>
            </div>
          </li>
          <li>
            <div class="relative py-2 flex items-start">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-5 h-5 text-cyan-400">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                ></path>
              </svg>
              <p class="ml-2 text-sm leading-6 text-slate-400">
                <strong class="font-semibold text-slate-100">Accounts</strong> —
                24/7
              </p>
            </div>
          </li>
          <li>
            <div class="relative py-2 flex items-start">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-5 h-5 text-cyan-400">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                ></path>
              </svg>
              <p class="ml-2 text-sm leading-6 text-slate-400">
                <strong class="font-semibold text-slate-100"
                  >Automated Orders
                </strong> — your company.
              </p>
            </div>
          </li>
        </ul>
      </li>
      <li class="gap-3">
        <ul class="list-none" role="list">
          <li>
            <div class="relative py-2 flex items-start">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-5 h-5 text-cyan-400">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                ></path>
              </svg>
              <p class="ml-2 text-sm leading-6 text-slate-400">
                <strong class="font-semibold text-slate-100"
                  >Easily translated</strong
                > — anytime.
              </p>
            </div>
          </li>
          <li>
            <div class="relative py-2 flex items-start">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-5 h-5 text-cyan-400">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                ></path>
              </svg>
              <p class="ml-2 text-sm leading-6 text-slate-400">
                <strong class="font-semibold text-slate-100"
                  >Premium branding</strong
                > — 24/7
              </p>
            </div>
          </li>
          <li>
            <div class="relative py-2 flex items-start">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-5 h-5 text-cyan-400">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                ></path>
              </svg>
              <p class="ml-2 text-sm leading-6 text-slate-400">
                <strong class="font-semibold text-slate-100"
                  >Automated Tracking
                </strong> — your company.
              </p>
            </div>
          </li>
        </ul>
      </li>
      <li class="gap-3">
        <ul class="list-none" role="list">
          <li>
            <div class="relative py-2 flex items-start">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-5 h-5 text-cyan-400">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                ></path>
              </svg>
              <p class="ml-2 text-sm leading-6 text-slate-400">
                <strong class="font-semibold text-slate-100"
                  >Easily translated</strong
                > — anytime.
              </p>
            </div>
          </li>
          <li>
            <div class="relative py-2 flex items-start">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-5 h-5 text-cyan-400">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                ></path>
              </svg>
              <p class="ml-2 text-sm leading-6 text-slate-400">
                <strong class="font-semibold text-slate-100"
                  >Premium branding</strong
                > — 24/7
              </p>
            </div>
          </li>
          <li>
            <div class="relative py-2 flex items-start">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-5 h-5 text-cyan-400">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                ></path>
              </svg>
              <p class="ml-2 text-sm leading-6 text-slate-400">
                <strong class="font-semibold text-slate-100"
                  >Automated Tracking
                </strong> — your company.
              </p>
            </div>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
