---
import Verticalgrid from "../assets/VerticalGrid.astro";
---

<section
  aria-labelledby="Featurefour"
  id="Featurefour"
  class="relative scroll-mt-24">
  <Verticalgrid />
  <div class="max-w-7xl px-8 md:px-12 lg:px-32 mx-auto py-12 lg:py-24 relative">
    <div>
      <div class="max-w-xl">
        <span
          class="text-transparent bg-clip-text font-medium tracking-widest bg-gradient-to-r from-cyan-400 via-cyan-500 to-indigo-500 text-xs uppercase"
          >Caching</span
        >
        <p class="text-3xl mt-8 font-normal text-white">
          Turbo-boost your builds: up to 90% faster with built-in caching
        </p>
        <p class="max-w-2xl mt-4 text-lg text-slate-400">
          We fingerprint targets and dependencies and replace them with pre-built binaries generated from previous builds. And it works with Swift Packages too!
        </p>
      </div>
    </div>
    <div>
      <ul
        class="grid gap-8 mt-6 list-none grid-cols-1 md:grid-cols-3 lg:grid-cols-2 lg:gap-12 lg:mt-24"
        role="list">
        <li>
          <div>
            <div
              class="flex items-center justify-center w-12 h-12 text-white shadow-indigo-500/20 bg-gradient-to-tr shadow-2xl from-vulcan-900 to-vulcan-700 rounded-xl">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.182 15.182a4.5 4.5 0 01-6.364 0M21 12a9 9 0 11-18 0 9 9 0 0118 0zM9.75 9.75c0 .414-.168.75-.375.75S9 10.164 9 9.75 9.168 9 9.375 9s.375.336.375.75zm-.375 0h.008v.015h-.008V9.75zm5.625 0c0 .414-.168.75-.375.75s-.375-.336-.375-.75.168-.75.375-.75.375.336.375.75zm-.375 0h.008v.015h-.008V9.75z" />
              </svg>
              
            </div>
            <p class="mt-5 text-lg font-medium text-white lg:text-xl">
              Easy Integration
            </p>
          </div>
          <div class="mt-2 text-base text-slate-400">
            Unlock simplicity and efficiency with just a compilable project defined using Tuist APIs. Leave the heavy lifting of project mutations to us while you focus on what truly matters.
          </div>
        </li>
        <li>
          <div>
            <div
              class="flex items-center justify-center w-12 h-12 text-white shadow-indigo-500/20 bg-gradient-to-tr shadow-2xl from-vulcan-900 to-vulcan-700 rounded-xl">
              
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 256 256"><path fill="currentColor" d="m222.72 67.91l-88-48.18a13.9 13.9 0 0 0-13.44 0l-88 48.18A14 14 0 0 0 26 80.18v95.64a14 14 0 0 0 7.28 12.27l88 48.18a13.92 13.92 0 0 0 13.44 0l88-48.18a14 14 0 0 0 7.28-12.27V80.18a14 14 0 0 0-7.28-12.27ZM127 30.25a2 2 0 0 1 1.92 0L212.51 76l-33.94 18.57l-84.52-46.26ZM122 223l-83-45.43a2 2 0 0 1-1-1.75V86.66l84 46ZM43.49 76l38.07-20.85l84.51 46.26L128 122.24ZM218 175.82a2 2 0 0 1-1 1.75L134 223v-90.36l36-19.71V152a6 6 0 0 0 12 0v-45.63l36-19.71Z"/></svg>


            </div>
            <p class="mt-5 text-lg font-medium text-white lg:text-xl">
              Swift Packages Support
            </p>
          </div>
          <div class="mt-2 text-base text-slate-400">
            Most of the time you don't need the sources of your Swift Package dependencies.
            Therefore we compile them once and cache them for future builds.
          </div>
        </li>
        <li>
          <div>
            <div
              class="flex items-center justify-center w-12 h-12 text-white shadow-indigo-500/20 bg-gradient-to-tr shadow-2xl from-vulcan-900 to-vulcan-700 rounded-xl">
              
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 15a4.5 4.5 0 004.5 4.5H18a3.75 3.75 0 001.332-7.257 3 3 0 00-3.758-3.848 5.25 5.25 0 00-10.233 2.33A4.502 4.502 0 002.25 15z" />
              </svg>

            </div>
            <p class="mt-5 text-lg font-medium text-white lg:text-xl">
              Remote caching
            </p>
          </div>
          <div class="mt-2 text-base text-slate-400">
            Share the cache across local and remote environments (e.g. CI) and save time and money keeping your developers productive.
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
