---
import { Code } from "astro/components";
import Verticalgrid from "../assets/VerticalGrid.astro";
---

<section aria-labelledby="Featuretwo" id="Featuretwo " class="relative">
  <Verticalgrid />
  <div
    class="max-w-7xl px-8 md:px-12 lg:px-32 mx-auto py-12 lg:py-24 relative space-y-24"
  >
    <div
      class="grid grid-cols-1 gap-4 mt-20 lg:mt-6 list-none lg:grid-cols-2 lg:gap-24"
    >
      <div>
        <span
          class="text-transparent bg-clip-text font-medium tracking-widest bg-gradient-to-r from-cyan-400 via-teal-500 to-indigo-500 text-xs uppercase"
          >Tuist
        </span><p class="text-3xl mt-8 font-normal text-white">
          Supercharge your Xcode development workflows
        </p>
        <p class="max-w-2xl mt-4 text-lg text-slate-400">
          Effortlessly build, test, and deploy your Xcode projects with Tuist's
          revolutionary automation and project management features.
        </p>
        <p class="max-w-2xl mt-4 text-lg text-slate-400">
          Proudly sponsored by
        </p>
        <div class="mt-5 w-fit grid grid-flow-row grid-cols-2 grid-rows-2 gap-5 auto-cols-min md:flex md:flex-row gap-x-10 items-center">
          <!-- Runway -->
          <a
            href="https://runway.team?utm_source=Tuist&utm_medium=Tuist_Website_Ad&utm_content=Developer&utm_term=tuist"
          >
            <svg
              class="h-4 object-contain fill-white"
              viewBox="0 0 126 20"
              class="fill-white"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M2.92944 2.95866H7.75845C8.70441 3.14214 9.40626 3.60849 9.86398 4.35771C10.3522 5.29042 10.2607 6.28428 9.58935 7.33931C9.14688 7.87447 8.49844 8.21085 7.64401 8.34846H2.92944V2.95866ZM0 0V19.7244H3.02099V11.3989H7.78133L11.077 19.7473H14.3497L10.665 10.4126C11.0159 10.168 11.2829 9.96922 11.466 9.81632C11.6644 9.66342 11.878 9.43407 12.1068 9.12826C12.351 8.82246 12.534 8.49372 12.6561 8.14204C13.2969 6.85767 13.4114 5.4739 12.9994 3.99075C12.6485 2.92043 12.084 2.04124 11.3058 1.35318C10.4361 0.573384 9.34523 0.122322 8.03308 0H0Z"
              ></path>
              <path
                d="M21.6962 0.229354V15.0456C22.0318 16.3911 22.8863 17.6067 24.2594 18.6923C25.6631 19.5791 27.0668 20.0149 28.4705 19.9996C30.3472 19.9079 31.8424 19.3192 32.9562 18.2336C34.0853 17.3009 34.7566 16.1618 34.9702 14.8162V0.206418H31.9721V14.3805C31.6365 15.359 30.927 16.1312 29.8437 16.6969C28.5926 17.0945 27.4406 16.9951 26.3879 16.3988C25.5945 16.0777 25.0605 15.3667 24.7858 14.2658V0.229354H21.6962Z"
              ></path>
              <path
                d="M43.667 19.9767H46.6422V6.51364L53.6683 19.9767H56.8266V0.275225H53.8743V13.83L46.8482 0.275225H43.6441L43.667 19.9767Z"
              ></path>
              <path
                d="M65.5692 0.206418L68.3613 19.9537H71.4509L74.2202 7.31637L77.0123 19.9308H80.1248L82.8254 0.229354H79.8273L78.271 11.3301L75.7536 0.25229H72.6868L70.238 11.2842L68.6817 0.206418H65.5692Z"
              ></path>
              <path
                d="M98.6627 11.0548H94.6347L96.6487 5.18338L98.6627 11.0548ZM104.934 19.9767L98.2965 0.160549H95.1382L88.3639 19.9767H91.6595L93.6277 14.1052H99.6011L101.638 19.9767H104.934Z"
              ></path>
              <path
                d="M115.965 11.2383L115.919 19.8391L118.917 19.8161V11.1466L125.714 0.0458717H122.075L117.407 7.72921L112.646 0.0458717H109.122L115.965 11.2383Z"
              ></path>
            </svg>
          </a>
          <!-- Stream -->
          <a
            href="https://getstream.io/chat/sdk/ios/?utm_source=Tuist&utm_medium=Tuist_Website_Ad&utm_content=Developer&utm_campaign=Github_Jan2022_SwiftSDK&utm_term=tuist"
          >
            <svg
              class="h-5 object-contain fill-white"
              viewBox="0 0 95 16"
              xmlns="http://www.w3.org/2000/svg"
              ><title>Stream logo</title><g fill="current" fill-rule="evenodd"
                ><path
                  d="m39.8 13.4.3-.4c.2-.1.2-.3.2-.5s0-.4-.3-.6c-.1-.2-.3-.3-.6-.4a28.2 28.2 0 0 1-2.9-.8l-1.1-.7c-.4-.2-.6-.5-.8-.8L34.3 8c0-.5.1-.9.3-1.2.2-.4.5-.8.9-1 .3-.3.8-.6 1.2-.7a4.5 4.5 0 0 1 2.9 0c.4 0 .8.2 1.2.5l.8.8c.3.3.4.7.5 1L40 8c0-.3-.3-.6-.6-.8a2 2 0 0 0-1.2-.4A2.2 2.2 0 0 0 37 7l-.4.4-.2.5.2.5.5.4.6.2.6.2 2 .6 1.3.7c.3.3.5.6.6 1 .2.2.2.6.2 1 0 .5 0 1-.3 1.3-.2.4-.5.8-.9 1.1-.4.3-.9.6-1.4.7-.5.2-1.1.3-1.7.3-1 0-1.8-.2-2.6-.7-.7-.5-1.2-1-1.5-1.8l2-.8c.2.5.5.8.9 1 .3.2.8.3 1.3.3.6 0 1-.2 1.5-.5Zm10 2.2-1.9.4c-.6 0-1.1 0-1.6-.3-.5-.2-.9-.6-1.2-1.1-.3-.5-.4-1.3-.4-2.3v-5h-1.9V5h.5c.6 0 1.2-.1 1.5-.7.2-.2.2-.5.2-1.2v-.8h2V5h2.2v2.4h-2.3v6.1l.5.5.8.1h1.2l.4 1.5Zm7-8.6-.3-.2H56l-.3-.1a3.5 3.5 0 0 0-2.3.8l-.6.8c-.2.3-.2.7-.2 1V16h-2.3v-11h1.8l.4 1.3c.3-.5.7-.8 1.2-1a4 4 0 0 1 1.9-.5l1.7.2-.6 2Zm5.7 8.9a5.7 5.7 0 0 1-5.2-3.4c-.3-.7-.5-1.4-.5-2.2a5.6 5.6 0 0 1 3.3-5.1 5.5 5.5 0 0 1 4.1 0c.6.2 1.2.6 1.6 1.1.5.5.9 1.2 1.1 2 .3.9.4 1.8.4 3h-8.1c0 .4.2.7.5 1a3.9 3.9 0 0 0 1.8 1.5l1.3.2a4.1 4.1 0 0 0 2.8-1.1l1.4 1.3a6 6 0 0 1-2 1.2c-.7.3-1.6.5-2.5.5Zm-.4-9.2c-.3 0-.7 0-1 .2a3.2 3.2 0 0 0-1.5 1.4c-.2.3-.4.7-.4 1h5.7c0-.3 0-.6-.2-1A2.7 2.7 0 0 0 62 6.7Zm17-1.7v10.9h-1.8l-.4-1.5c-.3.5-.8.9-1.4 1.1-.6.3-1.2.4-1.8.4a5.3 5.3 0 0 1-3.9-1.6 5.7 5.7 0 0 1 0-8 5.5 5.5 0 0 1 3.9-1.6c.6 0 1.2.2 1.7.4.6.2 1.1.6 1.5 1l.4-1.1h1.9Zm-5.4 9 1.2-.3c.4-.2.8-.5 1-.8a3.8 3.8 0 0 0 1-2.6 4 4 0 0 0-1-2.6c-.2-.3-.6-.6-1-.8a2.8 2.8 0 0 0-2.5 0l-1 .8a3.8 3.8 0 0 0-1 2.6 4 4 0 0 0 1 2.6l1 .8c.4.2.8.3 1.3.3Zm9.3 1.9h-2.2v-11h1.7l.5 1c.2-.3.6-.6 1-.8.3-.2.8-.4 1.3-.4a3.8 3.8 0 0 1 2.4.9l.7.8c.2-.4.6-.8 1.1-1.2a3 3 0 0 1 1.7-.5l1.3.2a3.6 3.6 0 0 1 2.2 2c.2.6.3 1.4.3 2.3v6.7h-2V9.2c0-1-.3-1.6-.7-2-.3-.3-.9-.5-1.5-.5-.5 0-1 .2-1.3.6-.3.4-.5 1-.5 1.9v6.7h-2.1V9.2c0-1-.2-1.6-.6-2-.4-.3-.9-.5-1.5-.5-.5 0-.9.2-1.2.5-.4.4-.6.9-.6 1.6v7Z"
                ></path><path
                  d="m21.3 5.1 10.4-.7c.7 0 1.2.7.8 1.2l-7.3 10c-.2.1-.4.3-.7.3H8.1a.8.8 0 0 1-.6-.4L.2 5.6c-.4-.5 0-1.3.7-1.2l10.4.7L15.7.3c.3-.4 1-.4 1.2 0L21.3 5Zm2.2 9.2-6.8-2.5v2.5h6.8Zm-7.6 0v-2.5l-6.8 2.5H16Zm-.8-3-6.9 2.5-5-7 12 4.4Zm2.4 0 7 2.5 5-7-12 4.4Zm-1.6-.6V2.4l-5.6 6.2 5.6 2Zm.8 0V2.4l5.7 6.2-5.7 2ZM8.6 8l1.3-1.4-6.4-.4L8.6 8ZM24 8l-1.3-1.4 6.3-.4L24 8Z"
                ></path></g
              ></svg
            >
          </a>
          <!-- Bitrise -->
          <a
            href="https://bitrise.io?utm_source=Tuist&utm_medium=Tuist_Website_Ad&utm_content=Developer&utm_term=tuist"
          >
            <svg
              class="w-10 object-contain"
              viewBox="0 0 24.01875 19.8"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
            >
              <title>Shape</title>
              <g
                id="Page-1"
                stroke="none"
                stroke-width="1"
                fill="none"
                fill-rule="evenodd"
              >
                <g id="bitrise" fill="#FFFFFF" fill-rule="nonzero">
                  <path
                    d="M12.01875,15.8 C13.51875,15.8 14.71875,14.6 14.71875,13.1 L9.31875,13.1 C9.31875,14.6 10.51875,15.8 12.01875,15.8 Z M6.01875,9.9 C5.11875,9.9 4.41875,10.6 4.41875,11.5 L7.71875,11.5 C7.71875,10.6 6.91875,9.9 6.01875,9.9 Z M12.01875,2 C12.61875,2 13.01875,1.5 13.01875,1 C13.01875,0.4 12.51875,0 12.01875,0 C11.41875,0 11.01875,0.5 11.01875,1 C11.01875,1.6 11.41875,2 12.01875,2 Z M23.51875,11.3 C23.21875,9.4 22.81875,7.5 22.51875,6.3 C22.11875,4.8 20.91875,3.7 19.31875,3.6 C17.81875,3.5 15.31875,3.4 11.91875,3.4 C8.61875,3.4 6.11875,3.5 4.51875,3.6 C3.11875,3.7 1.81875,4.8 1.51875,6.3 C1.21875,7.6 0.81875,9.5 0.51875,11.3 C0.31875,12.6 0.21875,14.1 0.01875,15.8 C-0.08125,16.7 0.21875,17.7 0.91875,18.4 C1.51875,19.1 2.41875,19.5 3.31875,19.6 C5.41875,19.7 8.61875,19.8 12.01875,19.8 C15.41875,19.8 18.61875,19.7 20.71875,19.6 C21.61875,19.6 22.51875,19.1 23.11875,18.4 C23.71875,17.7 24.01875,16.8 24.01875,15.8 C23.91875,14.1 23.71875,12.6 23.51875,11.3 Z M21.91875,17.2 C21.61875,17.6 21.11875,17.8 20.61875,17.8 C18.51875,17.9 15.41875,18 12.01875,18 C8.61875,18 5.51875,17.9 3.41875,17.8 C2.91875,17.8 2.41875,17.6 2.11875,17.2 C1.81875,16.8 1.61875,16.4 1.61875,15.9 C1.71875,14.3 1.81875,12.8 2.01875,11.6 C2.31875,9.8 2.71875,7.9 3.01875,6.7 C3.21875,5.9 3.91875,5.3 4.71875,5.3 C6.21875,5.1 8.71875,5 12.01875,5 C15.31875,5 17.81875,5.1 19.31875,5.2 C20.11875,5.2 20.81875,5.8 21.01875,6.6 C21.31875,7.8 21.71875,9.7 22.01875,11.5 C22.21875,12.7 22.31875,14.2 22.41875,15.8 C22.41875,16.4 22.21875,16.8 21.91875,17.2 L21.91875,17.2 Z M18.01875,9.9 C17.11875,9.9 16.41875,10.6 16.41875,11.5 L19.71875,11.5 C19.61875,10.6 18.91875,9.9 18.01875,9.9 Z"
                    id="Shape"></path>
                </g>
              </g>
            </svg>
          </a>
        </div>
        <div
          class="flex flex-col gap-3 sm:flex-row lg:items-center justify-start lg:justify-start mt-12"
        >
          <div class="flex flex-col sm:flex-row">
            <a
              class="inline-flex items-center justify-center w-full px-6 py-3 text-center text-white hover:to-indigo-400 duration-200 bg-gradient-to-r from-sky-400 to-indigo-500 font-medium hover:bg-white/5 rounded-xl hover:text-white focus:outline-none focus-visible:outline-black focus-visible:ring-black"
              href="https://docs.tuist.io/tutorial/get-started"
              >Get started
            </a>
          </div>
          <!-- <div class="flex flex-col sm:flex-row">
            <a
              class="inline-flex items-center justify-center px-6 py-3 font-normal text-white bg-white/5 rounded-xl group focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 hover:bg-transparent duration-200 border-2 border-white/10 active:bg-cyan-50 active:text-white focus-visible:outline-cyan-50 hover:border-white hover:text-white"
              href="https://lexingtonthemes.lemonsqueezy.com/checkout/buy/cad98266-24b3-47fd-99a6-e65ad9af37f6"
              >Users &nbsp; &nbsp; &rarr;
            </a>
          </div> -->
        </div>
        <div class="mt-12 gap-3">
          <ul class="list-none" role="list">
            <li>
              <div class="relative py-2 flex items-start">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-5 h-5 text-cyan-400"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                  ></path>
                </svg>
                <p class="ml-2 text-sm leading-6 text-slate-400">
                  <strong class="font-semibold text-slate-100"
                    >Zero Git conficts</strong
                  > — in .pbxproj files.
                </p>
              </div>
            </li>
            <li>
              <div class="relative py-2 flex items-start">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-5 h-5 text-cyan-400"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                  ></path>
                </svg>
                <p class="ml-2 text-sm leading-6 text-slate-400">
                  <strong class="font-semibold text-slate-100"
                    >Faster Xcode
                  </strong> — with focused projects.
                </p>
              </div>
            </li>
            <li>
              <div class="relative py-2 flex items-start">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-5 h-5 text-cyan-400"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                  ></path>
                </svg>
                <p class="ml-2 text-sm leading-6 text-slate-400">
                  <strong class="font-semibold text-slate-100"
                    >Faster builds</strong
                  > — through local and remote caches.
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="lg:mt-0 mt-12 h-full">
        <div
          x-data
          x-tabs
          class="w-full lg:border border-white/10 lg:rounded-3xl lg:p-10"
        >
          <div x-tabs:list class="-mb-px flex items-stretch gap-3">
            <button
              x-tabs:tab
              type="button"
              :class="$tab.isSelected ? ' border-b border-cyan-500 focus:border-cyan-500' : 'bg-transparent'"
              class="inline-flex text-white font-semibold py-2 text-xs"
              >Project.swift</button
            >
            <button
              x-tabs:tab
              type="button"
              :class="$tab.isSelected ? ' border-b border-cyan-500 focus:border-cyan-500' : 'bg-transparent'"
              class="inline-flex text-white font-semibold3 py-2 text-xs"
              >Workspace.swift
            </button>
          </div>
          <div x-tabs:panels class="mt-6">
            <section
              x-tabs:panel
              class="text-xs font-mono shadow-3xl mt-4 rounded-2xl overflowhidden p-4 bg-[#1c1e28] h-full"
            >
              <Code
                code={`
import ProjectDescription

let project = Project(
    name: "Tuist",
    targets: [
        Target(
            name: "Tuist",
            platform: .iOS,
            product: .app,
            bundleId: "io.tuist.Tuist",
            sources: ["Sources/**"]
        ),
        Target(
            name: "TuistTests",
            platform: .iOS,
            product: .unitTests,
            bundleId: "io.tuist.TuistTests",
            sources: ["Tests/**"],
            dependencies: [.target(name: "Tuist")]
        )
    ]
)
`}
                lang="swift"
                theme="css-variables"
              />
            </section>
            <section
              x-tabs:panel
              class="text-xs font-mono mt-4 rounded-3xl hadow-2xl overflowhidden p-4 bg-[#1c1e28] h-full"
            >
              <Code
                code={`
import ProjectDescription

let workspace = Workspace(
    name: "TuistWorkspace",
    projects: [
        "Projects/**",
    ]
)`}
                lang="swift"
                theme="css-variables"
              />
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
