---
import Verticalgrid from "../assets/Verticalgrid.astro";
---

<section aria-labelledby="Featurefive" id="Featurefive " class="relative">
  <Verticalgrid />
  <div
    class="max-w-7xl px-8 md:px-12 lg:px-32 mx-auto py-12 lg:py-24 relative space-y-24">
    <div class="grid grid-cols-1 gap-4 mt-6 list-none lg:grid-cols-2 lg:gap-24">
      <div>
        <span
          class="text-transparent bg-clip-text font-medium tracking-widest bg-gradient-to-r from-cyan-400 via-teal-500 to-indigo-500 text-xs uppercase"
          >Features</span
        ><p class="text-3xl mt-8 font-normal text-white">
          This feature is perfect for special events
        </p>
        <p class="max-w-2xl mt-4 text-lg text-slate-400">
          Our baking platform allows for custom recipes and products to be
          added, giving your users the ability to order unique items that are
          not listed on the menu.
        </p>
        <div class="mt-6">
          <a
            href="/signup"
            class="inline-flex items-center justify-center px-6 py-3 text-sm font-normal text-white bg-white/5 rounded-xl group focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 hover:bg-transparent duration-200 border-2 border-white/10 active:bg-cyan-50 active:text-white focus-visible:outline-cyan-50 hover:border-white hover:text-white">
            Buy Navy
          </a>
        </div>
      </div>
      <div class="lg:mt-0 mt-12 h-full">
        <img
          alt="Lexington thumbnail"
          class="rounded-2xl shadow-2xl shadow-vulcan-900/50 w-full"
          src="/assets/card2.svg"
        />
      </div>
    </div>
    <ul
      class="grid grid-cols-2 gap-6 mt-12 list-none md:grid-cols-4 lg:gap-12 lg:mt-24"
      role="list">
      <li>
        <div>
          <p class="text-sm font-medium text-cyan-400">01.</p>
          <p class="text-lg mt-6 font-medium text-white lg:text-xl">
            User-friendly Interface
          </p>
        </div>
        <div class="mt-2 text-base text-slate-400">
          Our platform is designed with the user in mind.
        </div>
      </li>
      <li>
        <div>
          <p class="text-sm font-medium text-cyan-400">02.</p>
          <p class="text-lg mt-6 font-medium text-white lg:text-xl">
            Customizable
          </p>
        </div>
        <div class="mt-2 text-base text-slate-400">
          Our platform allows for customizable branding.
        </div>
      </li>
      <li>
        <div>
          <p class="text-sm font-medium text-cyan-400">03.</p>
          <p class="text-lg mt-6 font-medium text-white lg:text-xl">
            Scheduled Orders
          </p>
        </div>
        <div class="mt-2 text-base text-slate-400">
          Our platform allows for scheduled orders.
        </div>
      </li>
      <li>
        <div>
          <p class="text-sm font-medium text-cyan-400">04.</p>
          <p class="text-lg mt-6 font-medium text-white lg:text-xl">
            Allergen Filtering
          </p>
        </div>
        <div class="mt-2 text-base text-slate-400">
          Our platform includes an allergen filtering feature.
        </div>
      </li>
    </ul>
  </div>
</section>
