---
import { Code } from "astro/components";
import Verticalgrid from "../assets/VerticalGrid.astro";
---

<section aria-labelledby="Featurethree" id="Featurethree " class="relative">
  <Verticalgrid />
  <div class="max-w-7xl px-8 md:px-12 lg:px-32 mx-auto py-12 lg:py-24 relative">
    <div class="grid grid-cols-1 xl:grid-cols-2 gap-12 lg:gap-24">
      <div class="max-w-2xl">
        <div>
          <span
            class="text-transparent bg-clip-text font-medium tracking-widest bg-gradient-to-r from-cyan-400 via-teal-500 to-indigo-500 text-xs uppercase"
            >Features</span
          ><p class="text-3xl mt-8 font-normal text-white">
            Our platform includes multilingual support, allowing your website
            and app to be easily translated into multiple languages
          </p>
        </div>
      </div>
      <ul
        class="grid grid-cols-2 l gap-6 list-none xl:grid-cols-2 lg:gap-12"
        role="list">
        <li>
          <div>
            <p class="text-lg font-medium text-white lg:text-xl">
              User-friendly
            </p>
          </div>
          <div class="mt-2 text-base text-slate-400">
            Our platform is designed with the user in mind.
          </div>
        </li>
        <li>
          <div>
            <p class="text-lg font-medium text-white lg:text-xl">
              Customizable
            </p>
          </div>
          <div class="mt-2 text-base text-slate-400">
            Our platform allows for customizable branding.
          </div>
        </li>
        <li>
          <div>
            <p class="text-lg font-medium text-white lg:text-xl">
              Scheduled Orders
            </p>
          </div>
          <div class="mt-2 text-base text-slate-400">
            Our platform allows for scheduled orders.
          </div>
        </li>
        <li>
          <div>
            <p class="text-lg font-medium text-white lg:text-xl">
              Allergen Filtering
            </p>
          </div>
          <div class="mt-2 text-base text-slate-400">
            Our platform includes an allergen filtering feature.
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
