---
import Verticalgrid from "../assets/Verticalgrid.astro";
---

<section aria-labelledby="Featureeight" id="Featureeight" class="relative">
  <Verticalgrid />
  <div class="max-w-7xl px-8 md:px-12 lg:px-32 mx-auto py-12 lg:py-24 relative">
    <div class="max-w-2xl mx-auto text-center">
      <div>
        <span
          class="text-transparent bg-clip-text font-medium tracking-widest bg-gradient-to-r from-cyan-400 via-teal-500 to-indigo-500 text-xs uppercase"
          >Features</span
        ><p class="text-3xl mt-8 font-normal text-white">
          Our platform includes multilingual support, allowing your website and
          app to be easily translated into multiple languages
        </p>
      </div>
    </div>
    <div
      class="relative items-center w-full mx-auto mt-12 lg:p-10 lg:rounded-5xl lg:border border-white/10">
      <img
        class="lg:object-cover object-top w-full bg-[#20212c] rounded-3xl h-96 shadow-2xl shadow-black/80"
        src="/assets/dashboard1.png"
        alt=""
      />
    </div>
    <ul
      class="mt-12 grid-cols-1 grid md:grid-cols-2 list-none gap-12"
      role="list">
      <li>
        <div class="text-base text-slate-400">
          <strong class="text-white">01. Multiple Locations Support</strong>
          ― Our platform allows for orders to be placed and fulfilled by multiple
          locations, making it easy for your users to order from the location closest
          to them. This feature also allows for regional or seasonal offerings
        </div>
      </li>
      <li>
        <div class="text-base text-slate-400">
          <strong class="text-white"
            >02. Support for Custom Recipes and Products</strong
          > ― Our baking platform allows for custom recipes and products to be added,
          giving your users the ability to order unique items that are not listed
          on the menu. This feature is perfect for special events or for accommodating
          the needs of particular customers
        </div>
      </li>
    </ul>
  </div>
</section>
