---
import Verticalgrid from "../assets/Verticalgrid.astro";
---

<section aria-labelledby="Featuresix" id="Featuresix" class="relative">
  <Verticalgrid />
  <div
    class="max-w-7xl px-8 md:px-12 lg:px-32 mx-auto py-12 lg:py-24 relative space-y-24">
    <div
      class="grid grid-cols-1 gap-8 mt-6 sm:grid-cols-2 lg:gap-24 items-center">
      <div>
        <span
          class="text-transparent bg-clip-text font-medium tracking-widest bg-gradient-to-r from-cyan-400 via-teal-500 to-indigo-500 text-xs uppercase"
          >Features</span
        ><p class="text-3xl mt-8 font-normal text-white">
          This feature is perfect for special events
        </p>
        <p class="max-w-2xl mt-4 text-lg text-slate-400">
          Our baking platform allows for custom recipes and products to be
          added, giving your users the ability to order unique items that are
          not listed on the menu.
        </p>
      </div>
      <div class="h-full">
        <img
          alt="Lexington thumbnail"
          class="rounded-2xl shadow-2xl shadow-vulcan-900/50 w-full"
          src="/assets/card4.svg"
        />
      </div>
    </div>
    <div
      class="grid grid-cols-1 gap-8 mt-6 sm:grid-cols-2 lg:gap-24 items-center">
      <div class="sm:order-last">
        <span
          class="text-transparent bg-clip-text font-medium tracking-widest bg-gradient-to-r from-cyan-400 via-teal-500 to-indigo-500 text-xs uppercase"
          >Features</span
        ><p class="text-3xl mt-8 font-normal text-white">
          Easy Integration with Your Website or App
        </p>
        <p class="max-w-2xl mt-4 text-lg text-slate-400">
          Our baking platform allows for custom recipes and products to be
          added, giving your users the ability to order unique items that are
          not listed on the menu.
        </p>
      </div>
      <div class="h-full">
        <img
          alt="Lexington thumbnail"
          class="rounded-2xl shadow-2xl shadow-vulcan-900/50 w-full"
          src="/assets/card5.svg"
        />
      </div>
    </div>
    <div
      class="grid grid-cols-1 gap-8 mt-6 sm:grid-cols-2 lg:gap-24 items-center">
      <div>
        <span
          class="text-transparent bg-clip-text font-medium tracking-widest bg-gradient-to-r from-cyan-400 via-teal-500 to-indigo-500 text-xs uppercase"
          >Features</span
        ><p class="text-3xl mt-8 font-normal text-white">
          Customizable Ordering Options
        </p>
        <p class="max-w-2xl mt-4 text-lg text-slate-400">
          Our baking platform allows for custom recipes and products to be
          added, giving your users the ability to order unique items that are
          not listed on the menu.
        </p>
      </div>
      <div class="h-full">
        <img
          alt="Lexington thumbnail"
          class="rounded-2xl shadow-2xl shadow-vulcan-900/50 w-full"
          src="/assets/card4.svg"
        />
      </div>
    </div>
  </div>
</section>
