---
import Verticalgrid from "../assets/VerticalGrid.astro";
import Calculator from "../Calculator";
---

<section
  aria-labelledby="Featurefour"
  id="Featurefour"
  class="relative scroll-mt-24"
>
  <Verticalgrid />
  <div class="max-w-7xl px-8 md:px-12 lg:px-32 mx-auto py-12 lg:py-24 relative">
    <div class="flex flex-row space-x-32">
      <div class="max-w-xl mt-6">
        <span
          class="text-transparent bg-clip-text font-medium tracking-widest bg-gradient-to-r from-cyan-400 via-cyan-500 to-indigo-500 text-xs uppercase"
          >Tuist Cloud</span
        >
        <p class="text-3xl mt-8 font-normal text-white">
          Enhance your team's efficiency and future-proof your projects and
          environment
        </p>
        <p class="max-w-2xl mt-4 text-lg text-slate-400">
          Tuist Cloud integrates years of Xcode expertise, acting as a co-pilot
          for your platform team, ensuring projects support the business while
          promoting a productive work environment.
        </p>
      </div>
      <svg
      class="w-60 mt-6"
      viewBox="0 0 512 512"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g clip-path="url(#clip0_2_5)">
        <path
          d="M511.5 0.5H0.5V511.5H511.5V0.5Z"
          fill="url(#paint0_linear_2_5)"></path>
        <path
          d="M126.933 369.951C126.933 369.951 180.8 412.8 257.6 412.8C334.4 412.8 388.267 369.951 388.267 369.951"
          stroke="white"
          stroke-width="10.175"></path>
        <path
          d="M112 297.21C112 297.21 205.333 409.6 257.6 409.6C309.867 409.6 403.201 297.21 403.201 297.21"
          stroke="white"
          stroke-width="10.175"></path>
        <path
          d="M112 207.297C112 207.297 205.333 409.6 257.6 409.6C309.867 409.6 403.201 207.297 403.201 207.297"
          stroke="white"
          stroke-width="10.175"></path>
        <path
          d="M171.734 128.624C171.734 128.624 230.4 409.6 257.6 409.6C284.8 409.6 343.466 128.624 343.466 128.624"
          stroke="white"
          stroke-width="10.175"></path>
        <path d="M258.667 409.6V102.4" stroke="white" stroke-width="10.175"
        ></path>
      </g>
      <rect
        x="3.5"
        y="3.5"
        width="505"
        height="505"
        rx="252.5"
        stroke="url(#paint1_linear_2_5)"
        stroke-width="7"></rect>
      <defs>
        <linearGradient
          id="paint0_linear_2_5"
          x1="25550.5"
          y1="0.5"
          x2="25550.5"
          y2="51100.5"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#141521"></stop>
          <stop offset="1" stop-color="#07080B"></stop>
        </linearGradient>
        <linearGradient
          id="paint1_linear_2_5"
          x1="256"
          y1="0"
          x2="256"
          y2="512"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#4F4DC2"></stop>
          <stop offset="1" stop-color="#7DC0E3"></stop>
        </linearGradient>
        <clipPath id="clip0_2_5">
          <rect width="512" height="512" rx="256" fill="white"></rect>
        </clipPath>
      </defs>
    </svg>
    </div>
    <div>
      <ul
        class="grid grid-cols-2 gap-8 mt-6 list-none md:grid-cols-3 lg:gap-12 lg:mt-24"
        role="list"
      >
        <li>
          <div>
            <div
              class="flex items-center justify-center w-12 h-12 text-white shadow-indigo-500/20 bg-gradient-to-tr shadow-2xl from-vulcan-900 to-vulcan-700 rounded-xl"
            >


              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M5.25 14.25h13.5m-13.5 0a3 3 0 01-3-3m3 3a3 3 0 100 6h13.5a3 3 0 100-6m-16.5-3a3 3 0 013-3h13.5a3 3 0 013 3m-19.5 0a4.5 4.5 0 01.9-2.7L5.737 5.1a3.375 3.375 0 012.7-1.35h7.126c1.062 0 2.062.5 2.7 1.35l2.587 3.45a4.5 4.5 0 01.9 2.7m0 0a3 3 0 01-3 3m0 3h.008v.008h-.008v-.008zm0-6h.008v.008h-.008v-.008zm-3 6h.008v.008h-.008v-.008zm0-6h.008v.008h-.008v-.008z" />
              </svg>
              
            </div>
            <p class="mt-5 text-lg font-medium text-white lg:text-xl">
              Remote caching
            </p>
          </div>
          <div class="mt-2 text-base text-slate-400">
            Preserve cache artifacts and distribute them between local and CI
            environments to accelerate your workflows.
          </div>
        </li>
        <li>
          <div>
            <div
              class="flex items-center justify-center w-12 h-12 text-white shadow-indigo-500/20 bg-gradient-to-tr shadow-2xl from-vulcan-900 to-vulcan-700 rounded-xl"
            >
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M7.217 10.907a2.25 2.25 0 100 2.186m0-2.186c.18.324.283.696.283 1.093s-.103.77-.283 1.093m0-2.186l9.566-5.314m-9.566 7.5l9.566 5.314m0 0a2.25 2.25 0 103.935 2.186 2.25 2.25 0 00-3.935-2.186zm0-12.814a2.25 2.25 0 103.933-2.185 2.25 2.25 0 00-3.933 2.185z" />
            </svg>
            
            </div>
            <p class="mt-5 text-lg font-medium text-white lg:text-xl">
              Build sharing
            </p>
          </div>
          <div class="mt-2 text-base text-slate-400">
            Share builds with your team for active engagement and feedback, promoting a collaborative development cycle.
          </div>
        </li>
        <li>
          <div>
            <div
              class="flex items-center justify-center w-12 h-12 text-white shadow-indigo-500/20 bg-gradient-to-tr shadow-2xl from-vulcan-900 to-vulcan-700 rounded-xl"
            >
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M7.5 14.25v2.25m3-4.5v4.5m3-6.75v6.75m3-9v9M6 20.25h12A2.25 2.25 0 0020.25 18V6A2.25 2.25 0 0018 3.75H6A2.25 2.25 0 003.75 6v12A2.25 2.25 0 006 20.25z" />
            </svg>
            
            </div>
            <p class="mt-5 text-lg font-medium text-white lg:text-xl">
              Build & project insights
            </p>
          </div>
          <div class="mt-2 text-base text-slate-400">
            We provide teams the data and tools to make informed decisions, detect regressions, and maintain project health.
          </div>
        </li>
      </ul>
    </div>
    <div
      class="grid grid-cols-1 mt-12 lg:grid-cols-8 lg:mt-24 items-start gap-12 lg:gap-32"
    >
      <div class="col-span-3">
        <h2 class="mt-6 text-3xl font-normal text-white">Return of Investment</h2>
        <p class="mt-5 text-lg text-slate-400">
          Organizations face expenses due to developer inefficiencies. Tuist
          Cloud optimizes workflows and infrastructure, mitigating frequent
          inefficiencies like:
        </p>

        <ul class="mt-12 list-none space-y-5" role="list">
          <li>
            <div class="text-base text-slate-400">
              <strong class="text-white">01. Slow builds</strong>
              ― Resulting from Xcode's inability to share build artifacts across
              environments.
            </div>
          </li>
          <li>
            <div class="text-base text-slate-400">
              <strong class="text-white">02. Debugging regressions</strong> ― Stemming
              from the absence of tools to monitor project health.
            </div>
          </li>
          <li>
            <div class="text-base text-slate-400">
              <strong class="text-white">03. Sharing builds</strong> ― Often leaving
              individuals waiting for the next nightly release.
            </div>
          </li>
          <li>
            <div class="text-base text-slate-400">
              <strong class="text-white">04. Retrying flaky tests</strong> ― Due
              to the all-or-nothing approach to run test suites.
            </div>
          </li>
        </ul>
      </div>
      <section
        class="flex flex-col p-[0.060rem] shadow-2xl rounded-3xl bg-gradient-to-b from-indigo-500 to-cyan-500 col-span-5">
        <div class="bg-vulcan-900 px-6 sm:px-8 pt-8 pb-10 rounded-3xl h-full">
          <Calculator client:visible/>
        </div>
      </section>
      <!-- <div class="mt-12 lg:mt-0 w-full lg:ml-auto bg-indigo-500 rounded-md p-4">
      </div> -->
    </div>
  </div>
</section>
