<section
  aria-labelledby="logocloud"
  id="logocloud "
  class="bg-vulcan-900 border-y border-white/5 items-end flex justify-center">
  <div
    class="max-w-7xl px-8 md:px-12 lg:px-24 mx-auto py-12 lg:py-24 justify-center">
    <div class="items-center">
      <div class="text-center justify-center mx-auto max-w-xl">
        <span class="w-auto justify-center text-center">
          <span
            class="text-sm bg-gradient-to-r from-cyan-400 via-cyan-500 to-indigo-500 text-transparent bg-clip-text">
            Tuist powers impactful organizations building game-changing apps 
          </span>
        </span>
      </div>
      <div class="mt-12">
        <div class="grid grid-cols-2 gap-0.5 sm:grid-cols-3 lg:grid-cols-6">
          <div class="flex px-8">
            <img
              class="max-h-12 opacity-50"
              src="/logos/trendyol.svg"
              alt=" logo"
            />
          </div>
          <div class="flex px-8">
            <img
              class="max-h-12 opacity-50"
              src="/logos/adidas.svg"
              alt="logo"
            />
          </div>
          <div class="flex px-8">
            <img
              class="max-h-12 opacity-50"
              src="/logos/american-express.svg"
              alt="logo"
            />
          </div>
          <div class="flex px-8">
            <img
              class="max-h-12 opacity-50"
              src="/logos/asana.svg"
              alt="logo"
            />
          </div>
          <div class="flex px-8">
            <img
              class="max-h-12 opacity-50"
              src="/logos/stripe.svg"
              alt="logo"
            />
          </div>
          <div class="flex px-8">
            <img
              class="max-h-12 opacity-50"
              src="/logos/bloomberg.svg"
              alt="logo"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
