<section
  aria-labelledby="logocloud"
  id="logocloud "
  class="bg-vulcan-900 border-y border-white/5 items-end flex justify-center">
  <div
    class="max-w-7xl px-8 md:px-12 lg:px-24 mx-auto py-12 lg:py-24 justify-center">
    <div class="items-center">
      <div class="text-center justify-center mx-auto max-w-xl">
        <span class="w-auto justify-center text-center">
          <span
            class="text-sm bg-gradient-to-r from-cyan-400 via-cyan-500 to-indigo-500 text-transparent bg-clip-text">
            Tuist powers impactful organizations building game-changing apps 
          </span>
        </span>
      </div>
      <div class="mt-12">
        <div class="grid grid-cols-2 gap-4 sm:grid-cols-3 lg:gap-3 lg:gap-y-10 lg:grid-cols-6">
          <a class="flex px-8" href="https://trendyol.com">
            <img
              class="max-h-12 opacity-50"
              src="/logos/trendyol.svg"
              alt=" logo"
            />
          </a>
          <a class="flex px-8" href="https://adidas.com">
            <img
              class="max-h-12 opacity-50"
              src="/logos/adidas.svg"
              alt="logo"
            />
          </a>
          <a class="flex px-8" href="https://americanexpress.com">
            <img
              class="max-h-12 opacity-50"
              src="/logos/american-express.svg"
              alt="logo"
            />
          </a>
          <a class="flex px-8" href="https://asana.com">
            <img
              class="max-h-12 opacity-50"
              src="/logos/asana.svg"
              alt="logo"
            />
          </a>
          <a class="flex px-8" href="https://stripe.com">
            <img
              class="max-h-12 opacity-50"
              src="/logos/stripe.svg"
              alt="logo"
            />
          </a>
          <a class="flex px-8" href="https://bloomberg.com">
            <img
              class="max-h-12 opacity-50"
              src="/logos/bloomberg.svg"
              alt="logo"
            />
          </a>
          <a class="flex px-8" href="https://badoo.com">
            <img
              class="max-h-12 opacity-50"
              src="/logos/badoo.svg"
              alt="logo"
            />
          </a>
          <a class="flex px-8" href="https://bumble.com">
            <img
              class="max-h-12 opacity-50"
              src="/logos/bumble.svg"
              alt="logo"
            />
          </a>
          <a class="flex px-8" href="https://monday.com">
            <img
              class="max-h-12 opacity-50"
              src="/logos/monday.svg"
              alt="logo"
            />
          </a>
          <a class="flex px-8" href="https://depop.com">
            <img
              class="max-h-12 opacity-50"
              src="/logos/depop.svg"
              alt="logo"
            />
          </a>
          <a class="flex px-8" href="https://justeat.com">
            <img
              class="max-h-12 opacity-50"
              src="/logos/justeat.svg"
              alt="logo"
            />
          </a>
          <a class="flex px-8" href="https://zulily.com">
            <img
              class="max-h-12 opacity-50"
              src="/logos/zulily.svg"
              alt="logo"
            />
          </a>
          <a class="flex px-8" href="https://ford.com">
            <img
              class="max-h-12 opacity-50"
              src="/logos/ford.svg"
              alt="logo"
            />
          </a>
          <a class="flex px-8" href="https://etsy.com">
            <img
              class="max-h-12 opacity-50"
              src="/logos/etsy.svg"
              alt="logo"
            />
          </a>
          <a class="flex px-8" href="https://soundcloud.com">
            <img
              class="max-h-12 opacity-50"
              src="/logos/soundcloud.svg"
              alt="logo"
            />
          </a>
          <a class="flex px-8" href="https://waze.com">
            <img
              class="max-h-12 opacity-50"
              src="/logos/waze.svg"
              alt="logo"
            />
          </a>
          <a class="flex px-8" href="https://target.com">
            <img
              class="max-h-12 opacity-50"
              src="/logos/target.svg"
              alt="logo"
            />
          </a>
          <a class="flex px-8" href="https://chegg.com">
            <img
              class="max-h-12 opacity-50"
              src="/logos/chegg.svg"
              alt="logo"
            />
          </a>
          <a class="flex px-8" href="https://bendingspoons.com">
            <img
              class="max-h-12 opacity-50"
              src="/logos/bendingspoons.svg"
              alt="logo"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
