---
import Verticalgrid from "../assets/VerticalGrid.astro";
import { getCollection } from "astro:content";
import RandomTestimonial from "./RandomTestimonial.jsx";
const allTestimonials = await getCollection('testimonials')
---

<section
  aria-labelledby="testimonials"
  id="testimonials "
  class="relative overflow-x-hidden">
  <Verticalgrid />
  <div class="max-w-7xl px-8 md:px-12 lg:px-32 mx-auto py-12 lg:pt-24 relative">
    <div class="max-w-2xl mx-auto text-center">
      <div>
        <span
          class="text-transparent bg-clip-text font-medium tracking-widest bg-gradient-to-r from-cyan-400 via-cyan-500 to-indigo-500 text-xs uppercase"
          >OUR USERS</span
        >
        <p class="text-3xl mt-8 font-normal text-white">
          So much ❤️ from our users
        </p>
        <p class="max-w-2xl mt-4 text-lg text-slate-400">
          This is what our users have to say about the tool:
        </p>
      </div>
    </div>
  </div>
  <div class="pb-24">
    <div class="mx-auto">
      <div class="flex flex-row justify-center">
        <RandomTestimonial testimonials={allTestimonials}/>
      </div>
    </div>
  </div>
</section>
