---
import Verticalgrid from "../assets/VerticalGrid.astro";
---

<section
  aria-labelledby="testimonials"
  id="testimonials "
  class="relative overflow-x-hidden">
  <Verticalgrid />
  <div class="max-w-7xl px-8 md:px-12 lg:px-32 mx-auto py-12 lg:pt-24 relative">
    <div class="max-w-2xl mx-auto text-center">
      <div>
        <span
          class="text-transparent bg-clip-text font-medium tracking-widest bg-gradient-to-r from-cyan-400 via-cyan-500 to-indigo-500 text-xs uppercase"
          >OUR USERS</span
        >
        <p class="text-3xl mt-8 font-normal text-white">
          So much ❤️ from our users
        </p>
        <p class="max-w-2xl mt-4 text-lg text-slate-400">
          This is what our users have to say about the tool:
        </p>
      </div>
    </div>
  </div>
  <div class="2xl:max-7xl pb-24">
    <div class="mx-auto">
      <div class="overflow-x-hidden relative">
        <div class="animate-marquee whitespace-nowrap flex gap-6">
          <div class="p-4 lg:p-10 text-center">
            <img
              class="inline-block h-10 w-10 rounded-full ring-2 ring-white ring-offset-4 ring-offset-vulcan-900"
              src="https://d33wubrfki0l68.cloudfront.net/1a2e935392c14749028729b21b20ddbd4c54b70e/1a932/images/testimonials/amrit.jpeg"
              alt=""
            />

            <div class="flex gap-1 mx-auto justify-center mt-6">
              <svg
                class="icon icon-tabler fill-cyan-400 h-4 icon-tabler-star text-cyan-400 w-4"
                fill="currentColor"
                stroke="currentColor"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                xmlns="http://www.w3.org/2000/svg"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
                <path
                  d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                ></path>
              </svg>
              <svg
                class="icon icon-tabler fill-cyan-400 h-4 icon-tabler-star text-cyan-400 w-4"
                fill="currentColor"
                stroke="currentColor"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                xmlns="http://www.w3.org/2000/svg"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
                <path
                  d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                ></path>
              </svg>
              <svg
                class="icon icon-tabler fill-cyan-400 h-4 icon-tabler-star text-cyan-400 w-4"
                fill="currentColor"
                stroke="currentColor"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                xmlns="http://www.w3.org/2000/svg"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
                <path
                  d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                ></path>
              </svg>
              <svg
                class="icon icon-tabler fill-cyan-400 h-4 icon-tabler-star text-cyan-400 w-4"
                fill="currentColor"
                stroke="currentColor"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                xmlns="http://www.w3.org/2000/svg"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
                <path
                  d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                ></path>
              </svg>
              <svg
                class="icon icon-tabler fill-cyan-400 h-4 icon-tabler-star text-cyan-400 w-4"
                fill="currentColor"
                stroke="currentColor"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                xmlns="http://www.w3.org/2000/svg"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
                <path
                  d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                ></path>
              </svg>
            </div>
          </div>
          <div class="p-4 lg:p-10 text-center">
            <img
              class="inline-block h-10 w-10 rounded-full ring-2 ring-white ring-offset-4 ring-offset-vulcan-900"
              src="https://en.gravatar.com/userimage/145454310/b0ca193e99180048e1a4f4892b1c3b9d?size=512"
              alt=""
            />

            <div>
              <p class="text-slate-400 text-xs mt-8">
                <strong class="text-white">Søren Gregersen</strong> ― Emplate (Mobile Development Manager)
              </p>
            </div>
            <div class="mt-4 text-base text-slate-400">
              Tuist is improving our development process and saves us at lot of time.
              <span class="block">
              It ensures consistency across our Xcode projects and saves us an
              </span>
              <span class="block">
              endless number of clicks in Xcode.
              </block>              
            </div>
            <div class="flex gap-1 mx-auto justify-center mt-6">
              <svg
                class="icon icon-tabler fill-cyan-400 h-4 icon-tabler-star text-cyan-400 w-4"
                fill="currentColor"
                stroke="currentColor"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                xmlns="http://www.w3.org/2000/svg"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
                <path
                  d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                ></path>
              </svg>
              <svg
                class="icon icon-tabler fill-cyan-400 h-4 icon-tabler-star text-cyan-400 w-4"
                fill="currentColor"
                stroke="currentColor"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                xmlns="http://www.w3.org/2000/svg"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
                <path
                  d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                ></path>
              </svg>
              <svg
                class="icon icon-tabler fill-cyan-400 h-4 icon-tabler-star text-cyan-400 w-4"
                fill="currentColor"
                stroke="currentColor"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                xmlns="http://www.w3.org/2000/svg"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
                <path
                  d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                ></path>
              </svg>
              <svg
                class="icon icon-tabler fill-cyan-400 h-4 icon-tabler-star text-cyan-400 w-4"
                fill="currentColor"
                stroke="currentColor"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                xmlns="http://www.w3.org/2000/svg"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
                <path
                  d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                ></path>
              </svg>
              <svg
                class="icon icon-tabler fill-cyan-400 h-4 icon-tabler-star text-cyan-400 w-4"
                fill="currentColor"
                stroke="currentColor"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                xmlns="http://www.w3.org/2000/svg"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
                <path
                  d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                ></path>
              </svg>
            </div>
          </div>
          <div class="p-4 lg:p-10 text-center">
            <img
              class="inline-block h-10 w-10 rounded-full ring-2 ring-white ring-offset-4 ring-offset-vulcan-900"
              src="https://avatars.githubusercontent.com/u/38225497?v=4"
              alt=""
            />

            <div>
              <p class="text-slate-400 text-xs mt-8">
                <strong class="text-white">Steve Landey</strong> ― Mobile Engineer at Asana
              </p>
            </div>
            <div class="mt-4 text-base text-slate-400">
              Tuist lets us write our build graph in code and make        
              <span class="block">big changes with little effort. It solves a lot of </span>
              <span class="block">workflow problems for our team, and it’s fast!</span>
            </div>
            <div class="flex gap-1 mx-auto justify-center mt-6">
              <svg
                class="icon icon-tabler fill-cyan-400 h-4 icon-tabler-star text-cyan-400 w-4"
                fill="currentColor"
                stroke="currentColor"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                xmlns="http://www.w3.org/2000/svg"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
                <path
                  d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                ></path>
              </svg>
              <svg
                class="icon icon-tabler fill-cyan-400 h-4 icon-tabler-star text-cyan-400 w-4"
                fill="currentColor"
                stroke="currentColor"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                xmlns="http://www.w3.org/2000/svg"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
                <path
                  d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                ></path>
              </svg>
              <svg
                class="icon icon-tabler fill-cyan-400 h-4 icon-tabler-star text-cyan-400 w-4"
                fill="currentColor"
                stroke="currentColor"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                xmlns="http://www.w3.org/2000/svg"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
                <path
                  d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                ></path>
              </svg>
              <svg
                class="icon icon-tabler fill-cyan-400 h-4 icon-tabler-star text-cyan-400 w-4"
                fill="currentColor"
                stroke="currentColor"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                xmlns="http://www.w3.org/2000/svg"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
                <path
                  d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                ></path>
              </svg>
              <svg
                class="icon icon-tabler fill-cyan-400 h-4 icon-tabler-star text-cyan-400 w-4"
                fill="currentColor"
                stroke="currentColor"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                xmlns="http://www.w3.org/2000/svg"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
                <path
                  d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                ></path>
              </svg>
            </div>
          </div>

          <div class="p-4 lg:p-10 text-center">
            <img
              class="inline-block h-10 w-10 rounded-full ring-2 ring-white ring-offset-4 ring-offset-vulcan-900"
              src="https://media.licdn.com/dms/image/C4D03AQHYGKlUJE6QpQ/profile-displayphoto-shrink_800_800/0/1549777725180?e=1692230400&v=beta&t=2EEiTmnljofydqd9n8dp4qci_on_x-yOWIkeq4DBHtk"
              alt=""
            />

            <div>
              <p class="text-slate-400 text-xs mt-8">
                <strong class="text-white">Shahzad Majeed</strong> ― Senior Lead Software Engineer at DraftKings
              </p>
            </div>
            <div class="mt-4 text-base text-slate-400">
              Tuist has revolutionized our iOS development workflow 
              <span class="block">at DraftKings. Its automation capabilities have streamlined</span> 
              <span class="block">project generation, build settings, and dependency management</span>
            </div>
            <div class="flex gap-1 mx-auto justify-center mt-6">
              <svg
                class="icon icon-tabler fill-cyan-400 h-4 icon-tabler-star text-cyan-400 w-4"
                fill="currentColor"
                stroke="currentColor"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                xmlns="http://www.w3.org/2000/svg"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
                <path
                  d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                ></path>
              </svg>
              <svg
                class="icon icon-tabler fill-cyan-400 h-4 icon-tabler-star text-cyan-400 w-4"
                fill="currentColor"
                stroke="currentColor"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                xmlns="http://www.w3.org/2000/svg"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
                <path
                  d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                ></path>
              </svg>
              <svg
                class="icon icon-tabler fill-cyan-400 h-4 icon-tabler-star text-cyan-400 w-4"
                fill="currentColor"
                stroke="currentColor"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                xmlns="http://www.w3.org/2000/svg"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
                <path
                  d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                ></path>
              </svg>
              <svg
                class="icon icon-tabler fill-cyan-400 h-4 icon-tabler-star text-cyan-400 w-4"
                fill="currentColor"
                stroke="currentColor"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                xmlns="http://www.w3.org/2000/svg"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
                <path
                  d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                ></path>
              </svg>
              <svg
                class="icon icon-tabler fill-cyan-400 h-4 icon-tabler-star text-cyan-400 w-4"
                fill="currentColor"
                stroke="currentColor"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                xmlns="http://www.w3.org/2000/svg"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
                <path
                  d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                ></path>
              </svg>
            </div>
          </div>
          <div class="p-4 lg:p-10 text-center">
            <img
              class="inline-block h-10 w-10 rounded-full ring-2 ring-white ring-offset-4 ring-offset-vulcan-900"
              src="https://d33wubrfki0l68.cloudfront.net/cabc8d70a84f6d78e56c5cd2db3f54ab6462325d/95045/images/testimonials/gabi.jpeg"
              alt=""
            />
            <div class="flex gap-1 mx-auto justify-center mt-6">
              <svg
                class="icon icon-tabler fill-cyan-400 h-4 icon-tabler-star text-cyan-400 w-4"
                fill="currentColor"
                stroke="currentColor"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                xmlns="http://www.w3.org/2000/svg"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
                <path
                  d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                ></path>
              </svg>
              <svg
                class="icon icon-tabler fill-cyan-400 h-4 icon-tabler-star text-cyan-400 w-4"
                fill="currentColor"
                stroke="currentColor"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                xmlns="http://www.w3.org/2000/svg"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
                <path
                  d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                ></path>
              </svg>
              <svg
                class="icon icon-tabler fill-cyan-400 h-4 icon-tabler-star text-cyan-400 w-4"
                fill="currentColor"
                stroke="currentColor"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                xmlns="http://www.w3.org/2000/svg"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
                <path
                  d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                ></path>
              </svg>
              <svg
                class="icon icon-tabler fill-cyan-400 h-4 icon-tabler-star text-cyan-400 w-4"
                fill="currentColor"
                stroke="currentColor"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                xmlns="http://www.w3.org/2000/svg"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
                <path
                  d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                ></path>
              </svg>
              <svg
                class="icon icon-tabler fill-cyan-400 h-4 icon-tabler-star text-cyan-400 w-4"
                fill="currentColor"
                stroke="currentColor"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                xmlns="http://www.w3.org/2000/svg"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
                <path
                  d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                ></path>
              </svg>
            </div>
          </div>
          <div class="p-4 lg:p-10 text-center">
            <img
              class="inline-block h-10 w-10 rounded-full ring-2 ring-white ring-offset-4 ring-offset-vulcan-900"
              src="https://pbs.twimg.com/profile_images/1039477099768295424/DkFxqf2V_400x400.jpg"
              alt=""
            />

            <div>
              <p class="text-slate-400 text-xs mt-8">
                <strong class="text-white">Volkan Kaja</strong> ― Founder of Versoly
              </p>
            </div>
            <div class="mt-4 text-base text-slate-400">
              Mike leveraged his previous experience to
              <span class="block">
                build out a few landing pages very quickly for Versoly
              </span>
            </div>
            <div class="flex gap-1 mx-auto justify-center mt-6">
              <svg
                class="icon icon-tabler fill-cyan-400 h-4 icon-tabler-star text-cyan-400 w-4"
                fill="currentColor"
                stroke="currentColor"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                xmlns="http://www.w3.org/2000/svg"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
                <path
                  d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                ></path>
              </svg>
              <svg
                class="icon icon-tabler fill-cyan-400 h-4 icon-tabler-star text-cyan-400 w-4"
                fill="currentColor"
                stroke="currentColor"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                xmlns="http://www.w3.org/2000/svg"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
                <path
                  d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                ></path>
              </svg>
              <svg
                class="icon icon-tabler fill-cyan-400 h-4 icon-tabler-star text-cyan-400 w-4"
                fill="currentColor"
                stroke="currentColor"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                xmlns="http://www.w3.org/2000/svg"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
                <path
                  d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                ></path>
              </svg>
              <svg
                class="icon icon-tabler fill-cyan-400 h-4 icon-tabler-star text-cyan-400 w-4"
                fill="currentColor"
                stroke="currentColor"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                xmlns="http://www.w3.org/2000/svg"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
                <path
                  d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                ></path>
              </svg>
              <svg
                class="icon icon-tabler fill-cyan-400 h-4 icon-tabler-star text-cyan-400 w-4"
                fill="currentColor"
                stroke="currentColor"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                xmlns="http://www.w3.org/2000/svg"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
                <path
                  d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                ></path>
              </svg>
            </div>
          </div>
          <div class="p-4 lg:p-10 text-center">
            <img
              class="inline-block h-10 w-10 rounded-full ring-2 ring-white ring-offset-4 ring-offset-vulcan-900"
              src="https://d33wubrfki0l68.cloudfront.net/05a6c2e973f7b38e7b5f5fb1923ed9507d6fc68d/10e85/images/testimonials/mike.png"
              alt=""
            />

            <div>
              <p class="text-slate-400 text-xs mt-8">
                <strong class="text-white">Mike Jones</strong> ― Blogger at Raspada
              </p>
            </div>
            <div class="mt-4 text-base text-slate-400">
              I have had the absolute pleasure of working
              <span class="block">
                with Mike in the past when building my blog Raspada.
              </span>
            </div>
            <div class="flex gap-1 mx-auto justify-center mt-6">
              <svg
                class="icon icon-tabler fill-cyan-400 h-4 icon-tabler-star text-cyan-400 w-4"
                fill="currentColor"
                stroke="currentColor"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                xmlns="http://www.w3.org/2000/svg"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
                <path
                  d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                ></path>
              </svg>
              <svg
                class="icon icon-tabler fill-cyan-400 h-4 icon-tabler-star text-cyan-400 w-4"
                fill="currentColor"
                stroke="currentColor"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                xmlns="http://www.w3.org/2000/svg"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
                <path
                  d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                ></path>
              </svg>
              <svg
                class="icon icon-tabler fill-cyan-400 h-4 icon-tabler-star text-cyan-400 w-4"
                fill="currentColor"
                stroke="currentColor"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                xmlns="http://www.w3.org/2000/svg"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
                <path
                  d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                ></path>
              </svg>
              <svg
                class="icon icon-tabler fill-cyan-400 h-4 icon-tabler-star text-cyan-400 w-4"
                fill="currentColor"
                stroke="currentColor"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                xmlns="http://www.w3.org/2000/svg"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
                <path
                  d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                ></path>
              </svg>
              <svg
                class="icon icon-tabler fill-cyan-400 h-4 icon-tabler-star text-cyan-400 w-4"
                fill="currentColor"
                stroke="currentColor"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                xmlns="http://www.w3.org/2000/svg"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
                <path
                  d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                ></path>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
