<section aria-labelledby="demopages" id="demospages">
  <div class="max-w-7xl px-8 md:px-12 lg:px-32 mx-auto py-12 relative lg:py-36">
    <div class="justify-center max-w-3xl">
      <div>
        <span
          class="text-transparent bg-clip-text font-medium tracking-widest bg-gradient-to-r from-cyan-400 via-cyan-500 to-indigo-500 text-xs uppercase">
          Explore all pages and sections.</span
        >
        <p class="text-3xl mt-8 font-normal text-white">Overview</p>
      </div>
    </div><div class="gap-12 grid grid-cols-2 lg:grid-cols-5 md:grid-cols-3">
      <div class="text-sm mt-10">
        <div class="flex flex-col justify-start">
          <p class="text-lg font-medium text-white lg:text-xl">
            Landing Pages
          </p><a class="text-sm text-slate-500 hover:text-white mt-4" href="/"
            >Landing One
          </a>
          <a
            class="text-sm text-slate-500 hover:text-white mt-4"
            href="/index-2">Landing Page Two</a
          >
          <a
            class="text-sm text-slate-500 hover:text-white mt-4"
            href="/index-3">Landing Page Three</a
          >
          <a
            class="text-sm text-slate-500 hover:text-white mt-4"
            href="/about-one"
            >About
          </a>
          <p class="text-lg font-medium text-white lg:text-xl mt-12">
            Integrations
          </p><a
            class="text-sm text-slate-500 hover:text-white mt-4"
            href="/integrations">Integrations Home</a
          >
          <a
            class="text-sm text-slate-500 hover:text-white mt-4"
            href="/integrations-details">Integrations Details</a
          >
          <p class="text-lg font-medium text-white lg:text-xl mt-12">
            Help Center
          </p><a
            class="text-sm text-slate-500 hover:text-white mt-4"
            href="/help">Help Home</a
          >
          <a
            class="text-sm text-slate-500 hover:text-white mt-4"
            href="/help-categories">Help Categoires</a
          >
          <a
            class="text-sm text-slate-500 hover:text-white mt-4"
            href="/help-details">Help Details</a
          >
        </div>
      </div><div class="text-sm mt-10">
        <div class="flex flex-col justify-start">
          <p class="text-lg font-medium text-white lg:text-xl">
            Pricing Pages
          </p><a
            class="text-sm text-slate-500 hover:text-white mt-4"
            href="/pricing-one"
            >Pricing Page One
          </a><a
            class="text-sm text-slate-500 hover:text-white mt-4"
            href="/pricing-two"
            >Pricing Page Two
          </a><a
            class="text-sm text-slate-500 hover:text-white mt-4"
            href="/pricing-three">Pricing Page Three</a
          ><p class="text-lg font-medium text-white lg:text-xl mt-12">
            Blog Pages
          </p><a
            class="text-sm text-slate-500 hover:text-white mt-4"
            href="/blog-one">Blog home One</a
          >
          <a
            class="text-sm text-slate-500 hover:text-white mt-4"
            href="/blog-two">Blog home Two</a
          >
          <a
            class="text-sm text-slate-500 hover:text-white mt-4"
            href="/posts/1"
            >Blog Post One
          </a>
          <a class="text-sm text-slate-500 hover:text-white mt-4" href="/tags"
            >Tag index</a
          >
          <a
            class="text-sm text-slate-500 hover:text-white mt-4"
            href="/rss.xml">RSS</a
          >
        </div>
      </div><div class="text-sm mt-10">
        <div class="flex flex-col justify-start">
          <p class="text-lg font-medium text-white lg:text-xl">
            Utility Pages
          </p><a
            class="text-sm text-slate-500 hover:text-white mt-4"
            href="/changelog"
            >Changelog home
          </a>
          <a
            class="text-sm text-slate-500 hover:text-white mt-4"
            href="/changelog-details"
            >Changelog detail
          </a>
          <a class="text-sm text-slate-500 hover:text-white mt-4" href="/dpa"
            >Data Process Agreement
          </a><a
            class="text-sm text-slate-500 hover:text-white mt-4"
            href="/terms"
            >Terms Of use
          </a>
          <a
            class="text-sm text-slate-500 hover:text-white mt-4"
            href="/privacy"
            >Privacy Policy
          </a>
          <a
            class="text-sm text-slate-500 hover:text-white mt-4"
            href="/cookies">Cookies</a
          >
          <a class="text-sm text-slate-500 hover:text-white mt-4" href="/404"
            >404</a
          >
          <a class="text-sm text-slate-500 hover:text-white mt-4" href="/brand"
            >Brand</a
          ><p class="text-lg font-medium text-white lg:text-xl mt-12">
            All sections
          </p><a
            class="text-sm text-slate-500 hover:text-white mt-4"
            href="/all-features">All feature sections</a
          >
          <a
            class="text-sm text-slate-500 hover:text-white mt-4"
            href="/all-pricing"
            >All pricing
          </a>
        </div>
      </div><div class="text-sm mt-10">
        <div class="flex flex-col justify-start">
          <p class="text-lg font-medium text-white lg:text-xl">Forms Pages</p><a
            class="text-sm text-slate-500 hover:text-white mt-4"
            href="/contact"
            >Contact
          </a>
          <a
            class="text-sm text-slate-500 hover:text-white mt-4"
            href="/contact-two"
            >Contact Two
          </a>
          <a class="text-sm text-slate-500 hover:text-white mt-4" href="/signin"
            >Signin
          </a><a
            class="text-sm text-slate-500 hover:text-white mt-4"
            href="/signup"
            >Sign up
          </a>
          <a class="text-sm text-slate-500 hover:text-white mt-4" href="/forgot"
            >Forgot Password</a
          ><a
            class="text-sm text-slate-500 hover:text-white mt-4"
            href="/coming-soon">Coming soon</a
          >
          <a
            class="text-sm text-slate-500 hover:text-white mt-4"
            href="/download"
            >Download
          </a>
          <p class="text-lg font-medium text-white lg:text-xl mt-12">Jobs</p><a
            class="text-sm text-slate-500 hover:text-white mt-4"
            href="/jobs">Jobs home</a
          >
          <a
            class="text-sm text-slate-500 hover:text-white mt-4"
            href="/job-entries"
            >Job entries
          </a>
          <a
            class="text-sm text-slate-500 hover:text-white mt-4"
            href="/job-details"
            >Job details
          </a>
        </div>
      </div><div class="text-sm mt-10">
        <div class="flex flex-col justify-start">
          <p class="text-lg font-medium text-white lg:text-xl">Customers</p><a
            class="text-sm text-slate-500 hover:text-white mt-4"
            href="/customers">Customers home</a
          >
          <a
            class="text-sm text-slate-500 hover:text-white mt-4"
            href="/case-study">Case study</a
          >
          <p class="text-lg font-medium text-white lg:text-xl mt-12">
            Method
          </p><a
            class="text-sm text-slate-500 hover:text-white mt-4"
            href="/method">Method home</a
          >
          <a
            class="text-sm text-slate-500 hover:text-white mt-4"
            href="/method-details">Method details</a
          >
          <p class="text-lg font-medium text-white lg:text-xl mt-12">
            System Pages
          </p><a
            class="text-sm text-slate-500 hover:text-white mt-4"
            href="/styleguide">Style Guide</a
          >
          <a
            class="text-sm text-slate-500 hover:text-white mt-4"
            href="https://lexingtonthemes.com/license.html">License</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
