---
import Verticalgrid from "../assets/VerticalGrid.astro";
---

<section aria-labelledby="styleguide" id="styleguide " class="relative">
  <Verticalgrid />
  <div class="max-w-7xl px-8 md:px-12 lg:px-32 mx-auto py-12 lg:pt-36 relative">
    <div>
      <div class="max-w-xl">
        <p class="text-3xl font-medium tracking-tight text-white lg:text-5xl">
          Style guide
        </p>
      </div>
      <div class="max-w-xl">
        <div class="pt-3 pb-12 mt-12">
          <p
            class="bg-gradient-to-r from-cyan-400 via-cyan-500 to-indigo-500 text-transparent bg-clip-text lg:pl-4 lg:border-l border-white mt-3 lg:mt-0 uppercase">
            Typograpy: Inter
          </p>
        </div>
        <div class="py-3 space-y-6">
          <div class="grid grid-cols-3 lg:grid-cols-4 items-end">
            <div><span class="text-slate-400">Header 1</span></div>
            <div class="col-span-2 lg:col-span-3">
              <span class="text-3xl lg:text-4xl font-normal text-white"
                >Header 1
              </span>
            </div>
          </div>
          <div class="grid grid-cols-3 lg:grid-cols-4 items-end">
            <div><span class="text-slate-400">Header 2</span></div>
            <div class="col-span-2 lg:col-span-3">
              <span class="text-2xl lg:text-2xl font-normal text-white"
                >Header 2
              </span>
            </div>
          </div>
          <div class="grid grid-cols-3 lg:grid-cols-4 items-end">
            <div><span class="text-slate-400">Header 3</span></div>
            <div class="col-span-2 lg:col-span-3">
              <span class="text-xl text-white lg:text-xl">Header 3</span>
            </div>
          </div>
          <div class="grid grid-cols-3 lg:grid-cols-4 items-end">
            <div><span class="text-slate-400">Header 4</span></div>
            <div class="col-span-2 lg:col-span-3">
              <span class="text-lg text-white lg:text-lg">Header 4</span>
            </div>
          </div>
          <div class="grid grid-cols-3 lg:grid-cols-4 items-end">
            <div><span class="text-slate-400">Header 5</span></div>
            <div class="col-span-2 lg:col-span-3">
              <span class="text-base font-medium text-white lg:text-base"
                >Header 5
              </span>
            </div>
          </div>
          <div class="grid grid-cols-3 lg:grid-cols-4 items-end">
            <div><span class="text-slate-400">Header 6</span></div>
            <div class="col-span-2 lg:col-span-3">
              <span class="text-sm font-medium text-white lg:text-sm"
                >Header 6
              </span>
            </div>
          </div>

          <div class="grid grid-cols-3 lg:grid-cols-4 items-end">
            <div><span class="text-slate-400">Link</span></div>
            <div class="col-span-2 lg:col-span-3">
              <span class="text-sm text-cyan-300 hover:text-white underlined"
                >Link text
              </span>
            </div>
          </div>
          <div class="grid grid-cols-3 lg:grid-cols-4 items-end">
            <div><span class="text-slate-400">Subtitle</span></div>
            <div class="col-span-2 lg:col-span-3">
              <span class="text-xl font-medium leading-6 text-white"
                >Subtitle text
              </span>
            </div>
          </div>
          <div class="grid grid-cols-3 lg:grid-cols-4 items-end">
            <div><span class="text-slate-400">Paragraph</span></div>
            <div class="col-span-2 lg:col-span-3">
              <span class="text-sm text-slate-400"
                >I am so happy, my dear friend, so absorbed in the exquisite
                sense of mere tranquil existence, that I neglect my talents.
              </span>
            </div>
          </div>
          <div class="grid grid-cols-3 lg:grid-cols-4 items-end">
            <div><span class="text-slate-400">Caption</span></div>
            <div class="col-span-2 lg:col-span-3">
              <span class="text-sm text-slate-400">Picture about somethign</span
              >
            </div>
          </div>
          <div class="grid grid-cols-3 lg:grid-cols-4 items-end">
            <div>
              <span class="text-slate-400">List</span>
            </div>
            <div class="col-span-2 lg:col-span-3">
              <ul
                class="list-decimal text-sm list-inside space-y-3 mt-6 text-slate-400"
                role="list">
                <li>Next.js and/or Nuxt.js</li>
                <li>CReact Native .</li>
                <li>AWS and/or Firebase</li>
                <li>Familiarity with noSQL databases</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="max-w-7xl px-8 md:px-12 lg:px-32 mx-auto py-12 lg:pb-36 relative">
    <div>
      <div class="pt-3 pb-12 mt-12">
        <p
          class="bg-gradient-to-r from-cyan-400 via-cyan-500 to-indigo-500 text-transparent bg-clip-text lg:pl-4 lg:border-l border-white mt-3 lg:mt-0 uppercase">
          Colors: Main palette
        </p>
      </div>
      <div class="grid grid-cols-4 lg:grid-cols-6 py-3 gap-2 max-w-3xl">
        <div class="bg-white border p-6 rounded-md lg:p-12 w-full"></div>
        <div class="bg-cyan-400 p-6 rounded-md lg:p-12 w-full"></div>
        <div class="bg-indigo-500 p-6 rounded-md lg:p-12 w-full"></div>
        <div class="bg-slate-400 p-6 rounded-md lg:p-12 w-full"></div>
        <div
          class="bg-vulcan-900 border border-white/5 p-6 rounded-md lg:p-12 w-full">
        </div>
        <div
          class="bg-gradient-to-r from-cyan-400 via-cyan-500 to-indigo-500 p-6 rounded-md lg:p-12 w-full">
        </div>
      </div>
    </div>
  </div>
</section>
