<section class="outfit">
  <div
    class="relative flex justify-center max-h-full overflow-hidden lg:px-0 md:px-12">
    <div
      class="relative z-10 flex flex-col flex-1 px-8 py-32 bg-vulcan-900 shadow-2xl lg:py-16 md:flex-none md:px-28 sm:justify-center">
      <div class="w-full max-w-md mx-auto md:max-w-sm md:px-0 md:w-96 sm:px-4">
        <div class="flex flex-col">
          <div>
            <h2 class="text-3xl font-normal text-white">Let's get started!</h2>
            <p class="mt-2 text-sm text-slate-400">
              Complete the details below so I can process your request and then
              schedule a time to discuss your goals.
            </p>
          </div>
        </div>
        <form>
          <input autocomplete="false" name="hidden" style="display: none" />
          <input
            name="_redirect"
            type="hidden"
            value="https://jamstacker.studio/thankyou"
          />
          <div class="mt-4 space-y-6">
            <div>
              <label
                class="block mb-3 text-sm font-medium text-slate-400"
                name="name">First name</label
              >
              <input
                class="block w-full px-4 py-3 border bg-transparent border-white/10 rounded-xl appearance-none text-cyan-300 placeholder-white/50 focus:border-cyan-300 focus:bg-transparent focus:outline-none focus:ring-cyan-300 sm:text-sm"
                placeholder="Your name"
              />
            </div>
            <div class="col-span-full">
              <label
                class="block mb-3 text-sm font-medium text-slate-400"
                name="company"
                >What is the name of your company / organisation?</label
              >
              <input
                class="block w-full px-4 py-3 border bg-transparent border-white/10 rounded-xl appearance-none text-cyan-300 placeholder-white/50 focus:border-cyan-300 focus:bg-transparent focus:outline-none focus:ring-cyan-300 sm:text-sm"
                placeholder="Company name"
              />
            </div>
            <div class="col-span-full">
              <label
                class="block mb-3 text-sm font-medium text-slate-400"
                name="email">How shall we contact you?</label
              >
              <input
                class="block w-full px-4 py-3 border bg-transparent border-white/10 rounded-xl appearance-none text-cyan-300 placeholder-white/50 focus:border-cyan-300 focus:bg-transparent focus:outline-none focus:ring-cyan-300 sm:text-sm"
                placeholder="email@example.com"
                autocomplete="off"
                type="email"
              />
            </div>
            <div>
              <label
                class="block mb-3 text-sm font-medium text-slate-400"
                name="message">Project details</label
              >
              <div class="mt-1">
                <textarea
                  class="block w-full px-4 py-3 border bg-transparent border-white/10 rounded-xl appearance-none text-cyan-300 placeholder-white/50 focus:border-cyan-300 focus:bg-transparent focus:outline-none focus:ring-cyan-300 sm:text-sm"
                  placeholder="What are you working on?"
                  rows="4"></textarea>
              </div>
            </div>

            <div class="col-span-full">
              <button
                class="inline-flex items-center justify-center w-full px-6 py-3 text-center text-white hover:to-indigo-400 duration-200 bg-gradient-to-r from-sky-400 to-indigo-500 font-medium rounded-xl hover:text-white focus:outline-none focus-visible:outline-black focus-visible:ring-black"
                type="submit">
                Submit your request
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div
      class="hidden bg-vulcan-900 lg:block lg:flex-1 lg:relative sm:contents lg:order-first">
      <div
        class="absolute inset-0 object-cover w-full bg-vulcan-900"
        alt=""
        height="1866"
        width="1664">
        <img
          class="object-center w-full h-full bg-top object-cover"
          src="/assets/wallpaper.svg"
          alt=""
          width="1310"
          height="873"
        />
      </div>
    </div>
  </div>
</section>
