---
import {useTranslations, getLangFromUrl, useTranslatedPath} from "../../i18n/utils"

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatedPath = useTranslatedPath(lang);
---
<section
  aria-labelledby="navigation"
  id="navigation"
  class="overflow-hidden relatve bg-vulcan-900/20 border-b border-white/5 backdrop-blur-2xl lg:bg-vulcan-900/0 z-50 fixed w-full">
  <div class="w-full mx-auto max-w-7xl relative">
    <div
      x-data="{ open: false }"
      class="relative flex flex-col w-full py-5 px-8 mx-auto md:items-center md:justify-between md:flex-row md:px-12 lg:px-32">
      <div
        class="flex flex-row items-center justify-between text-white lg:justify-start">
        <a href={translatedPath("/")} class="lg:pr-8">
          <div class="inline-flex items-center gap-3">
            <img src="/logos/logo.png" class="w-12"></img>
            <p class="text-2xl font-bold">Tuist</p>
          </div>
        </a>
        <button
          @click="open = !open"
          class="inline-flex items-center justify-center p-2 text-white hover:text-indigo-400 focus:outline-none focus:text-white md:hidden">
          <svg
            class="w-6 h-6"
            stroke="currentColor"
            fill="none"
            viewBox="0 0 24 24">
            <path
              :class="{'hidden': open, 'inline-flex': !open }"
              class="inline-flex"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"></path>
            <path
              :class="{'hidden': !open, 'inline-flex': open }"
              class="hidden"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </button>
      </div>
      <nav
        :class="{'flex': open, 'hidden': !open}"
        class="flex-col items-center flex-grow hidden md:pb-0 md:flex md:justify-end md:flex-row">
        <a
          class="px-2 lg:px-6 py-2 md:px-3 text-sm text-white font-normal hover:text-white/50 lg:ml-auto"
          href="/blog">{t('nav.blog')}</a
        >
        <a
          class="px-2 lg:px-6 py-2 md:px-3 text-sm text-white font-normal hover:text-white/50"
          href="https://docs.tuist.io">{t("nav.docs")}</a
        >

        <a
          class="px-2 lg:px-6 py-2 md:px-3 text-sm text-white font-normal hover:text-white/50"
          href="https://join.slack.com/t/tuistapp/shared_invite/zt-1y667mjbk-s2LTRX1YByb9EIITjdLcLw">{t("nav.slack")}</a
        >

        <a
          class="px-2 lg:px-6 py-2 md:px-3 text-sm text-white font-normal hover:text-white/50"
          href="https://github.com/tuist/tuist">{t("nav.github")}</a
        >

        <a
          class="px-2 lg:px-6 py-2 md:px-3 text-sm text-white font-normal hover:text-white/50"
          href="https://t.me/tuist">{t("nav.telegram")}</a
        >

        <a
          href={translatedPath("/cloud")}
          class="inline-flex items-center justify-center px-6 py-2 text-sm text-center text-white hover:to-indigo-400 duration-200 bg-gradient-to-r from-sky-400 to-indigo-500 font-medium hover:bg-white/5 rounded-xl hover:text-white focus:outline-none focus-visible:outline-black focus-visible:ring-black lg:ml-auto">
          {t("nav.cloud")}
        </a>
      </nav>
    </div>
  </div>
</section>
