---
import {useTranslations, getLangFromUrl, useTranslatedPath, getLangFromPath} from "../../i18n/utils"
import {ui as languages} from "../../i18n/ui"
const { lang, url } = Astro.props;
const t = useTranslations(lang);
const translatedPath = useTranslatedPath(lang);

const languageTranslatedPaths = Object.fromEntries(Object.keys(languages).map((destLanguage) => {
  if (!url) { return [destLanguage, "#"]}
  const rawPath = url.pathname.replace(`/${getLangFromPath(url.pathname)}`, ``)
  // @ts-ignore
  const path = useTranslatedPath(destLanguage)(rawPath)
  return [destLanguage, path]
}))
---
<section
  aria-labelledby="navigation"
  id="navigation"
  class="relatve bg-vulcan-900/20 border-b border-white/5 backdrop-blur-2xl lg:bg-vulcan-900/0 z-50 fixed w-full">
  <div class="w-full mx-auto max-w-7xl relative">
    <div
      x-data="{ open: false }"
      class="relative flex flex-col w-full py-5 px-8 mx-auto md:items-center md:justify-between md:flex-row md:px-12 lg:px-32">
      <div
        class="flex flex-row items-center justify-between text-white lg:justify-start">
        <a href={translatedPath("/")} class="lg:pr-8">
          <div class="inline-flex items-center gap-3">
            <img src="/logos/logo.png" class="w-12"></img>
            <p class="text-2xl font-bold">Tuist</p>
          </div>
        </a>
        <button
          @click="open = !open"
          class="inline-flex items-center justify-center p-2 text-white hover:text-indigo-400 focus:outline-none focus:text-white md:hidden">
          <svg
            class="w-6 h-6"
            stroke="currentColor"
            fill="none"
            viewBox="0 0 24 24">
            <path
              :class="{'hidden': open, 'inline-flex': !open }"
              class="inline-flex"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"></path>
            <path
              :class="{'hidden': !open, 'inline-flex': open }"
              class="hidden"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </button>
      </div>
      <nav
        :class="{'flex': open, 'hidden': !open}"
        class="flex-col items-center flex-grow hidden md:pb-0 md:flex md:justify-end md:flex-row">
        <a
          class="px-2 lg:px-6 py-2 md:px-3 text-sm text-white font-normal hover:text-white/50 lg:ml-auto"
          href="/blog">{t('nav.blog')}</a
        >
        <a
          class="px-2 lg:px-6 py-2 md:px-3 text-sm text-white font-normal hover:text-white/50"
          href="https://docs.tuist.io">{t("nav.docs")}</a
        >

        <a
          class="px-2 lg:px-6 py-2 md:px-3 text-sm text-white font-normal hover:text-white/50"
          href="https://slack.tuist.io">{t("nav.slack")}</a
        >

        <a
          class="px-2 lg:px-6 py-2 md:px-3 text-sm text-white font-normal hover:text-white/50"
          href="https://github.com/tuist/tuist">{t("nav.github")}</a
        >

        <a
          class="px-2 lg:px-6 py-2 md:px-3 text-sm text-white font-normal hover:text-white/50"
          href="https://handbook.tuist.io">{t("nav.handbook")}</a
        >

        <a
          class="px-2 lg:px-6 py-2 md:px-3 text-sm text-white font-normal hover:text-white/50"
          href="https://lists.tuist.io/subscription/form">{t("nav.newsletter")}</a
        >

        <div class="flex flex-col md:margin-y-2 space-y-6 mt-3 lg:mt-0 lg:space-y-0 lg:flex-row items-center lg:ml-auto md:space-x-6">
          <div class="relative inline-block" x-data="{ open: false }">
            <button class="text-white uppercase flex flex-row items-center text-sm" x-on:click="open = ! open">
              {lang} 
              <svg class="-mr-1 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
              </svg>
            </button>
            <div :class="open ? '' : 'hidden'" class="absolute lg:right-0 mt-2 w-56 origin-center lg:origin-top-right rounded-md bg-vulcan-900 shadow-lg ring-1 ring-white ring-opacity-10 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
              <div class="py-1" role="none">
                {Object.keys(languages).map((lang) => (
                  <a href={languageTranslatedPaths[lang]} class="text-gray-200 block px-4 py-2 text-sm uppercase hover:text-indigo-500" role="menuitem" tabindex="-1" id="menu-item-0">{lang}</a>
                 ))}
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>
</section>
