<section
  aria-labelledby="navigation"
  id="navigation"
  class="overflow-hidden relatve bg-vulcan-900/20 border-b border-white/5 backdrop-blur-2xl lg:bg-vulcan-900/0 z-50 fixed w-full">
  <div class="w-full mx-auto max-w-7xl relative">
    <div
      x-data="{ open: false }"
      class="relative flex flex-col w-full py-5 px-8 mx-auto md:items-center md:justify-between md:flex-row md:px-12 lg:px-32">
      <div
        class="flex flex-row items-center justify-between text-white lg:justify-start">
        <a href="/" class="lg:pr-8">
          <div class="inline-flex items-center gap-3">
            <svg  class="h-10" id="logo-70" viewBox="0 0 407 407" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="203.5" cy="203.5" r="203.5" fill="url(#paint0_linear_101_5)"/>
              <path d="M100.902 294.082C100.902 294.082 143.722 328.144 204.772 328.144C265.822 328.144 308.642 294.082 308.642 294.082" stroke="white" stroke-width="10.175"/>
              <path d="M89.0312 236.259C89.0312 236.259 163.224 325.6 204.772 325.6C246.32 325.6 320.513 236.259 320.513 236.259" stroke="white" stroke-width="10.175"/>
              <path d="M89.0312 164.785C89.0312 164.785 163.224 325.6 204.772 325.6C246.32 325.6 320.513 164.785 320.513 164.785" stroke="white" stroke-width="10.175"/>
              <path d="M136.515 102.246C136.515 102.246 183.15 325.6 204.772 325.6C226.394 325.6 273.029 102.246 273.029 102.246" stroke="white" stroke-width="10.175"/>
              <line x1="205.62" y1="325.6" x2="205.62" y2="81.4" stroke="white" stroke-width="10.175"/>
              <defs>
              <linearGradient id="paint0_linear_101_5" x1="203.5" y1="0" x2="203.5" y2="407" gradientUnits="userSpaceOnUse">
              <stop stop-color="#6236FF"/>
              <stop offset="1" stop-color="#3000DA"/>
              </linearGradient>
              </defs>
              </svg>
              
            <p class="text-2xl font-bold">Tuist</p>
          </div>
        </a>
        <button
          @click="open = !open"
          class="inline-flex items-center justify-center p-2 text-white hover:text-indigo-400 focus:outline-none focus:text-white md:hidden">
          <svg
            class="w-6 h-6"
            stroke="currentColor"
            fill="none"
            viewBox="0 0 24 24">
            <path
              :class="{'hidden': open, 'inline-flex': !open }"
              class="inline-flex"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"></path>
            <path
              :class="{'hidden': !open, 'inline-flex': open }"
              class="hidden"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </button>
      </div>
      <nav
        :class="{'flex': open, 'hidden': !open}"
        class="flex-col items-center flex-grow hidden md:pb-0 md:flex md:justify-end md:flex-row">
        <a
          class="px-2 lg:px-6 py-2 md:px-3 text-sm text-white font-normal hover:text-white/50 lg:ml-auto"
          href="/overview">Overview</a
        >
        <a
          class="px-2 lg:px-6 py-2 md:px-3 text-sm text-white font-normal hover:text-white/50"
          target="_blank"
          href="https://docs.tuist.io/">Documentation</a
        >

        <a
          class="px-2 lg:px-6 py-2 md:px-3 text-sm text-white font-normal hover:text-white/50"
          target="_blank"
          href="https://join.slack.com/t/tuistapp/shared_invite/zt-1lqw355mp-zElRwLeoZ2EQsgGEkyaFggQ">Slack</a
        >

        <a
          href="https://lexingtonthemes.lemonsqueezy.com/checkout/buy/cad98266-24b3-47fd-99a6-e65ad9af37f6"
          target="_blank"
          class="inline-flex items-center justify-center px-6 py-2 text-sm text-center text-white hover:to-indigo-400 duration-200 bg-gradient-to-r from-sky-400 to-indigo-500 font-medium hover:bg-white/5 rounded-xl hover:text-white focus:outline-none focus-visible:outline-black focus-visible:ring-black lg:ml-auto">
          GitHub
        </a>
      </nav>
    </div>
  </div>
</section>
